In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_bank_bs as bbs

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

In [3]:
# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)

In [4]:
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

In [5]:
# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

In [8]:
df = pd.read_sql_query(
    """ SELECT * FROM BANK_BALANCE_SHEET
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/bank/algo_bbs.xlsx")

In [9]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,BBS_100,BBS_110,BBS_120,...,BBS_213,BBS_300,BBS_371,BBS_372,BBS_373,BBS_379,BBS_910,BBS_920,CREATED_DATE,UPDATED_DATE
0,52573,2020-03-31,NaT,Q,ABB,N,3.0,9.537147e+13,5.828212e+11,1.199688e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.859534,2021-06-27 04:43:39.859534
1,52573,2020-03-31,NaT,Q,ACB,N,3.0,3.873961e+14,5.466150e+12,1.267115e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.859534,2021-06-27 04:43:39.859534
2,52573,2020-03-31,NaT,Q,BAB,N,3.0,1.098287e+14,5.554590e+11,2.828260e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.859534,2021-06-27 04:43:39.859534
3,52573,2020-03-31,NaT,Q,BAOVIETBANK,N,3.0,4.769021e+13,1.291240e+11,6.195074e+11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.859534,2021-06-27 04:43:39.859534
4,52573,2020-03-31,NaT,Q,BID,N,3.0,1.446044e+15,9.097015e+12,2.678262e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.859534,2021-06-27 04:43:39.859534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,43431121,2023-03-31,NaT,Q,VAB,N,3.0,9.479152e+13,3.364633e+11,1.211673e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-28 09:28:16.813236,2023-04-28 09:28:16.813236
498,43372908,2022-12-31,NaT,Y,STB,Y,12.0,5.919077e+14,7.849898e+12,1.228612e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-30 15:49:03.241554,2023-03-31 16:39:59.316599
499,43434290,2023-03-31,NaT,Q,CTG,N,3.0,1.823962e+15,1.050989e+13,2.247973e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-03 00:55:17.546981,2023-05-03 00:55:17.546981
500,43433379,2023-03-31,NaT,Q,HDB,N,3.0,4.588027e+14,2.691430e+12,1.216227e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-29 17:49:17.445238,2023-04-29 17:49:17.445238
501,43433554,2023-03-31,NaT,Q,MSB,N,3.0,2.354732e+14,1.217649e+12,2.243322e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-30 15:53:44.658987,2023-04-30 15:53:44.658987

In [10]:
bbs.check_bbs_100(df=df)

CHECK ITEM & SUB-ITEMS BBS_100

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_100, BBS_110, BBS_120, BBS_130, BBS_140, BBS_150, BBS_160, BBS_180, BBS_170, BBS_210, BBS_220, BBS_240, BBS_250]
Index: []

In [11]:
bbs.check_bbs_130(df=df)

CHECK ITEM & SUB-ITEMS BBS_130

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_130, BBS_131, BBS_132, BBS_139]
Index: []

In [12]:
bbs.check_bbs_140(df=df)

CHECK ITEM & SUB-ITEMS BBS_140

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_140, BBS_141, BBS_149]
Index: []

In [13]:
bbs.check_bbs_160(df=df)

CHECK ITEM & SUB-ITEMS BBS_160

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_160, BBS_161, BBS_169]
Index: []

In [14]:
bbs.check_bbs_170(df=df)

CHECK ITEM & SUB-ITEMS BBS_170

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_170, BBS_171, BBS_172, BBS_179]
Index: []

In [15]:
bbs.check_bbs_210(df=df)

CHECK ITEM & SUB-ITEMS BBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_210, BBS_211, BBS_212, BBS_214, BBS_219]
Index: []

In [16]:
bbs.check_bbs_221(df=df)

CHECK ITEM & SUB-ITEMS BBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_221, BBS_222, BBS_223]
Index: []

In [17]:
bbs.check_bbs_224(df=df)

CHECK ITEM & SUB-ITEMS BBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_224, BBS_225, BBS_226]
Index: []

In [18]:
bbs.check_bbs_227(df=df)

CHECK ITEM & SUB-ITEMS BBS_227

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_227, BBS_228, BBS_229]
Index: []

In [19]:
bbs.check_bbs_240(df=df)

CHECK ITEM & SUB-ITEMS BBS_240

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_240, BBS_241, BBS_242]
Index: []

In [20]:
bbs.check_bbs_250(df=df)

CHECK ITEM & SUB-ITEMS BBS_250

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_250, BBS_251, BBS_252, BBS_253, BBS_254, BBS_259]
Index: []

In [21]:
bbs.check_bbs_320(df=df)

CHECK ITEM & SUB-ITEMS BBS_320

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_320, BBS_321, BBS_322]
Index: []

In [22]:
bbs.check_bbs_400(df=df)

CHECK ITEM & SUB-ITEMS BBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_400, BBS_310, BBS_320, BBS_330, BBS_340, BBS_350, BBS_360, BBS_370]
Index: []

In [23]:
bbs.check_bbs_410(df=df)

CHECK ITEM & SUB-ITEMS BBS_410

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_410, BBS_411, BBS_412, BBS_413, BBS_414, BBS_415, BBS_416]
Index: []

In [24]:
bbs.check_bbs_500(df=df)

# HDB: BIS 420
# CTG: Contains BIS_470

CHECK ITEM & SUB-ITEMS BBS_500

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_500,BBS_410,BBS_420,BBS_430,BBS_440,BBS_450
4,BID,2020-03-31,Q,N,7.926932e+13,5.478041e+13,7.005898e+12,2.982630e+11,0.0,1.401534e+13
6,CTG,2020-03-31,Q,N,7.881123e+13,4.672464e+13,9.605683e+12,6.416840e+11,0.0,2.128756e+13
10,HDB,2020-03-31,Q,N,2.138781e+13,1.138166e+13,1.246161e+12,1.937000e+10,0.0,7.019397e+12
13,MBB,2020-03-31,Q,N,4.398405e+13,2.510854e+13,4.927170e+12,0.000000e+00,0.0,1.197344e+13
16,VCB,2020-06-30,Q,Y,8.957846e+13,4.242882e+13,1.218371e+13,2.726500e+10,0.0,3.484516e+13
...,...,...,...,...,...,...,...,...,...,...
489,TCB,2023-03-31,Q,N,1.179654e+14,3.620480e+13,1.160668e+13,4.648000e+09,0.0,6.897932e+13
493,VCB,2023-03-31,Q,N,1.446584e+14,5.313039e+13,2.255683e+13,-8.425530e+11,0.0,6.971995e+13
495,VPB,2023-03-31,Q,N,1.050976e+14,6.655077e+13,1.353508e+13,0.000000e+00,0.0,1.926076e+13
499,CTG,2023-03-31,Q,N,1.129452e+14,5.786822e+13,1.607542e+13,7.535300e+10,0.0,3.816740e+13
500,HDB,2023-03-31,Q,N,4.082779e+13,2.542603e+13,3.522956e+12,1.896300e+10,0.0,1.008780e+13

In [25]:
bbs.check_bbs_800(df=df)

CHECK ITEM & SUB-ITEMS BBS_800

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_800, BBS_400, BBS_500]
Index: []