In [41]:
import pandas as pd
import numpy as np
import oracledb
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_security_bs as sbs

pd.set_option('float_format', '{:f}'.format)

In [42]:
# Assign pathlink
path_link_db_algo = r"C:\Users\tungtt1\Desktop\bsc_config\config_algo.toml"

# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)
    
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

oracledb.init_oracle_client()

# Connect to database Oracle
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=host+"/"+service_name
)

c = conn.cursor()

In [43]:
df = pd.read_sql_query(
    """ SELECT 
    * 
    FROM SECURITY_BALANCE_SHEET
    WHERE LENGTH(SECURITY_CODE) = 3
    ORDER BY REPORT_DATE ASC, SECURITY_CODE ASC
    """, con=conn
)

C:\Users\tungtt1\AppData\Local\Temp\45\ipykernel_30196\1150116652.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

In [44]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,SBS_100,SBS_110,SBS_111,...,SBS_420_1,SBS_420_2,SBS_420_3,SBS_418_1,SBS_440,SBS_440_1,SBS_440_2,SBS_119,CREATED_DATE,UPDATED_DATE
0,52603,2018-03-31,None,Q,AGR,N,3,1.653101e+12,1.625570e+12,1.956536e+11,...,0.0,0.0,0.0,0.0,1.781343e+12,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
1,52603,2018-03-31,None,Q,APG,N,3,1.440393e+11,1.433137e+11,6.101496e+08,...,0.0,0.0,0.0,0.0,1.472000e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
2,52603,2018-03-31,None,Q,APS,N,3,3.796672e+11,3.302949e+11,1.650863e+10,...,0.0,0.0,0.0,0.0,3.914339e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
3,52603,2018-03-31,None,Q,ART,N,3,4.197363e+11,3.840894e+11,8.101541e+10,...,0.0,0.0,0.0,0.0,4.459328e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
4,52603,2018-03-31,None,Q,BMS,N,3,9.246338e+11,9.223412e+11,5.292008e+09,...,0.0,0.0,0.0,0.0,9.310042e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,43637440,2023-06-30,None,Q,VIG,N,3,3.221927e+11,2.945113e+11,5.515717e+10,...,0.0,0.0,0.0,0.0,3.362266e+11,0.0,0.0,0.0,2023-07-24 14:51:39,2023-07-24 17:00:07.335293
999,43629857,2023-06-30,None,Q,VIX,N,3,8.528659e+12,8.516848e+12,2.027255e+10,...,0.0,0.0,0.0,0.0,8.552368e+12,0.0,0.0,0.0,2023-07-21 11:35:43,2023-07-21 17:00:22.943741
1000,43664547,2023-06-30,None,Q,VND,N,3,4.065292e+13,4.055569e+13,2.952081e+12,...,0.0,0.0,0.0,0.0,4.204977e+13,0.0,0.0,0.0,2023-07-30 15:57:31,2023-08-01 17:00:09.085886
1001,43631402,2023-06-30,None,Q,VUA,N,3,2.956252e+11,2.479512e+11,1.182869e+10,...,0.0,0.0,0.0,0.0,3.159874e+11,0.0,0.0,0.0,2023-07-21 16:48:25,2023-07-21 20:09:55.017513
1002,43686708,2023-06-30,None,Q,WSS,N,3,5.003128e+11,4.892193e+11,6.018818e+09,...,0.0,0.0,0.0,0.0,5.335196e+11,0.0,0.0,0.0,2023-08-03 14:49:27,2023-08-07 00:58:10.858608

In [45]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sbs.xlsx")

In [46]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,SBS_100,SBS_110,SBS_111,...,SBS_420_1,SBS_420_2,SBS_420_3,SBS_418_1,SBS_440,SBS_440_1,SBS_440_2,SBS_119,CREATED_DATE,UPDATED_DATE
0,52603,2018-03-31,None,Q,AGR,N,3,1.653101e+12,1.625570e+12,1.956536e+11,...,0.0,0.0,0.0,0.0,1.781343e+12,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
1,52603,2018-03-31,None,Q,APG,N,3,1.440393e+11,1.433137e+11,6.101496e+08,...,0.0,0.0,0.0,0.0,1.472000e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
2,52603,2018-03-31,None,Q,APS,N,3,3.796672e+11,3.302949e+11,1.650863e+10,...,0.0,0.0,0.0,0.0,3.914339e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
3,52603,2018-03-31,None,Q,ART,N,3,4.197363e+11,3.840894e+11,8.101541e+10,...,0.0,0.0,0.0,0.0,4.459328e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
4,52603,2018-03-31,None,Q,BMS,N,3,9.246338e+11,9.223412e+11,5.292008e+09,...,0.0,0.0,0.0,0.0,9.310042e+11,0.0,0.0,0.0,2021-06-27 04:54:38,2023-07-12 00:58:29.866638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,43637440,2023-06-30,None,Q,VIG,N,3,3.221927e+11,2.945113e+11,5.515717e+10,...,0.0,0.0,0.0,0.0,3.362266e+11,0.0,0.0,0.0,2023-07-24 14:51:39,2023-07-24 17:00:07.335293
999,43629857,2023-06-30,None,Q,VIX,N,3,8.528659e+12,8.516848e+12,2.027255e+10,...,0.0,0.0,0.0,0.0,8.552368e+12,0.0,0.0,0.0,2023-07-21 11:35:43,2023-07-21 17:00:22.943741
1000,43664547,2023-06-30,None,Q,VND,N,3,4.065292e+13,4.055569e+13,2.952081e+12,...,0.0,0.0,0.0,0.0,4.204977e+13,0.0,0.0,0.0,2023-07-30 15:57:31,2023-08-01 17:00:09.085886
1001,43631402,2023-06-30,None,Q,VUA,N,3,2.956252e+11,2.479512e+11,1.182869e+10,...,0.0,0.0,0.0,0.0,3.159874e+11,0.0,0.0,0.0,2023-07-21 16:48:25,2023-07-21 20:09:55.017513
1002,43686708,2023-06-30,None,Q,WSS,N,3,5.003128e+11,4.892193e+11,6.018818e+09,...,0.0,0.0,0.0,0.0,5.335196e+11,0.0,0.0,0.0,2023-08-03 14:49:27,2023-08-07 00:58:10.858608

In [47]:
sbs.check_sbs_110(df=df)

CHECK ITEM & SUB-ITEMS SBS_110

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_110,SBS_111,SBS_111_4,SBS_117,SBS_129_3
95,SHS,2018-09-30,Q,N,5.305990e+12,9.673948e+11,3.428380e+12,1.728749e+12,0.0
195,HCM,2019-03-31,Q,N,5.510119e+12,7.873358e+10,4.299096e+12,2.264579e+12,0.0
198,MBS,2019-03-31,Q,N,3.515980e+12,3.531178e+11,3.116342e+12,7.708102e+10,0.0
202,SBS,2019-03-31,Q,N,2.737123e+11,8.128407e+08,1.336929e+11,2.449042e+11,0.0
287,VUA,2019-09-30,Q,N,3.400524e+11,1.070346e+10,3.055337e+11,3.458846e+10,0.0
298,ART,2019-12-31,Q,N,1.087610e+12,3.296070e+11,7.532798e+11,8.886477e+09,0.0
319,HBS,2019-12-31,Q,N,2.021029e+11,1.609256e+11,3.517367e+10,1.200724e+10,0.0
320,HBS,2019-12-31,Y,Y,2.006461e+11,1.119256e+11,8.417367e+10,6.092918e+09,0.0
335,SBS,2019-12-31,Q,N,4.084476e+11,2.170237e+10,2.722282e+11,2.267897e+11,0.0
363,AAS,2020-03-31,Q,N,3.658637e+11,3.133366e+10,2.995586e+11,3.615445e+10,0.0
389,SSV,2020-03-31,Q,N,7.803816e+11,1.841565e+11,5.730059e+11,2.540964e+10,0.0
397,VND,2020-03-31,Q,N,1.082649e+13,3.683306e+11,1.024303e+13,2.281060e+11,0.0
399,AAS,2020-06-30,Q,Y,4.027905e+11,6.485093e+10,2.859919e+11,7.486933e+10,0.0
437,AAS,2020-09-30,Q,N,5.289978e+11,7.669772e+10,3.420528e+11,1.852767e+11,0.0
439,APG,2020-09-30,Q,N,1.537686e+11,7.466703e+08,6.895979e+10,1.413782e+11,0.0
448,EVS,2020-09-30,Q,N,1.001102e+12,5.919218e+10,9.417913e+11,1.423151e+08,0.0
472,VND,2020-09-30,Q,N,1.157042e+13,1.753148e+11,1.118179e+13,2.733983e+11,0.0
474,AAS,2020-12-31,Q,N,6.223415e+11,2.535249e+11,2.637798e+11,1.064086e+11,0.0
519,PSI,2020-12-31,Q,N,1.108299e+12,1.353068e+10,1.035049e+12,1.051211e+11,0.0
549,AAS,2021-03-31,Q,N,4.634140e+11,1.011688e+11,2.058632e+11,1.577507e+11,0.0
550,AGR,2021-03-31,Q,N,1.741896e+12,6.593075e+10,1.631220e+12,-5.400658e+11,0.0
554,BMS,2021-03-31,Q,N,6.625304e+11,6.812644e+10,5.866062e+11,1.559545e+10,0.0
555,BSI,2021-03-31,Q,N,3.870595e+12,2.529702e+11,3.535081e+12,9.958655e+10,0.0
557,CSI,2021-03-31,Q,N,1.638664e+11,6.459617e+10,9.584112e+10,4.246215e+09,0.0
561,FSC,2021-03-31,Q,N,3.239678e+12,1.746796e+10,3.195603e+12,2.905642e+10,0.0
565,HCM,2021-03-31,Q,N,1.474394e+13,2.311719e+12,1.062559e+13,3.613257e+12,0.0
566,HFT,2021-03-31,Q,N,1.038226e+12,1.402890e+08,1.003227e+12,6.396319e+10,0.0
569,ORS,2021-03-31,Q,N,2.518077e+12,2.105288e+10,1.911993e+12,1.164087e+12,0.0
571,PSI,2021-03-31,Q,N,1.385211e+12,1.133291e+11,1.198164e+12,1.278451e+11,0.0
572,SBS,2021-03-31,Q,N,3.975580e+11,4.189698e+09,2.776378e+11,2.271986e+11,0.0
575,SSV,2021-03-31,Q,N,1.239419e+12,1.487534e+11,1.050930e+12,4.359290e+10,0.0
577,TVB,2021-03-31,Q,N,1.194634e+12,5.824963e+10,8.343740e+11,5.943442e+11,0.0
578,TVS,2021-03-31,Q,N,4.040764e+12,1.186651e+11,3.801390e+12,1.383188e+11,0.0
579,VCI,2021-03-31,Q,N,9.220995e+12,2.196377e+11,8.770283e+12,2.671820e+11,0.0
581,VFS,2021-03-31,Q,N,4.394800e+11,1.960098e+11,2.340145e+11,9.732830e+09,0.0
582,VIG,2021-03-31,Q,N,9.079097e+10,4.612946e+08,4.139978e+10,9.450078e+10,0.0
585,VUA,2021-03-31,Q,N,3.499627e+11,6.204744e+09,3.421333e+11,3.082907e+09,0.0
586,WSS,2021-03-31,Q,N,4.561184e+11,8.075811e+09,3.049491e+11,2.717490e+11,0.0
600,FSC,2021-06-30,Q,Y,3.488797e+12,4.445403e+10,3.407001e+12,2.545520e+10,NaN
611,SBS,2021-06-30,Q,Y,6.767471e+11,2.767638e+09,5.992644e+11,1.454819e+11,0.0
613,SSI,2021-06-30,Q,Y,3.761463e+13,2.433256e+11,3.690289e+13,5.682687e+11,0.0

In [48]:
sbs.check_sbs_111(df=df)

CHECK ITEM & SUB-ITEMS SBS_111

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_111, SBS_111_1, SBS_111_2]
Index: []

In [49]:
sbs.check_sbs_111_4(df=df)

CHECK ITEM & SUB-ITEMS SBS_111_4

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_111_4,SBS_112,SBS_113,SBS_114,SBS_115,SBS_116
600,FSC,2021-06-30,Q,Y,3.407001e+12,0.0,2.100000e+11,3.199488e+12,0.0,0.0

In [50]:
sbs.check_sbs_117(df=df)

CHECK ITEM & SUB-ITEMS SBS_117

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_117,SBS_117_0,SBS_117_1,SBS_117_2,SBS_117_5,SBS_117_6,...,SBS_118,SBS_120,SBS_121,SBS_121_1,SBS_121_2,SBS_121_3,SBS_122,SBS_129,SBS_129_1,SBS_129_2
0,AGR,2018-03-31,Q,N,3.248033e+10,4.041895e+11,0.000000e+00,4.041895e+11,0.0,0.0,...,0.000000e+00,86705974.0,0.0,0.0,0.0,0.0,7.645086e+09,-9.988958e+11,0.0,0.0
1,APG,2018-03-31,Q,N,1.103465e+11,1.977500e+06,0.000000e+00,1.977500e+06,0.0,0.0,...,6.200000e+10,0.0,0.0,0.0,0.0,0.0,1.575811e+10,-5.687252e+08,0.0,0.0
2,APS,2018-03-31,Q,N,2.793147e+10,2.687270e+10,2.369500e+10,3.177697e+09,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,1.119491e+10,-1.081086e+10,0.0,0.0
3,ART,2018-03-31,Q,N,2.937437e+10,4.372223e+08,0.000000e+00,4.372223e+08,0.0,0.0,...,9.028750e+07,0.0,0.0,0.0,0.0,0.0,4.930200e+06,-2.932172e+10,0.0,0.0
4,BMS,2018-03-31,Q,N,4.974415e+11,8.530139e+09,0.000000e+00,8.530139e+09,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,4.889014e+11,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,VIG,2023-06-30,Q,N,1.605378e+10,1.258571e+10,6.359019e+09,6.226692e+09,0.0,0.0,...,2.840900e+09,0.0,0.0,0.0,0.0,0.0,5.287099e+09,-6.507313e+10,0.0,0.0
999,VIX,2023-06-30,Q,N,2.112956e+11,2.094507e+11,0.000000e+00,2.094507e+11,0.0,0.0,...,2.871000e+07,0.0,0.0,0.0,0.0,0.0,1.366949e+08,-1.319128e+10,0.0,0.0
1000,VND,2023-06-30,Q,N,2.713317e+12,2.545066e+12,1.730209e+12,8.148563e+11,0.0,0.0,...,3.395617e+09,0.0,0.0,0.0,0.0,0.0,1.706869e+11,-5.831671e+09,0.0,0.0
1001,VUA,2023-06-30,Q,N,8.000383e+08,7.584111e+07,0.000000e+00,7.584111e+07,0.0,0.0,...,4.364400e+07,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0
1002,WSS,2023-06-30,Q,N,1.641757e+11,1.997235e+07,0.000000e+00,1.997235e+07,0.0,0.0,...,1.183082e+11,0.0,0.0,0.0,0.0,0.0,4.513973e+10,-5.000000e+07,0.0,0.0

In [51]:
sbs.check_sbs_117_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_117_2

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_117_2, SBS_117_3, SBS_117_4]
Index: []

In [52]:
sbs.check_sbs_129_3(df=df)

CHECK ITEM & SUB-ITEMS SBS_129_3

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_129_3,SBS_129_4,SBS_129_5
600,FSC,2021-06-30,Q,Y,NaN,NaN,NaN

In [53]:
sbs.check_sbs_130(df=df)

CHECK ITEM & SUB-ITEMS SBS_130

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_130,SBS_131,SBS_132,SBS_133,SBS_134,SBS_135,SBS_136,SBS_137,SBS_138,SBS_139
202,SBS,2019-03-31,Q,N,1.076431e+09,1.230000e+08,0.000000e+00,6.413103e+08,1.204800e+08,0.0,3.830494e+07,0.000000e+00,0.0,0.0
317,HAC,2019-12-31,Y,Y,1.183279e+10,1.113426e+10,0.000000e+00,2.283143e+08,1.862941e+08,0.0,1.369999e+08,0.000000e+00,0.0,0.0
319,HBS,2019-12-31,Q,N,3.620668e+08,1.413760e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.0,2.894439e+08,0.000000e+00,0.0,0.0
320,HBS,2019-12-31,Y,Y,7.262285e+07,1.413760e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.0
335,SBS,2019-12-31,Q,N,7.470398e+08,2.300000e+07,0.000000e+00,4.108141e+08,1.307200e+08,0.0,3.830494e+07,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,SBS,2023-06-30,Q,N,5.217379e+09,1.293320e+09,0.000000e+00,1.417700e+09,1.029200e+09,0.0,1.336043e+09,0.000000e+00,0.0,0.0
990,SSI,2023-06-30,Q,N,1.385714e+11,3.784720e+10,2.950458e+09,7.577069e+10,3.891163e+08,0.0,5.879614e+07,1.965057e+10,0.0,0.0
994,TVS,2023-06-30,Q,N,6.853852e+09,2.364500e+09,3.167830e+07,4.350798e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.0
997,VFS,2023-06-30,Q,N,4.499714e+09,3.796207e+08,0.000000e+00,2.134592e+09,1.835327e+09,0.0,4.236731e+07,0.000000e+00,0.0,0.0
1002,WSS,2023-06-30,Q,N,1.109348e+10,2.700000e+07,0.000000e+00,6.607730e+08,0.000000e+00,0.0,9.791025e+09,0.000000e+00,42000000.0,0.0

In [54]:
sbs.check_sbs_200(df=df)

CHECK ITEM & SUB-ITEMS SBS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_200,SBS_210,SBS_220,SBS_255_2,SBS_250,SBS_260
14,HBS,2018-03-31,Q,N,1.911279e+11,5.505573e+10,1.188867e+08,0.000000e+00,8.850918e+10,0.0
24,SSI,2018-03-31,Q,N,1.523635e+12,1.037341e+12,4.792381e+10,5.001488e+10,1.713669e+11,0.0
50,HBS,2018-06-30,Q,Y,1.899438e+11,5.503102e+10,1.031883e+08,0.000000e+00,8.888066e+10,0.0
60,SSI,2018-06-30,Q,Y,1.253062e+12,7.483904e+11,1.138567e+11,3.912317e+09,1.703691e+11,0.0
86,HBS,2018-09-30,Q,N,1.939176e+11,5.503201e+10,5.821607e+09,0.000000e+00,8.865025e+10,0.0
96,SSI,2018-09-30,Q,N,2.416238e+12,1.907979e+12,1.218583e+11,4.484411e+09,1.639955e+11,0.0
136,HBS,2018-12-31,Q,N,1.921676e+11,5.504197e+10,5.284626e+09,0.000000e+00,8.894246e+10,0.0
137,HBS,2018-12-31,Y,Y,1.921676e+11,5.504197e+10,5.284626e+09,0.000000e+00,8.894246e+10,0.0
156,SSI,2018-12-31,Y,Y,1.555270e+12,1.065903e+12,1.187426e+11,4.923184e+09,1.511392e+11,0.0
157,SSI,2018-12-31,Q,N,1.555270e+12,1.065903e+12,1.187426e+11,4.923184e+09,1.511392e+11,0.0
194,HBS,2019-03-31,Q,N,1.901713e+11,5.504650e+10,4.747644e+09,0.000000e+00,8.899383e+10,0.0
204,SSI,2019-03-31,Q,N,3.290586e+12,2.804349e+12,1.121956e+11,7.732338e+09,1.538899e+11,0.0
230,HBS,2019-06-30,Q,Y,1.879830e+11,5.504242e+10,4.210662e+09,0.000000e+00,8.886177e+10,0.0
240,SSI,2019-06-30,Q,Y,1.894441e+12,1.411360e+12,1.111095e+11,1.003481e+10,1.508860e+11,0.0
266,HBS,2019-09-30,Q,N,1.858348e+11,5.505100e+10,3.677153e+09,0.000000e+00,8.875367e+10,0.0
276,SSI,2019-09-30,Q,N,2.268849e+12,1.770751e+12,1.344424e+11,3.514905e+09,1.519132e+11,0.0
319,HBS,2019-12-31,Q,N,1.842404e+11,5.506541e+10,3.150588e+09,0.000000e+00,8.918656e+10,0.0
320,HBS,2019-12-31,Y,Y,1.859944e+11,5.506541e+10,3.150588e+09,0.000000e+00,8.918656e+10,0.0
339,SSI,2019-12-31,Q,N,4.753248e+12,4.238856e+12,1.470127e+11,2.945005e+10,1.321527e+11,0.0
340,SSI,2019-12-31,Y,Y,4.753248e+12,4.238856e+12,1.470127e+11,2.945005e+10,1.321527e+11,0.0
378,HBS,2020-03-31,Q,N,1.849380e+11,5.506958e+10,2.624023e+09,0.000000e+00,8.914063e+10,0.0
388,SSI,2020-03-31,Q,N,5.822065e+12,5.313696e+12,1.387937e+11,3.950276e+10,1.229506e+11,0.0
415,HBS,2020-06-30,Q,Y,1.839099e+11,5.508045e+10,2.097458e+09,0.000000e+00,8.911622e+10,0.0
425,SSI,2020-06-30,Q,Y,5.885184e+12,5.380288e+12,1.444508e+11,3.940076e+10,1.193651e+11,0.0
452,HBS,2020-09-30,Q,N,1.830489e+11,5.507852e+10,1.570892e+09,0.000000e+00,8.927177e+10,0.0
462,SSI,2020-09-30,Q,N,5.882715e+12,5.390511e+12,1.363799e+11,4.192186e+10,1.145735e+11,0.0
504,HBS,2020-12-31,Q,N,1.826094e+11,5.508370e+10,1.044327e+09,0.000000e+00,8.984176e+10,0.0
505,HBS,2020-12-31,Y,Y,1.825196e+11,5.508370e+10,1.044327e+09,0.000000e+00,8.975200e+10,0.0
524,SSI,2020-12-31,Q,N,6.729497e+12,6.249811e+12,1.482883e+11,4.307605e+10,9.155385e+10,0.0
525,SSI,2020-12-31,Y,Y,6.729497e+12,6.249811e+12,1.482883e+11,4.307605e+10,9.155385e+10,0.0
564,HBS,2021-03-31,Q,N,1.815929e+11,5.508589e+10,5.212834e+08,0.000000e+00,8.983412e+10,0.0
574,SSI,2021-03-31,Q,N,4.761376e+12,4.288626e+12,1.362088e+11,4.542171e+10,9.681647e+10,0.0
603,HBS,2021-06-30,Q,Y,1.805218e+11,5.508463e+10,0.000000e+00,0.000000e+00,8.977361e+10,0.0
613,SSI,2021-06-30,Q,Y,4.232304e+12,3.747218e+12,1.580193e+11,2.967385e+10,1.057560e+11,0.0
641,HBS,2021-09-30,Q,N,1.804289e+11,5.508187e+10,3.303472e+08,0.000000e+00,8.984119e+10,0.0
651,SSI,2021-09-30,Q,N,6.286788e+12,5.791998e+12,1.706045e+11,3.421728e+10,1.025560e+11,0.0
694,HBS,2021-12-31,Q,N,1.305755e+11,5.074663e+09,3.007639e+08,0.000000e+00,9.051263e+10,0.0
695,HBS,2021-12-31,Y,Y,1.300682e+11,5.074663e+09,3.007639e+08,0.000000e+00,9.000541e+10,0.0
714,SSI,2021-12-31,Q,N,4.253461e+12,3.689345e+12,1.889654e+11,3.492707e+10,1.070394e+11,0.0
715,SSI,2021-12-31,Y,Y,4.253461e+12,3.689345e+12,1.889654e+11,3.492707e+10,1.070394e+11,0.0
754,HBS,2022-03-31,Q,N,1.296031e+11,5.069774e+09,2.711806e+08,0.000000e+00,9.006277e+10,0.0
764,SSI,2022-03-31,Q,N,4.570260e+12,3.993131e+12,1.718427e+11,5.364818e+10,1.191615e+11,0.0
791,HBS,2022-06-30,Q,Y,4.980766e+10,5.019005e+09,2.415972e+08,0.000000e+00,1.083576e+10,0.0
801,SSI,2022-06-30,Q,Y,4.429679e+12,3.778054e+12,2.147994e+11,3.372177e+10,1.368116e+11,0.0
828,HBS,2022-09-30,Q,N,4.932356e+10,5.024787e+09,3.220139e+08,0.000000e+00,1.075353e+10,0.0
838,SSI,2022-09-30,Q,N,3.412091e+12,2.726338e+12,2.060161e+11,5.563165e+10,1.527832e+11,0.0
881,HBS,2022-12-31,Q,N,5.652795e+10,7.561903e+09,5.029025e+09,0.000000e+00,1.120184e+10,0.0
882,HBS,2022-12-31,Y,Y,5.505426e+10,5.662566e+09,5.029025e+09,0.000000e+00,1.162748e+10,0.0
901,SSI,2022-12-31,Y,Y,3.494468e+12,2.773073e+12,2.819306e+11,2.590032e+10,1.484507e+11,0.0
902,SSI,2022-12-31,Q,N,3.494468e+12,2.773073e+12,2.819306e+11,2.590032e+10,1.484507e+11,0.0
942,HBS,2023-03-31,Q,N,5.395697e+10,5.609181e+09,4.571879e+09,0.000000e+00,1.152879e+10,0.0
952,SSI,2023-03-31,Q,N,3.524284e+12,2.808787e+12,2.607239e+11,2.653580e+10,1.670038e+11,0.0
980,HBS,2023-06-30,Q,N,5.292954e+10,5.672219e+09,4.114732e+09,0.000000e+00,1.138351e+10,0.0
990,SSI,2023-06-30,Q,N,3.513667e+12,2.847343e+12,2.491113e+11,3.008250e+10,1.536090e+11,0.0

In [55]:
sbs.check_sbs_210(df=df)

CHECK ITEM & SUB-ITEMS SBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_210, SBS_211, SBS_212]
Index: []

In [56]:
sbs.check_sbs_211(df=df)

CHECK ITEM & SUB-ITEMS SBS_211

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_211,SBS_211_1,SBS_211_2,SBS_211_3,SBS_211_4,SBS_211_5,SBS_211_6,SBS_211_7
564,HBS,2021-03-31,Q,N,5.508589e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
600,FSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,VDS,2022-03-31,Q,N,3.372740e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
sbs.check_sbs_212(df=df)

CHECK ITEM & SUB-ITEMS SBS_212

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_212,SBS_212_1,SBS_212_2,SBS_212_3,SBS_212_4,SBS_212_5,SBS_212_6
0,AGR,2018-03-31,Q,N,3.682593e+10,3.682593e+10,0.0,0.0,0.000000e+00,3.682593e+10,0.0
1,APG,2018-03-31,Q,N,1.134853e+09,0.000000e+00,0.0,0.0,1.350000e+09,0.000000e+00,0.0
5,BSI,2018-03-31,Q,N,4.995943e+10,4.995943e+10,0.0,0.0,0.000000e+00,4.995943e+10,0.0
6,BVS,2018-03-31,Q,N,3.831601e+11,2.174161e+11,0.0,0.0,1.939526e+11,2.174161e+11,0.0
13,HAC,2018-03-31,Q,N,5.000000e+09,0.000000e+00,0.0,0.0,1.507340e+10,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
991,SSV,2023-06-30,Q,N,6.396604e+11,5.945000e+11,0.0,0.0,4.516044e+10,5.945000e+11,0.0
992,TCI,2023-06-30,Q,N,8.274980e+10,5.553800e+10,0.0,0.0,2.721180e+10,5.553800e+10,0.0
996,VDS,2023-06-30,Q,N,1.584079e+11,1.584079e+11,0.0,0.0,0.000000e+00,1.584079e+11,0.0
1000,VND,2023-06-30,Q,N,1.234594e+12,1.200000e+12,0.0,0.0,4.127528e+10,1.200000e+12,0.0
1002,WSS,2023-06-30,Q,N,1.975000e+10,1.975000e+10,0.0,0.0,0.000000e+00,1.975000e+10,0.0

In [58]:
sbs.check_sbs_220(df=df)

CHECK ITEM & SUB-ITEMS SBS_220

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_220, SBS_221, SBS_224, SBS_227, SBS_240A]
Index: []

In [59]:
sbs.check_sbs_221(df=df)

CHECK ITEM & SUB-ITEMS SBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_221, SBS_222, SBS_223A, SBS_223B]
Index: []

In [60]:
sbs.check_sbs_224(df=df)

CHECK ITEM & SUB-ITEMS SBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_224, SBS_225, SBS_226A, SBS_226B]
Index: []

In [61]:
sbs.check_sbs_230(df=df)

CHECK ITEM & SUB-ITEMS SBS_230

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_230, SBS_231, SBS_232A, SBS_232B]
Index: []

In [62]:
sbs.check_sbs_250(df=df)

CHECK ITEM & SUB-ITEMS SBS_250

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_250,SBS_251,SBS_252,SBS_253,SBS_255_1,SBS_254,SBS_255,SBS_256
256,BMS,2019-09-30,Q,N,7.504743e+09,5.079544e+08,0.000000e+00,4.732330e+09,0.0,0.000000e+00,0.000000e+00,0.000000e+00
927,AAS,2023-03-31,Q,N,6.112881e+09,1.569110e+09,1.136047e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
928,ABW,2023-03-31,Q,N,2.116758e+10,1.039518e+09,0.000000e+00,1.280625e+08,0.0,0.000000e+00,0.000000e+00,0.000000e+00
929,AGR,2023-03-31,Q,N,2.241075e+10,1.571242e+09,8.395047e+08,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
931,APS,2023-03-31,Q,N,4.388515e+10,0.000000e+00,4.185619e+08,2.768170e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00
932,BMS,2023-03-31,Q,N,6.848382e+09,6.959786e+08,1.229376e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
933,BSI,2023-03-31,Q,N,4.796819e+10,8.408161e+09,4.560031e+09,0.000000e+00,0.0,1.500000e+10,0.000000e+00,0.000000e+00
934,BVS,2023-03-31,Q,N,2.960202e+10,1.908757e+09,7.693266e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
935,CSI,2023-03-31,Q,N,6.998583e+09,1.029525e+09,2.866971e+09,1.159386e+09,0.0,0.000000e+00,0.000000e+00,0.000000e+00
939,FSC,2023-03-31,Q,N,3.798661e+10,5.217009e+09,2.574070e+09,1.955279e+08,0.0,1.000000e+10,0.000000e+00,0.000000e+00
941,HAC,2023-03-31,Q,N,1.002928e+10,5.347862e+08,5.049635e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
944,HFT,2023-03-31,Q,N,1.517959e+10,1.248487e+09,2.552256e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
945,IVS,2023-03-31,Q,N,1.405285e+10,8.074661e+08,1.512526e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
946,MBS,2023-03-31,Q,N,1.128610e+11,2.251002e+09,8.047463e+10,0.000000e+00,0.0,1.013540e+10,0.000000e+00,0.000000e+00
947,ORS,2023-03-31,Q,N,6.853382e+10,4.294237e+09,8.276604e+08,5.385396e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00
949,PSI,2023-03-31,Q,N,2.470754e+10,1.962634e+09,2.884860e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
953,SSV,2023-03-31,Q,N,9.627390e+09,2.260499e+09,4.159652e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
954,TCI,2023-03-31,Q,N,7.929176e+10,1.723400e+09,3.600771e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,6.610818e+10
958,VDS,2023-03-31,Q,N,6.507338e+10,5.623446e+09,9.876670e+09,9.827177e+09,0.0,1.000000e+10,9.746087e+09,0.000000e+00
959,VFS,2023-03-31,Q,N,6.264341e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
961,VIX,2023-03-31,Q,N,4.925657e+10,7.253623e+08,4.278756e+08,3.021480e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00
963,VUA,2023-03-31,Q,N,1.084739e+10,8.201091e+08,3.713707e+08,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
965,AAS,2023-06-30,Q,N,6.012606e+09,1.604110e+09,1.000772e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
966,ABW,2023-06-30,Q,N,2.119722e+10,1.039518e+09,0.000000e+00,1.577004e+08,0.0,0.000000e+00,0.000000e+00,0.000000e+00
969,APS,2023-06-30,Q,N,4.580360e+10,0.000000e+00,3.477179e+08,2.967100e+10,0.0,0.000000e+00,0.000000e+00,0.000000e+00
970,BMS,2023-06-30,Q,N,6.662115e+09,6.959786e+08,1.043109e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
971,BSI,2023-06-30,Q,N,4.863457e+10,8.408161e+09,4.826411e+09,0.000000e+00,0.0,1.500000e+10,0.000000e+00,0.000000e+00
972,BVS,2023-06-30,Q,N,2.949059e+10,2.475720e+09,7.014873e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
977,FSC,2023-06-30,Q,N,3.742779e+10,5.217009e+09,2.015248e+09,1.955279e+08,0.0,1.000000e+10,0.000000e+00,0.000000e+00
979,HAC,2023-06-30,Q,N,9.515047e+09,5.347862e+08,4.535406e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
983,IVS,2023-06-30,Q,N,1.388842e+10,8.074661e+08,1.348097e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
984,MBS,2023-06-30,Q,N,1.063150e+11,1.490527e+09,7.468423e+10,0.000000e+00,0.0,1.014023e+10,0.000000e+00,0.000000e+00
986,PHS,2023-06-30,Q,N,5.537992e+10,5.247973e+09,1.846778e+10,4.650864e+09,0.0,1.004919e+10,0.000000e+00,0.000000e+00
988,SBS,2023-06-30,Q,N,2.000000e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
991,SSV,2023-06-30,Q,N,9.602881e+09,2.260499e+09,4.135143e+09,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
997,VFS,2023-06-30,Q,N,6.264341e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00
1001,VUA,2023-06-30,Q,N,1.081055e+10,8.170591e+08,3.375788e+08,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00

In [63]:
sbs.check_sbs_255_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_255_2

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_255_2, SBS_255_3, SBS_240]
Index: []

In [64]:
sbs.check_sbs_300(df=df)

CHECK ITEM & SUB-ITEMS SBS_300

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_300, SBS_310, SBS_340]
Index: []

In [65]:
sbs.check_sbs_310(df=df)

CHECK ITEM & SUB-ITEMS SBS_310

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_310,SBS_311,SBS_314,SBS_315,SBS_316,SBS_317,...,SBS_327,SBS_328,SBS_329,SBS_329_1,SBS_329_2,SBS_329_3,SBS_330,SBS_331,SBS_331_1,SBS_332
600,FSC,2021-06-30,Q,Y,1.887155e+12,1.819307e+12,0.0,0.0,0.0,0.0,...,0.0,0.0,45664161.0,0.0,NaN,NaN,0.0,1.185122e+09,NaN,0.0

In [66]:
sbs.check_sbs_311(df=df)

CHECK ITEM & SUB-ITEMS SBS_311

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_311, SBS_312, SBS_313]
Index: []

In [67]:
sbs.check_sbs_340(df=df)

CHECK ITEM & SUB-ITEMS SBS_340

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_340,SBS_341,SBS_344,SBS_345,SBS_346,SBS_347,...,SBS_350_1,SBS_351,SBS_352,SBS_353,SBS_353_1,SBS_353_2,SBS_354,SBS_355,SBS_356,SBS_357
600,FSC,2021-06-30,Q,Y,2.000000e+09,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.0,2.000000e+09,0.0,0.0

In [68]:
sbs.check_sbs_341(df=df)

CHECK ITEM & SUB-ITEMS SBS_341

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_341, SBS_342, SBS_343]
Index: []

In [69]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [70]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [71]:
sbs.check_sbs_410(df=df)

CHECK ITEM & SUB-ITEMS SBS_410

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_410,SBS_411,SBS_412,SBS_413,SBS_414,SBS_414_1,SBS_415,SBS_416,SBS_417,SBS_418
4,BMS,2018-03-31,Q,N,5.781451e+11,5.000000e+11,0.0,0.0,9.140249e+09,0.0,0.000000e+00,0.0,5.986465e+10,0.0
600,FSC,2021-06-30,Q,Y,1.684203e+12,1.500924e+12,0.0,0.0,1.574376e+10,NaN,1.483955e+10,0.0,1.526956e+11,0.0

In [72]:
sbs.check_sbs_411_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_411_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_411_1, SBS_411_1A, SBS_411_1B]
Index: []

In [73]:
sbs.check_sbs_417(df=df)

CHECK ITEM & SUB-ITEMS SBS_417

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_417, SBS_417_1, SBS_417_2]
Index: []

In [74]:
sbs.check_sbs_417_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_417_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_417_1,SBS_417_2_1,SBS_417_2_2
95,SHS,2018-09-30,Q,N,5.732153e+11,0.0,0.0
195,HCM,2019-03-31,Q,N,1.251375e+12,0.0,0.0
198,MBS,2019-03-31,Q,N,2.452392e+11,0.0,0.0
202,SBS,2019-03-31,Q,N,-1.310473e+12,0.0,0.0
287,VUA,2019-09-30,Q,N,9.547354e+09,0.0,0.0
...,...,...,...,...,...,...,...
998,VIG,2023-06-30,Q,N,-1.455857e+11,0.0,0.0
999,VIX,2023-06-30,Q,N,4.632739e+11,0.0,0.0
1000,VND,2023-06-30,Q,N,2.594353e+12,0.0,0.0
1001,VUA,2023-06-30,Q,N,-4.756065e+10,0.0,0.0
1002,WSS,2023-06-30,Q,N,3.751839e+10,0.0,0.0

In [75]:
sbs.check_sbs_420(df=df)

CHECK ITEM & SUB-ITEMS SBS_420

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_420,SBS_420_1,SBS_420_2,SBS_420_3
600,FSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN

In [76]:
sbs.check_sbs_440(df=df)

CHECK ITEM & SUB-ITEMS SBS_440

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_440, SBS_300, SBS_400]
Index: []