In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_security_bs as sbs

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)
    
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

In [3]:
df = pd.read_sql_query(
    """ SELECT * FROM SECURITY_BALANCE_SHEET
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,SBS_100,SBS_110,SBS_111,...,SBS_420_1,SBS_420_2,SBS_420_3,SBS_418_1,SBS_440,SBS_440_1,SBS_440_2,SBS_119,CREATED_DATE,UPDATED_DATE
0,42910628,2020-03-31,None,Q,AAS,N,3,3.663563e+11,3.658637e+11,3.133366e+10,...,0.0,0.0,0.0,0.0,4.102728e+11,0.0,NaN,None,2021-06-27 04:54:38.680832,2022-11-01 22:17:36.983137
1,52603,2020-03-31,None,Q,ABSC,N,3,4.828154e+11,4.783613e+11,7.762644e+10,...,0.0,0.0,0.0,0.0,6.463829e+11,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
2,52603,2020-03-31,None,Q,ACBS,N,3,2.227743e+12,2.204145e+12,1.271687e+11,...,0.0,0.0,0.0,0.0,2.318305e+12,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
3,52603,2020-03-31,None,Q,AGR,N,3,1.722892e+12,1.692911e+12,2.210680e+10,...,0.0,0.0,0.0,0.0,2.052949e+12,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
4,52603,2020-03-31,None,Q,APG,N,3,1.527822e+11,1.520152e+11,5.469384e+08,...,0.0,0.0,0.0,0.0,3.925235e+11,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,43422517,2023-03-31,None,Q,VSEC,N,3,1.712353e+11,1.703436e+11,1.197316e+09,...,0.0,0.0,0.0,0.0,1.845020e+11,0.0,NaN,None,2023-04-25 10:37:51.679737,2023-04-25 10:37:51.679737
1248,43433622,2023-03-31,None,Q,SSI,N,3,4.918462e+13,4.904718e+13,1.425135e+11,...,0.0,0.0,0.0,0.0,5.270890e+13,0.0,NaN,None,2023-04-30 20:38:17.891168,2023-04-30 20:38:17.891168
1249,43420211,2023-03-31,None,Q,VCBS,N,3,7.850634e+12,7.839345e+12,3.212539e+10,...,0.0,0.0,0.0,0.0,7.956439e+12,0.0,NaN,None,2023-04-24 14:50:20.135570,2023-04-24 14:50:20.135570
1250,43420363,2023-03-31,None,Q,VCI,N,3,1.491746e+13,1.476676e+13,3.029414e+12,...,0.0,0.0,0.0,0.0,1.499847e+13,0.0,NaN,None,2023-04-24 14:50:20.135570,2023-04-24 15:52:45.015985
1251,43445393,2023-03-31,None,Q,VFS,N,3,1.008669e+12,1.004640e+12,6.747431e+11,...,0.0,0.0,0.0,0.0,1.021750e+12,0.0,NaN,None,2023-05-09 18:57:09.482901,2023-05-09 18:57:09.482901

In [5]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sbs.xlsx")

In [6]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,SBS_100,SBS_110,SBS_111,...,SBS_420_1,SBS_420_2,SBS_420_3,SBS_418_1,SBS_440,SBS_440_1,SBS_440_2,SBS_119,CREATED_DATE,UPDATED_DATE
0,42910628,2020-03-31,None,Q,AAS,N,3,3.663563e+11,3.658637e+11,3.133366e+10,...,0.0,0.0,0.0,0.0,4.102728e+11,0.0,NaN,None,2021-06-27 04:54:38.680832,2022-11-01 22:17:36.983137
1,52603,2020-03-31,None,Q,ABSC,N,3,4.828154e+11,4.783613e+11,7.762644e+10,...,0.0,0.0,0.0,0.0,6.463829e+11,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
2,52603,2020-03-31,None,Q,ACBS,N,3,2.227743e+12,2.204145e+12,1.271687e+11,...,0.0,0.0,0.0,0.0,2.318305e+12,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
3,52603,2020-03-31,None,Q,AGR,N,3,1.722892e+12,1.692911e+12,2.210680e+10,...,0.0,0.0,0.0,0.0,2.052949e+12,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
4,52603,2020-03-31,None,Q,APG,N,3,1.527822e+11,1.520152e+11,5.469384e+08,...,0.0,0.0,0.0,0.0,3.925235e+11,0.0,0.0,None,2021-06-27 04:54:38.680832,2021-06-27 04:54:38.680832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,43422517,2023-03-31,None,Q,VSEC,N,3,1.712353e+11,1.703436e+11,1.197316e+09,...,0.0,0.0,0.0,0.0,1.845020e+11,0.0,NaN,None,2023-04-25 10:37:51.679737,2023-04-25 10:37:51.679737
1248,43433622,2023-03-31,None,Q,SSI,N,3,4.918462e+13,4.904718e+13,1.425135e+11,...,0.0,0.0,0.0,0.0,5.270890e+13,0.0,NaN,None,2023-04-30 20:38:17.891168,2023-04-30 20:38:17.891168
1249,43420211,2023-03-31,None,Q,VCBS,N,3,7.850634e+12,7.839345e+12,3.212539e+10,...,0.0,0.0,0.0,0.0,7.956439e+12,0.0,NaN,None,2023-04-24 14:50:20.135570,2023-04-24 14:50:20.135570
1250,43420363,2023-03-31,None,Q,VCI,N,3,1.491746e+13,1.476676e+13,3.029414e+12,...,0.0,0.0,0.0,0.0,1.499847e+13,0.0,NaN,None,2023-04-24 14:50:20.135570,2023-04-24 15:52:45.015985
1251,43445393,2023-03-31,None,Q,VFS,N,3,1.008669e+12,1.004640e+12,6.747431e+11,...,0.0,0.0,0.0,0.0,1.021750e+12,0.0,NaN,None,2023-05-09 18:57:09.482901,2023-05-09 18:57:09.482901

In [7]:
sbs.check_sbs_110(df=df)

CHECK ITEM & SUB-ITEMS SBS_110

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_110,SBS_111,SBS_111_4,SBS_117,SBS_129_3
0,AAS,2020-03-31,Q,N,3.658637e+11,3.133366e+10,2.995586e+11,3.615445e+10,0.0
46,KBSV,2020-03-31,Q,N,5.896600e+12,8.539849e+11,4.726654e+12,5.317393e+11,0.0
106,SJCS,2020-03-31,Q,N,2.225497e+10,2.195222e+10,1.432452e+09,-2.259402e+09,0.0
108,SSV,2020-03-31,Q,N,7.803816e+11,1.841565e+11,5.730059e+11,2.540964e+10,0.0
122,VND,2020-03-31,Q,N,1.082649e+13,3.683306e+11,1.024303e+13,2.281060e+11,0.0
...,...,...,...,...,...,...,...,...,...
573,KISVN,2021-06-30,Q,Y,8.938748e+12,4.824258e+11,6.793218e+12,3.688664e+11,NaN
575,VGSC,2021-06-30,Q,Y,3.511501e+11,2.607768e+10,3.222059e+11,3.434857e+08,NaN
576,FSC,2021-06-30,Q,Y,3.488797e+12,4.445403e+10,3.407001e+12,2.545520e+10,NaN
577,GLSC,2021-06-30,Q,Y,2.862689e+10,1.709863e+08,0.000000e+00,2.150891e+06,NaN
632,VGSC,2021-09-30,Q,N,3.610126e+11,5.212932e+10,3.062733e+11,5.822615e+07,NaN

In [8]:
sbs.check_sbs_111(df=df)

CHECK ITEM & SUB-ITEMS SBS_111

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_111, SBS_111_1, SBS_111_2]
Index: []

In [9]:
sbs.check_sbs_111_4(df=df)

CHECK ITEM & SUB-ITEMS SBS_111_4

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_111_4,SBS_112,SBS_113,SBS_114,SBS_115,SBS_116
502,JSIC,2021-06-30,Q,Y,8.603276e+10,0.0,8.500000e+10,2.289712e+09,0.000000e+00,0.0
557,MASC,2021-06-30,Q,Y,1.701813e+13,0.0,1.545000e+12,1.511173e+13,3.672607e+11,0.0
571,KBSV,2021-06-30,Q,Y,4.373703e+12,0.0,6.641730e+11,3.709183e+12,8.973760e+08,0.0
572,KEVS,2021-06-30,Q,Y,2.603234e+12,0.0,0.000000e+00,2.605157e+12,0.000000e+00,0.0
573,KISVN,2021-06-30,Q,Y,6.793218e+12,0.0,3.491800e+11,6.580693e+12,0.000000e+00,0.0
576,FSC,2021-06-30,Q,Y,3.407001e+12,0.0,2.100000e+11,3.199488e+12,0.000000e+00,0.0

In [10]:
sbs.check_sbs_117(df=df)

CHECK ITEM & SUB-ITEMS SBS_117

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_117,SBS_117_0,SBS_117_1,SBS_117_2,SBS_117_5,SBS_117_6,...,SBS_118,SBS_120,SBS_121,SBS_121_1,SBS_121_2,SBS_121_3,SBS_122,SBS_129,SBS_129_1,SBS_129_2
0,AAS,2020-03-31,Q,N,3.615445e+10,3.497147e+10,0.000000e+00,3.378850e+10,0.0,0.0,...,3.525730e+08,0.0,0.0,0.0,0.0,0.0,4.415104e+08,-2.220000e+08,0.0,0.0
1,ABSC,2020-03-31,Q,N,5.700219e+10,5.572965e+10,5.572965e+10,0.000000e+00,0.0,0.0,...,1.127930e+08,0.0,0.0,0.0,0.0,0.0,2.014478e+09,-3.517850e+09,0.0,0.0
2,ACBS,2020-03-31,Q,N,2.536311e+10,2.003879e+10,0.000000e+00,2.003879e+10,0.0,0.0,...,2.769431e+09,0.0,0.0,0.0,0.0,0.0,8.230993e+08,-1.299093e+09,0.0,0.0
3,AGR,2020-03-31,Q,N,4.568207e+10,6.292644e+11,0.000000e+00,6.292644e+11,0.0,0.0,...,3.469660e+08,305234.0,0.0,0.0,0.0,0.0,4.145608e+09,-1.167758e+12,0.0,0.0
4,APG,2020-03-31,Q,N,7.890842e+10,1.844274e+10,0.000000e+00,1.844274e+10,0.0,0.0,...,6.032260e+10,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,VSEC,2023-03-31,Q,N,1.044720e+09,1.021790e+09,0.000000e+00,1.021790e+09,0.0,0.0,...,3.250000e+06,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0
1248,SSI,2023-03-31,Q,N,1.609327e+12,5.375531e+11,2.440261e+11,2.935270e+11,0.0,0.0,...,1.105061e+12,0.0,0.0,0.0,0.0,0.0,1.790086e+11,-2.318714e+11,0.0,0.0
1249,VCBS,2023-03-31,Q,N,1.767345e+11,1.285872e+11,0.000000e+00,1.285872e+11,0.0,0.0,...,5.560074e+09,0.0,0.0,0.0,0.0,0.0,3.986524e+10,-3.732832e+09,0.0,0.0
1250,VCI,2023-03-31,Q,N,1.611134e+11,1.257349e+11,3.681880e+10,8.891615e+10,0.0,0.0,...,3.099660e+09,0.0,0.0,0.0,0.0,0.0,0.000000e+00,-1.928450e+09,0.0,0.0
1251,VFS,2023-03-31,Q,N,8.487322e+09,7.946178e+09,0.000000e+00,7.946178e+09,0.0,0.0,...,3.638330e+08,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.0

In [11]:
sbs.check_sbs_117_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_117_2

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_117_2, SBS_117_3, SBS_117_4]
Index: []

In [12]:
sbs.check_sbs_129_3(df=df)

CHECK ITEM & SUB-ITEMS SBS_129_3

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_129_3,SBS_129_4,SBS_129_5
447,HRSC,2021-03-31,Q,N,NaN,NaN,NaN
488,DASC,2021-06-30,Q,Y,NaN,NaN,NaN
502,JSIC,2021-06-30,Q,Y,NaN,NaN,NaN
526,PNSC,2021-06-30,Q,Y,NaN,NaN,NaN
528,SASC,2021-06-30,Q,Y,NaN,NaN,NaN
556,HRSC,2021-06-30,Q,Y,NaN,NaN,NaN
557,MASC,2021-06-30,Q,Y,NaN,NaN,NaN
570,DVSC,2021-06-30,Q,Y,NaN,NaN,NaN
571,KBSV,2021-06-30,Q,Y,NaN,NaN,NaN
572,KEVS,2021-06-30,Q,Y,NaN,NaN,NaN
573,KISVN,2021-06-30,Q,Y,NaN,NaN,NaN
575,VGSC,2021-06-30,Q,Y,NaN,NaN,NaN
576,FSC,2021-06-30,Q,Y,NaN,NaN,NaN
577,GLSC,2021-06-30,Q,Y,NaN,NaN,NaN
632,VGSC,2021-09-30,Q,N,NaN,NaN,NaN

In [13]:
sbs.check_sbs_130(df=df)

CHECK ITEM & SUB-ITEMS SBS_130

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_130,SBS_131,SBS_132,SBS_133,SBS_134,SBS_135,SBS_136,SBS_137,SBS_138,SBS_139
0,AAS,2020-03-31,Q,N,4.925722e+08,0.000000e+00,0.000000e+00,3.265795e+08,1.060101e+08,0.0,0.0,0.000000e+00,0.0,0.0
108,SSV,2020-03-31,Q,N,2.863931e+09,1.079665e+09,2.535600e+08,1.344269e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0
123,VNSC,2020-03-31,Q,N,1.211802e+09,3.262000e+06,0.000000e+00,9.289838e+08,1.545000e+08,0.0,48135093.0,0.000000e+00,0.0,0.0
129,AAS,2020-06-30,Q,Y,4.596213e+08,4.000000e+06,0.000000e+00,2.274842e+08,1.060101e+08,0.0,0.0,0.000000e+00,0.0,0.0
170,VNSC,2020-06-30,Q,Y,5.500817e+08,3.262000e+06,0.000000e+00,4.481191e+08,9.450000e+07,0.0,0.0,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,TVS,2023-03-31,Q,N,9.953330e+09,2.278500e+09,3.167830e+07,7.539301e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0
1235,HBS,2023-03-31,Q,N,2.034072e+09,2.005537e+07,0.000000e+00,1.913432e+09,0.000000e+00,0.0,39868875.0,0.000000e+00,0.0,0.0
1247,VSEC,2023-03-31,Q,N,8.917370e+08,4.841484e+07,0.000000e+00,8.338784e+08,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0
1248,SSI,2023-03-31,Q,N,1.374434e+11,3.225923e+10,3.895731e+09,7.602555e+10,3.885607e+08,0.0,12135574.0,2.339179e+10,0.0,0.0
1251,VFS,2023-03-31,Q,N,4.029535e+09,4.149798e+08,0.000000e+00,1.867111e+09,1.686527e+09,0.0,17044063.0,0.000000e+00,0.0,0.0

In [14]:
sbs.check_sbs_200(df=df)

CHECK ITEM & SUB-ITEMS SBS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_200,SBS_210,SBS_220,SBS_255_2,SBS_250,SBS_260
36,HBS,2020-03-31,Q,N,1.849380e+11,5.506958e+10,2.624023e+09,0.000000e+00,8.914063e+10,0.0
84,HBS,2020-06-30,Q,Y,1.839099e+11,5.508045e+10,2.097458e+09,0.000000e+00,8.911622e+10,0.0
107,SSI,2020-03-31,Q,N,5.822065e+12,5.313696e+12,1.387937e+11,3.950276e+10,1.229506e+11,0.0
148,SSI,2020-06-30,Q,Y,5.885184e+12,5.380288e+12,1.444508e+11,3.940076e+10,1.193651e+11,0.0
197,HBS,2020-09-30,Q,N,1.830489e+11,5.507852e+10,1.570892e+09,0.000000e+00,8.927177e+10,0.0
246,HBS,2020-12-31,Q,N,1.826094e+11,5.508370e+10,1.044327e+09,0.000000e+00,8.984176e+10,0.0
267,SSI,2020-09-30,Q,N,5.882715e+12,5.390511e+12,1.363799e+11,4.192186e+10,1.145735e+11,0.0
287,HBS,2020-12-31,Y,Y,1.825196e+11,5.508370e+10,1.044327e+09,0.000000e+00,8.975200e+10,0.0
307,SSI,2020-12-31,Q,N,6.729497e+12,6.249811e+12,1.482883e+11,4.307605e+10,9.155385e+10,0.0
363,HBS,2021-03-31,Q,N,1.815929e+11,5.508589e+10,5.212834e+08,0.000000e+00,8.983412e+10,0.0
425,SSI,2020-12-31,Y,Y,6.729497e+12,6.249811e+12,1.482883e+11,4.307605e+10,9.155385e+10,0.0
465,SSI,2021-03-31,Q,N,4.761376e+12,4.288626e+12,1.362088e+11,4.542171e+10,9.681647e+10,0.0
513,HBS,2021-09-30,Q,N,1.804289e+11,5.508187e+10,3.303472e+08,0.000000e+00,8.984119e+10,0.0
560,SSI,2021-06-30,Q,Y,4.232304e+12,3.747218e+12,1.580193e+11,2.967385e+10,1.057560e+11,0.0
578,HBS,2021-06-30,Q,Y,1.805218e+11,5.508463e+10,0.000000e+00,0.000000e+00,8.977361e+10,0.0
624,SSI,2021-09-30,Q,N,6.286788e+12,5.791998e+12,1.706045e+11,3.421728e+10,1.025560e+11,0.0
678,SSI,2021-12-31,Q,N,4.253461e+12,3.689345e+12,1.889654e+11,3.492707e+10,1.070394e+11,0.0
706,HBS,2021-12-31,Q,N,1.305755e+11,5.074663e+09,3.007639e+08,0.000000e+00,9.051263e+10,0.0
744,HBS,2021-12-31,Y,Y,1.300682e+11,5.074663e+09,3.007639e+08,0.000000e+00,9.000541e+10,0.0
776,SSI,2021-12-31,Y,Y,4.253461e+12,3.689345e+12,1.889654e+11,3.492707e+10,1.070394e+11,0.0
814,SSI,2022-03-31,Q,N,4.570260e+12,3.993131e+12,1.718427e+11,5.364818e+10,1.191615e+11,0.0
824,HBS,2022-03-31,Q,N,1.296031e+11,5.069774e+09,2.711806e+08,0.000000e+00,9.006277e+10,0.0
907,HBS,2022-06-30,Q,Y,4.980766e+10,5.019005e+09,2.415972e+08,0.000000e+00,1.083576e+10,0.0
946,SSI,2022-09-30,Q,N,3.412091e+12,2.726338e+12,2.060161e+11,5.563165e+10,1.527832e+11,0.0
973,HBS,2022-09-30,Q,N,4.932356e+10,5.024787e+09,3.220139e+08,0.000000e+00,1.075353e+10,0.0
991,SSI,2022-06-30,Q,Y,4.429679e+12,3.778054e+12,2.147994e+11,3.372177e+10,1.368116e+11,0.0
1060,HBS,2022-12-31,Q,N,5.652795e+10,7.561903e+09,5.029025e+09,0.000000e+00,1.120184e+10,0.0
1089,HBS,2022-12-31,Y,Y,5.505426e+10,5.662566e+09,5.029025e+09,0.000000e+00,1.162748e+10,0.0
1125,SSI,2022-12-31,Y,Y,3.494468e+12,2.773073e+12,2.819306e+11,2.590032e+10,1.484507e+11,0.0
1145,SSI,2022-12-31,Q,N,3.494468e+12,2.773073e+12,2.819306e+11,2.590032e+10,1.484507e+11,0.0
1235,HBS,2023-03-31,Q,N,5.395697e+10,5.609181e+09,4.571879e+09,0.000000e+00,1.152879e+10,0.0
1248,SSI,2023-03-31,Q,N,3.524284e+12,2.808787e+12,2.607239e+11,2.653580e+10,1.670038e+11,0.0

In [15]:
sbs.check_sbs_210(df=df)

CHECK ITEM & SUB-ITEMS SBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_210, SBS_211, SBS_212]
Index: []

In [16]:
sbs.check_sbs_211(df=df)

CHECK ITEM & SUB-ITEMS SBS_211

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_211,SBS_211_1,SBS_211_2,SBS_211_3,SBS_211_4,SBS_211_5,SBS_211_6,SBS_211_7
363,HBS,2021-03-31,Q,N,5.508589e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,HRSC,2021-03-31,Q,N,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,DASC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,JSIC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,PNSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,SASC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,HRSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,MASC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,DVSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,KBSV,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,KEVS,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,KISVN,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,VGSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,FSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,GLSC,2021-06-30,Q,Y,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,VGSC,2021-09-30,Q,N,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,VISC,2021-09-30,Q,N,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
735,VISC,2021-12-31,Y,Y,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
830,VDS,2022-03-31,Q,N,3.372740e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0
895,VISC,2022-03-31,Q,N,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
938,VISC,2022-06-30,Q,Y,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1041,VISC,2022-09-30,Q,N,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1151,VISC,2022-12-31,Q,N,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1183,VISC,2022-12-31,Y,Y,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1227,VISC,2023-03-31,Q,N,5.070000e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
sbs.check_sbs_212(df=df)

CHECK ITEM & SUB-ITEMS SBS_212

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_212,SBS_212_1,SBS_212_2,SBS_212_3,SBS_212_4,SBS_212_5,SBS_212_6
3,AGR,2020-03-31,Q,N,2.363251e+11,2.363251e+11,0.0,0.000000e+00,0.000000e+00,2.363251e+11,0.0
4,APG,2020-03-31,Q,N,2.344400e+11,2.344400e+11,0.0,0.000000e+00,0.000000e+00,2.344400e+11,0.0
9,BETA,2020-03-31,Q,N,7.072831e+10,0.000000e+00,0.0,0.000000e+00,7.110950e+10,0.000000e+00,0.0
11,MASC,2020-03-31,Q,N,6.581726e+11,6.576000e+11,0.0,0.000000e+00,5.726180e+08,6.576000e+11,0.0
12,MBS,2020-03-31,Q,N,7.675000e+10,7.675000e+10,0.0,0.000000e+00,0.000000e+00,7.675000e+10,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1233,VTSS,2023-03-31,Q,N,5.000000e+08,5.000000e+08,0.0,0.000000e+00,0.000000e+00,5.000000e+08,0.0
1235,HBS,2023-03-31,Q,N,5.609181e+09,0.000000e+00,0.0,2.940000e+09,5.436160e+09,0.000000e+00,0.0
1242,SSV,2023-03-31,Q,N,4.896604e+11,4.445000e+11,0.0,0.000000e+00,4.516044e+10,4.445000e+11,0.0
1244,NVSC,2023-03-31,Q,N,2.241353e+09,3.300000e+09,0.0,0.000000e+00,0.000000e+00,3.300000e+09,0.0
1248,SSI,2023-03-31,Q,N,2.808787e+12,2.191512e+12,0.0,6.172751e+11,0.000000e+00,2.191512e+12,0.0

In [18]:
sbs.check_sbs_220(df=df)

CHECK ITEM & SUB-ITEMS SBS_220

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_220, SBS_221, SBS_224, SBS_227, SBS_240A]
Index: []

In [19]:
sbs.check_sbs_221(df=df)

CHECK ITEM & SUB-ITEMS SBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_221, SBS_222, SBS_223A, SBS_223B]
Index: []

In [20]:
sbs.check_sbs_224(df=df)

CHECK ITEM & SUB-ITEMS SBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_224, SBS_225, SBS_226A, SBS_226B]
Index: []

In [21]:
sbs.check_sbs_230(df=df)

CHECK ITEM & SUB-ITEMS SBS_230

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_230, SBS_231, SBS_232A, SBS_232B]
Index: []

In [22]:
sbs.check_sbs_250(df=df)

CHECK ITEM & SUB-ITEMS SBS_250

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_250,SBS_251,SBS_252,SBS_253,SBS_255_1,SBS_254,SBS_255,SBS_256
332,VTSS,2020-12-31,Q,N,3.085761e+10,2000000.0,2.952008e+10,0.0,1.335530e+09,0.0,0.0,NaN
445,NSIC,2021-03-31,Q,N,4.644456e+09,0.0,0.000000e+00,0.0,4.644456e+09,0.0,0.0,NaN
509,NSIC,2021-06-30,Q,N,4.644456e+09,0.0,0.000000e+00,0.0,4.644456e+09,0.0,0.0,NaN
613,NSIC,2021-09-30,Q,N,4.644456e+09,0.0,0.000000e+00,0.0,4.644456e+09,0.0,0.0,NaN
634,VISC,2021-09-30,Q,N,5.262431e+09,489481281.0,6.289133e+08,0.0,4.144037e+09,0.0,0.0,NaN
639,VTSS,2021-09-30,Q,N,3.088939e+10,2000000.0,2.952008e+10,0.0,1.367308e+09,0.0,0.0,NaN

In [23]:
sbs.check_sbs_255_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_255_2

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_255_2,SBS_255_3,SBS_240
332,VTSS,2020-12-31,Q,N,0.0,NaN,NaN
445,NSIC,2021-03-31,Q,N,150000000.0,NaN,NaN
509,NSIC,2021-06-30,Q,N,150000000.0,NaN,NaN
613,NSIC,2021-09-30,Q,N,150000000.0,NaN,NaN
634,VISC,2021-09-30,Q,N,0.0,NaN,NaN
639,VTSS,2021-09-30,Q,N,0.0,NaN,NaN

In [24]:
sbs.check_sbs_300(df=df)

CHECK ITEM & SUB-ITEMS SBS_300

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_300, SBS_310, SBS_340]
Index: []

In [25]:
sbs.check_sbs_310(df=df)

CHECK ITEM & SUB-ITEMS SBS_310

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_310,SBS_311,SBS_314,SBS_315,SBS_316,SBS_317,...,SBS_327,SBS_328,SBS_329,SBS_329_1,SBS_329_2,SBS_329_3,SBS_330,SBS_331,SBS_331_1,SBS_332
332,VTSS,2020-12-31,Q,N,1.360996e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,6.023173e+08,NaN,0.0,0.0,0.0,0.000000e+00,0.0,0.0
445,NSIC,2021-03-31,Q,N,1.036274e+11,0.000000e+00,0.0,0.0,9.909792e+10,0.0,...,0.000000e+00,0.0,2.538940e+08,NaN,0.0,0.0,0.0,1.795770e+05,0.0,0.0
447,HRSC,2021-03-31,Q,N,5.059064e+08,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,5.018400e+07,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
488,DASC,2021-06-30,Q,Y,7.189324e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,1.475907e+09,0.0,NaN,NaN,0.0,9.921970e+05,NaN,0.0
502,JSIC,2021-06-30,Q,Y,3.621493e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,1.288043e+09,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
509,NSIC,2021-06-30,Q,N,1.668947e+11,0.000000e+00,0.0,0.0,1.524322e+11,0.0,...,0.000000e+00,0.0,3.228815e+08,NaN,0.0,0.0,0.0,1.795770e+05,0.0,0.0
526,PNSC,2021-06-30,Q,Y,1.038375e+11,7.078825e+10,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,1.714670e+09,0.0,NaN,NaN,0.0,1.946776e+08,NaN,0.0
528,SASC,2021-06-30,Q,Y,1.917553e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,8.711110e+07,0.0,1.332032e+09,0.0,NaN,NaN,0.0,1.328150e+09,NaN,0.0
556,HRSC,2021-06-30,Q,Y,3.284324e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,5.781154e+09,0.0,1.146414e+10,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
557,MASC,2021-06-30,Q,Y,1.106093e+13,1.004591e+13,0.0,0.0,5.950000e+11,0.0,...,4.481818e+07,0.0,1.333037e+11,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
570,DVSC,2021-06-30,Q,Y,1.714020e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,2.810301e+08,0.0,NaN,NaN,0.0,1.189265e+06,NaN,0.0
571,KBSV,2021-06-30,Q,Y,4.512257e+12,4.044030e+12,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,3.774678e+11,0.0,NaN,NaN,0.0,3.134001e+09,NaN,0.0
572,KEVS,2021-06-30,Q,Y,1.313801e+12,1.245428e+12,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,1.890327e+08,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
573,KISVN,2021-06-30,Q,Y,4.588939e+12,2.760600e+12,0.0,0.0,2.440000e+11,0.0,...,0.000000e+00,0.0,1.723930e+07,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
575,VGSC,2021-06-30,Q,Y,2.005218e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,1.838077e+08,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
576,FSC,2021-06-30,Q,Y,1.887155e+12,1.819307e+12,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,4.566416e+07,0.0,NaN,NaN,0.0,1.185122e+09,NaN,0.0
577,GLSC,2021-06-30,Q,Y,4.443908e+09,2.694307e+09,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,34941013.0,7.725684e+08,0.0,NaN,NaN,0.0,1.089340e+05,NaN,0.0
613,NSIC,2021-09-30,Q,N,1.688918e+11,0.000000e+00,0.0,0.0,1.531000e+11,0.0,...,0.000000e+00,0.0,6.608429e+08,NaN,0.0,0.0,0.0,1.795770e+05,0.0,0.0
632,VGSC,2021-09-30,Q,N,2.280715e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,7.446487e+06,0.0,NaN,NaN,0.0,0.000000e+00,NaN,0.0
634,VISC,2021-09-30,Q,N,7.040830e+10,3.960000e+10,0.0,0.0,0.000000e+00,0.0,...,3.584614e+08,0.0,6.849868e+09,NaN,0.0,0.0,0.0,1.371856e+08,0.0,0.0
639,VTSS,2021-09-30,Q,N,8.075299e+08,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,0.000000e+00,0.0,5.616715e+08,NaN,0.0,0.0,0.0,0.000000e+00,0.0,0.0

In [26]:
sbs.check_sbs_311(df=df)

CHECK ITEM & SUB-ITEMS SBS_311

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_311, SBS_312, SBS_313]
Index: []

In [27]:
sbs.check_sbs_340(df=df)

CHECK ITEM & SUB-ITEMS SBS_340

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_340,SBS_341,SBS_344,SBS_345,SBS_346,SBS_347,...,SBS_350_1,SBS_351,SBS_352,SBS_353,SBS_353_1,SBS_353_2,SBS_354,SBS_355,SBS_356,SBS_357
447,HRSC,2021-03-31,Q,N,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
488,DASC,2021-06-30,Q,Y,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
502,JSIC,2021-06-30,Q,Y,7.758645e+07,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,7.758645e+07,0.0
526,PNSC,2021-06-30,Q,Y,1.478378e+11,1.333000e+11,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,1.453782e+10,0.0
528,SASC,2021-06-30,Q,Y,4.780368e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,1.072199e+09,4.673148e+10,0.0
556,HRSC,2021-06-30,Q,Y,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
557,MASC,2021-06-30,Q,Y,2.941051e+10,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,2.066867e+09,0.000000e+00,2.734364e+10,0.0
570,DVSC,2021-06-30,Q,Y,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
571,KBSV,2021-06-30,Q,Y,1.692927e+07,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,1.692927e+07,0.0
572,KEVS,2021-06-30,Q,Y,1.257894e+08,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,1.257894e+08,0.0
573,KISVN,2021-06-30,Q,Y,3.049395e+11,0.000000e+00,0.0,0.0,3.000000e+11,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,4.939545e+09,0.0
575,VGSC,2021-06-30,Q,Y,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
576,FSC,2021-06-30,Q,Y,2.000000e+09,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,2.000000e+09,0.000000e+00,0.0
577,GLSC,2021-06-30,Q,Y,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0
632,VGSC,2021-09-30,Q,N,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.0

In [28]:
sbs.check_sbs_341(df=df)

CHECK ITEM & SUB-ITEMS SBS_341

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_341, SBS_342, SBS_343]
Index: []

In [29]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [30]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [31]:
sbs.check_sbs_410(df=df)

CHECK ITEM & SUB-ITEMS SBS_410

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_410,SBS_411,SBS_412,SBS_413,SBS_414,SBS_414_1,SBS_415,SBS_416,SBS_417,SBS_418
447,HRSC,2021-03-31,Q,N,2.565346e+10,1.105385e+11,0.000000e+00,0.0,0.000000e+00,NaN,0.000000e+00,0.000000e+00,-8.488500e+10,0.0
488,DASC,2021-06-30,Q,Y,2.091944e+11,5.000000e+11,0.000000e+00,0.0,8.902713e+09,NaN,8.902713e+09,1.177043e+10,-3.203814e+11,0.0
502,JSIC,2021-06-30,Q,Y,3.053392e+11,3.000000e+11,0.000000e+00,0.0,0.000000e+00,NaN,3.258018e+08,3.440133e+08,4.669360e+09,0.0
526,PNSC,2021-06-30,Q,Y,4.433690e+11,3.400000e+11,0.000000e+00,0.0,2.713355e+09,NaN,2.713355e+09,0.000000e+00,9.794224e+10,0.0
528,SASC,2021-06-30,Q,Y,1.276253e+12,1.000000e+12,0.000000e+00,0.0,2.229916e+09,NaN,5.175910e+09,0.000000e+00,2.688467e+11,0.0
556,HRSC,2021-06-30,Q,Y,9.479808e+11,1.000373e+12,0.000000e+00,0.0,0.000000e+00,NaN,0.000000e+00,0.000000e+00,-5.239225e+10,0.0
557,MASC,2021-06-30,Q,Y,7.026732e+12,5.455500e+12,1.025290e+11,0.0,5.763443e+10,NaN,5.763443e+10,0.000000e+00,1.353434e+12,0.0
570,DVSC,2021-06-30,Q,Y,2.236393e+11,2.500000e+11,0.000000e+00,0.0,4.237405e+09,NaN,3.562405e+09,0.000000e+00,-3.416055e+10,0.0
571,KBSV,2021-06-30,Q,Y,2.285803e+12,1.675021e+12,0.000000e+00,0.0,1.827582e+10,NaN,3.314624e+10,0.000000e+00,5.593602e+11,0.0
572,KEVS,2021-06-30,Q,Y,2.197586e+12,1.745000e+12,0.000000e+00,0.0,2.399429e+10,NaN,2.399429e+10,0.000000e+00,4.045974e+11,0.0
573,KISVN,2021-06-30,Q,Y,4.393292e+12,3.761580e+12,0.000000e+00,0.0,1.970259e+10,NaN,1.970259e+10,0.000000e+00,5.923071e+11,0.0
575,VGSC,2021-06-30,Q,Y,3.796303e+11,3.390000e+11,1.080999e+10,0.0,1.903909e+09,NaN,1.903909e+09,0.000000e+00,2.601248e+10,0.0
576,FSC,2021-06-30,Q,Y,1.684203e+12,1.500924e+12,0.000000e+00,0.0,1.574376e+10,NaN,1.483955e+10,0.000000e+00,1.526956e+11,0.0
577,GLSC,2021-06-30,Q,Y,3.665106e+10,1.350000e+11,0.000000e+00,0.0,0.000000e+00,NaN,0.000000e+00,0.000000e+00,-9.834894e+10,0.0
632,VGSC,2021-09-30,Q,N,3.685365e+11,3.390000e+11,1.071068e+10,0.0,1.903909e+09,NaN,1.903909e+09,0.000000e+00,1.501800e+10,0.0

In [32]:
sbs.check_sbs_411_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_411_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_411_1, SBS_411_1A, SBS_411_1B]
Index: []

In [33]:
sbs.check_sbs_417(df=df)

CHECK ITEM & SUB-ITEMS SBS_417

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_417, SBS_417_1, SBS_417_2]
Index: []

In [34]:
sbs.check_sbs_417_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_417_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_417_1,SBS_417_2_1,SBS_417_2_2
0,AAS,2020-03-31,Q,N,3.928051e+10,0.0,NaN
46,KBSV,2020-03-31,Q,N,3.402456e+11,0.0,NaN
50,ABSC,2020-06-30,Q,Y,6.305430e+10,0.0,NaN
69,ABW,2020-06-30,Q,Y,6.305430e+10,0.0,NaN
106,SJCS,2020-03-31,Q,N,-2.031678e+10,0.0,NaN
...,...,...,...,...,...,...,...
1247,VSEC,2023-03-31,Q,N,2.557497e+10,0.0,NaN
1248,SSI,2023-03-31,Q,N,4.459780e+12,0.0,NaN
1249,VCBS,2023-03-31,Q,N,1.043948e+12,0.0,NaN
1250,VCI,2023-03-31,Q,N,8.738775e+11,0.0,NaN
1251,VFS,2023-03-31,Q,N,1.848610e+11,0.0,NaN

In [35]:
sbs.check_sbs_420(df=df)

CHECK ITEM & SUB-ITEMS SBS_420

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_420,SBS_420_1,SBS_420_2,SBS_420_3
447,HRSC,2021-03-31,Q,N,0.0,0.0,NaN,NaN
488,DASC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
502,JSIC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
526,PNSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
528,SASC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
556,HRSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
557,MASC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
570,DVSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
571,KBSV,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
572,KEVS,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
573,KISVN,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
575,VGSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
576,FSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
577,GLSC,2021-06-30,Q,Y,0.0,0.0,NaN,NaN
632,VGSC,2021-09-30,Q,N,0.0,0.0,NaN,NaN

In [36]:
sbs.check_sbs_440(df=df)

CHECK ITEM & SUB-ITEMS SBS_440

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_440, SBS_300, SBS_400]
Index: []