In [28]:
import pandas as pd
import numpy as np
import oracledb
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_bank_bs as bbs

pd.set_option('float_format', '{:f}'.format)

In [29]:
# Assign pathlink
path_link_db_algo = r"C:\Users\tungtt1\Desktop\bsc_config\config_algo.toml"

In [30]:
# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)

In [31]:
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

In [32]:
oracledb.init_oracle_client()

In [33]:
# Connect to database Oracle
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=host+"/"+service_name
)

c = conn.cursor()

In [34]:
df = pd.read_sql_query(
    """ SELECT 
    * 
    FROM BANK_BALANCE_SHEET
    WHERE LENGTH(SECURITY_CODE) = 3
    ORDER BY REPORT_DATE ASC, SECURITY_CODE ASC
    """, con=conn
)

C:\Users\tungtt1\AppData\Local\Temp\45\ipykernel_10952\2814968536.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

In [35]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/bank/algo_bbs.xlsx")

In [36]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,BBS_100,BBS_110,BBS_120,...,BBS_213,BBS_300,BBS_371,BBS_372,BBS_373,BBS_379,BBS_910,BBS_920,CREATED_DATE,UPDATED_DATE
0,43572842,2008-12-31,None,Y,BID,Y,12,246519678000000.000000,2303873000000.000000,12620934000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-06-27 04:43:39,2023-07-04 17:00:15.033943
1,43565924,2008-12-31,None,Y,CTG,Y,12,193590357000000.000000,1980016000000.000000,6010724000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-06-27 04:43:39,2023-07-03 17:00:04.782071
2,43565506,2008-12-31,None,Y,EIB,Y,12,48247821000000.000000,4455588000000.000000,3438735000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-06-27 04:43:39,2023-07-03 17:00:04.782071
3,43565717,2008-12-31,None,Y,MBB,Y,12,44346106000000.000000,411633000000.000000,515139000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-06-27 04:43:39,2023-07-03 17:00:04.782071
4,43570493,2008-12-31,None,Y,SHB,Y,12,14381310018542.000000,67478801936.000000,216116747098.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-06-27 04:43:39,2023-07-04 17:00:15.033943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831,43662533,2023-06-30,None,Q,VBB,N,3,115698566000000.000000,592255000000.000000,1776416000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-07-28 18:56:07,2023-07-28 22:15:00.389593
832,43664415,2023-06-30,None,Q,VCB,N,3,1704273133000000.000000,16134106000000.000000,56430924000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-07-29 18:52:24,2023-07-31 17:00:17.630239
833,43693166,2023-06-30,None,Q,VIB,Y,3,378662835000000.000000,1315853000000.000000,6340776000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-07-28 15:48:06,2023-08-07 00:57:22.627714
834,43663371,2023-06-30,None,Q,VPB,N,3,739761986000000.000000,2104944000000.000000,10282392000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-07-28 22:04:06,2023-07-28 23:24:04.051242
835,43413481,2023-12-31,0001-01-01 00:00:00,Y,BAB,N,12,133851621000000.000000,652760000000.000000,428582000000.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2023-04-20 13:38:56,2023-06-21 12:25:23.980608

In [37]:
bbs.check_bbs_100(df=df)

CHECK ITEM & SUB-ITEMS BBS_100

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_100, BBS_110, BBS_120, BBS_130, BBS_140, BBS_150, BBS_160, BBS_180, BBS_170, BBS_210, BBS_220, BBS_240, BBS_250]
Index: []

In [38]:
bbs.check_bbs_130(df=df)

CHECK ITEM & SUB-ITEMS BBS_130

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_130, BBS_131, BBS_132, BBS_139]
Index: []

In [39]:
bbs.check_bbs_140(df=df)

CHECK ITEM & SUB-ITEMS BBS_140

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_140, BBS_141, BBS_149]
Index: []

In [40]:
bbs.check_bbs_160(df=df)

CHECK ITEM & SUB-ITEMS BBS_160

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_160, BBS_161, BBS_169]
Index: []

In [41]:
bbs.check_bbs_170(df=df)

CHECK ITEM & SUB-ITEMS BBS_170

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_170, BBS_171, BBS_172, BBS_179]
Index: []

In [42]:
bbs.check_bbs_210(df=df)

CHECK ITEM & SUB-ITEMS BBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_210, BBS_211, BBS_212, BBS_214, BBS_219]
Index: []

In [43]:
bbs.check_bbs_221(df=df)

CHECK ITEM & SUB-ITEMS BBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_221, BBS_222, BBS_223]
Index: []

In [44]:
bbs.check_bbs_224(df=df)

CHECK ITEM & SUB-ITEMS BBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_224, BBS_225, BBS_226]
Index: []

In [45]:
bbs.check_bbs_227(df=df)

CHECK ITEM & SUB-ITEMS BBS_227

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_227, BBS_228, BBS_229]
Index: []

In [46]:
bbs.check_bbs_240(df=df)

CHECK ITEM & SUB-ITEMS BBS_240

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_240, BBS_241, BBS_242]
Index: []

In [47]:
bbs.check_bbs_250(df=df)

CHECK ITEM & SUB-ITEMS BBS_250

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_250, BBS_251, BBS_252, BBS_253, BBS_254, BBS_259]
Index: []

In [48]:
bbs.check_bbs_320(df=df)

CHECK ITEM & SUB-ITEMS BBS_320

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_320, BBS_321, BBS_322]
Index: []

In [49]:
bbs.check_bbs_400(df=df)

CHECK ITEM & SUB-ITEMS BBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_400, BBS_310, BBS_320, BBS_330, BBS_340, BBS_350, BBS_360, BBS_370]
Index: []

In [50]:
bbs.check_bbs_410(df=df)

CHECK ITEM & SUB-ITEMS BBS_410

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_410, BBS_411, BBS_412, BBS_413, BBS_414, BBS_415, BBS_416]
Index: []

In [51]:
bbs.check_bbs_500(df=df)

# HDB: BIS 420
# CTG: Contains BIS_470

CHECK ITEM & SUB-ITEMS BBS_500

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_500,BBS_410,BBS_420,BBS_430,BBS_440,BBS_450
28,VCB,2012-12-31,Y,Y,41704978000000.000000,32420728000000.000000,2793880000000.000000,121228000000.000000,72800000000.000000,6144427000000.000000
32,BID,2018-03-31,Q,N,50803246000000.000000,34369933000000.000000,4454838000000.000000,73816000000.000000,0.000000,8931155000000.000000
33,CTG,2018-03-31,Q,N,66171887000000.000000,46208756000000.000000,7484222000000.000000,569484000000.000000,0.000000,11603442000000.000000
37,HDB,2018-03-31,Q,N,15779257000000.000000,11852342000000.000000,452344000000.000000,37605000000.000000,0.000000,2526763000000.000000
40,MBB,2018-03-31,Q,N,31029631000000.000000,18983251000000.000000,4162854000000.000000,0.000000,0.000000,6311447000000.000000
...,...,...,...,...,...,...,...,...,...,...
814,HDB,2023-06-30,Q,N,40476748000000.000000,25426026000000.000000,4692965000000.000000,16034000000.000000,0.000000,8548698000000.000000
817,MBB,2023-06-30,Q,N,86069124000000.000000,47626099000000.000000,12046162000000.000000,-9945000000.000000,0.000000,22511239000000.000000
827,TCB,2023-06-30,Q,N,122464970000000.000000,36204797000000.000000,43386686000000.000000,1302000000.000000,0.000000,41653820000000.000000
832,VCB,2023-06-30,Q,N,152001128000000.000000,53130392000000.000000,22564054000000.000000,-886284000000.000000,0.000000,77094650000000.000000
834,VPB,2023-06-30,Q,N,107563870000000.000000,66550770000000.000000,11486043000000.000000,0.000000,0.000000,24378592000000.000000

In [52]:
bbs.check_bbs_800(df=df)

CHECK ITEM & SUB-ITEMS BBS_800

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_800,BBS_400,BBS_500
3,MBB,2008-12-31,Y,Y,44346106000000.000000,39669453000000.000000,4424064000000.000000
6,VCB,2008-12-31,Y,Y,221950448000000.000000,208057011000000.000000,13790042000000.000000
8,CTG,2009-12-31,Y,Y,243785208000000.000000,231007895000000.000000,12572078000000.000000
9,STB,2009-12-31,Y,Y,104019144000000.000000,93242243000000.000000,10546760000000.000000
10,VCB,2009-12-31,Y,Y,255495883000000.000000,238676242000000.000000,16710333000000.000000
11,CTG,2010-12-31,Y,Y,367712191000000.000000,349339915000000.000000,18170363000000.000000
14,STB,2010-12-31,Y,Y,152386936000000.000000,137691961000000.000000,14018317000000.000000
15,VCB,2010-12-31,Y,Y,307614509000000.000000,286278490000000.000000,21215970000000.000000
16,BID,2011-12-31,Y,Y,405755454000000.000000,381158035000000.000000,24390455000000.000000
17,CTG,2011-12-31,Y,Y,460603925000000.000000,431904533000000.000000,28490896000000.000000
19,MBB,2011-12-31,Y,Y,138831492308446.000000,128533692862364.000000,9642143051767.000000
22,VCB,2011-12-31,Y,Y,366722279000000.000000,337940349000000.000000,28638696000000.000000
24,BID,2012-12-31,Y,Y,484784560000000.000000,458081128000000.000000,26494446000000.000000
25,CTG,2012-12-31,Y,Y,503530259000000.000000,469689886000000.000000,33624531000000.000000
26,SHB,2012-12-31,Y,Y,116537614000000.000000,107028802000000.000000,9506050000000.000000
27,STB,2012-12-31,Y,Y,152118525000000.000000,138419775000000.000000,13698739000000.000000
47,SCB,2018-03-31,Q,N,457650630000000.000000,442024895000000.000000,15463508000000.000000
76,SCB,2018-06-30,Q,Y,477623522000000.000000,462066632000000.000000,15393972000000.000000
153,SCB,2018-12-31,Y,Y,508953516000000.000000,492375980000000.000000,16415145000000.000000
154,SCB,2018-12-31,Q,N,508953516000000.000000,492375980000000.000000,16415145000000.000000
195,SCB,2019-03-31,Q,N,523232963000000.000000,506561849000000.000000,16499698000000.000000
225,SCB,2019-06-30,Q,Y,538614495000000.000000,522028503000000.000000,16416994000000.000000
254,SCB,2019-09-30,Q,N,552547983000000.000000,535834047000000.000000,16538853000000.000000
301,SCB,2019-12-31,Q,N,567894672000000.000000,551242284000000.000000,16488431000000.000000