In [1]:
import pandas as pd
import numpy as np
from check_py import check_security_is as sis

In [2]:
df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sis.xlsx")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 98 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1249 non-null   int64
 1   SCN              1249 non-null   int64
 2   REPORT_DATE      1249 non-null   datetime64[ns]
 3   REPORTED_DATE    0 non-null      float64
 4   FREQ_CODE        1249 non-null   object
 5   SECURITY_CODE    1249 non-null   object
 6   AUDITED          1249 non-null   object
 7   MONTH_IN_PERIOD  1249 non-null   int64
 8   SIS_20           1115 non-null   float64
 9   SIS_1            1249 non-null   int64
 10  SIS_1_1          1249 non-null   int64
 11  SIS_1_2          1249 non-null   int64
 12  SIS_1_3          1249 non-null   int64
 13  SIS_2            1249 non-null   int64
 14  SIS_3            1249 non-null   int64
 15  SIS_4            1249 non-null   int64
 16  SIS_5            1249 non-null   int64
 17  SIS_6            1249 non-null   int64
 18  SIS_7_1          1249 non-null   int64
 19  SIS_7_2          1246 non-null   float64
 20  SIS_8            1249 non-null   int64
 21  SIS_8_1          1246 non-null   float64
 22  SIS_9            1249 non-null   int64
 23  SIS_9_1          1246 non-null   float64
 24  SIS_9_2          1246 non-null   float64
 25  SIS_10           1249 non-null   int64
 26  SIS_11           1249 non-null   int64
 27  SIS_11_1         1086 non-null   float64
 28  SIS_11_2         1248 non-null   float64
 29  SIS_40           1249 non-null   int64
 30  SIS_21           1249 non-null   int64
 31  SIS_21_1         1249 non-null   int64
 32  SIS_21_2         1249 non-null   int64
 33  SIS_21_3         1249 non-null   int64
 34  SIS_22           1249 non-null   int64
 35  SIS_22_1         1246 non-null   float64
 36  SIS_23           1249 non-null   int64
 37  SIS_24           1249 non-null   int64
 38  SIS_25           1249 non-null   int64
 39  SIS_26           1249 non-null   int64
 40  SIS_27           1249 non-null   int64
 41  SIS_28           1249 non-null   int64
 42  SIS_29           1249 non-null   int64
 43  SIS_29_1         1246 non-null   float64
 44  SIS_30           1249 non-null   int64
 45  SIS_31           1249 non-null   int64
 46  SIS_32           1249 non-null   int64
 47  SIS_32_1         1246 non-null   float64
 48  SIS_50_1         1249 non-null   int64
 49  SIS_50           1249 non-null   int64
 50  SIS_41           1249 non-null   int64
 51  SIS_42           1249 non-null   int64
 52  SIS_43           1249 non-null   int64
 53  SIS_44           1249 non-null   int64
 54  SIS_60           1249 non-null   int64
 55  SIS_51           1249 non-null   int64
 56  SIS_52           1249 non-null   int64
 57  SIS_53           1249 non-null   int64
 58  SIS_54           1249 non-null   int64
 59  SIS_55           1249 non-null   int64
 60  SIS_56           1249 non-null   int64
 61  SIS_61           1249 non-null   int64
 62  SIS_62           1249 non-null   int64
 63  SIS_70           1249 non-null   int64
 64  SIS_71           1249 non-null   int64
 65  SIS_72           1249 non-null   int64
 66  SIS_80           1249 non-null   int64
 67  SIS_80_1         1249 non-null   int64
 68  SIS_90           1249 non-null   int64
 69  SIS_91           1249 non-null   int64
 70  SIS_92           1249 non-null   int64
 71  SIS_100          1249 non-null   int64
 72  SIS_100_1        1249 non-null   int64
 73  SIS_100_2        1249 non-null   int64
 74  SIS_200          1249 non-null   int64
 75  SIS_201          1249 non-null   int64
 76  SIS_202          1249 non-null   int64
 77  SIS_203          1249 non-null   int64
 78  SIS_203_1        1246 non-null   float64
 79  SIS_301          1249 non-null   int64
 80  SIS_302          1249 non-null   int64
 81  SIS_303          1249 non-null   int64
 82  SIS_304          1249 non-null   int64
 83  SIS_305          1249 non-null   int64
 84  SIS_306          1249 non-null   int64
 85  SIS_307          1249 non-null   int64
 86  SIS_400          1249 non-null   int64
 87  SIS_401          1249 non-null   int64
 88  SIS_402          1249 non-null   int64
 89  SIS_500          1249 non-null   int64
 90  SIS_501          1249 non-null   float64
 91  SIS_502          1249 non-null   float64
 92  SIS_1_4          0 non-null      float64
 93  SIS_21_4         0 non-null      float64
 94  SIS_300          0 non-null      float64
 95  CREATED_DATE     1249 non-null   datetime64[ns]
 96  UPDATED_DATE     1249 non-null   datetime64[ns]
 97  check            1086 non-null   float64
dtypes: datetime64[ns](3), float64(18), int64(74), object(3)
memory usage: 956.4+ KB

In [4]:
sis.check_sis_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_1, SIS_1_1, SIS_1_2, SIS_1_3]
Index: []

In [5]:
sis.check_sis_11_2(df=df)

CHECK ITEM & SUB-ITEMS SIS_11_2

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_11_2,SIS_20,SIS_11_1
7,APS,2021-12-31,Y,Y,7.474501e+11,NaN,NaN
10,VSEC,2020-12-31,Q,N,2.662189e+09,NaN,NaN
12,ASIAS,2021-06-30,Q,N,4.545454e+07,NaN,NaN
15,CASC,2022-03-31,Q,N,5.936628e+10,5.936628e+10,NaN
16,DDSC,2022-03-31,Q,N,5.494703e+10,5.494703e+10,NaN
...,...,...,...,...,...,...,...
1201,ASIAS,2020-12-31,Q,N,7.520000e+08,NaN,NaN
1219,NHSV,2022-03-31,Q,N,5.069259e+10,5.069259e+10,NaN
1239,SBBS,2020-12-31,Y,Y,1.141364e+10,NaN,NaN
1247,JBSV,2020-12-31,Q,N,9.236673e+09,NaN,NaN
1248,JBSV,2021-03-31,Q,N,1.170916e+10,NaN,NaN

In [9]:
sis.check_sis_20(df=df)

CHECK ITEM & SUB-ITEMS SIS_20

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_20,SIS_1,SIS_2,SIS_4,SIS_5,SIS_6,SIS_7_1,SIS_7_2,SIS_8,SIS_8_1,SIS_9,SIS_9_1,SIS_9_2,SIS_10,SIS_11
0,BSI,2022-09-30,Q,N,2.539539e+11,101725820107,6705001049,0,0,72217891956,0,0.0,52151372,0.0,3696282873,0.0,0.0,184090909,0
1,EVS,2022-12-31,Y,Y,9.055508e+11,514841854112,2633308221,0,0,76691226973,168759060000,0.0,0,0.0,2524918444,0.0,0.0,5496363637,9114947623
2,CTS,2021-12-31,Y,Y,1.064553e+12,635039421361,73832381083,15657534247,0,148857330498,3018000000,0.0,0,0.0,36558225634,0.0,0.0,5166590907,1139216796
3,CTS,2021-12-31,Q,N,4.501579e+11,317352972075,27724350890,3083835616,0,51557459734,488000000,0.0,0,0.0,6597628666,0.0,0.0,1110909089,298884130
4,CSI,2021-12-31,Q,N,8.489127e+09,1382805353,279546366,0,0,1168234064,0,0.0,3509657177,0.0,39979930,0.0,0.0,0,86981760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,VTSC,2020-12-31,Y,Y,2.123842e+10,816590800,0,0,0,8816582318,0,0.0,0,0.0,641743967,0.0,0.0,0,12917670
1244,SBBS,2021-03-31,Q,N,4.690776e+09,109942145,0,0,0,2471123120,0,0.0,0,0.0,6594197,0.0,0.0,177000000,0
1245,VTSC,2020-12-31,Q,N,6.732610e+09,785090800,0,0,0,3225688081,0,0.0,0,0.0,164550613,0.0,0.0,0,3043080
1247,JBSV,2020-12-31,Q,N,NaN,28665600,9162463680,0,0,88900,0,0.0,0,0.0,0,0.0,0.0,0,45454545
1248,JBSV,2021-03-31,Q,N,NaN,5980810,11702619347,0,0,556395,0,0.0,0,0.0,0,0.0,0.0,0,0

In [10]:
sis.check_sis_21(df=df)

CHECK ITEM & SUB-ITEMS SIS_21

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_21, SIS_21_1, SIS_21_2, SIS_21_3]
Index: []

In [11]:
sis.check_sis_40(df=df)

CHECK ITEM & SUB-ITEMS SIS_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_40,SIS_21,SIS_22,SIS_22_1,SIS_23,SIS_24,SIS_25,SIS_26,SIS_27,SIS_28,SIS_29,SIS_29_1,SIS_30,SIS_31,SIS_32
92,NSIC,2021-09-30,Q,N,33103105898,-747604530,-5386323403,0.0,0,0,0,0,-3609539080,-1000000,-59000000,0.0,-176953743,0,-936400
93,NSIC,2021-06-30,Q,N,57480592197,-6274940583,0,0.0,0,0,0,0,-2547379570,0,-1798863636,0.0,-176953743,0,-3212275682
94,NSIC,2021-03-31,Q,N,16180058275,0,-220000000,0.0,0,0,0,0,-1630218112,0,0,0.0,-176953743,0,0
118,VISC,2021-09-30,Q,N,20738528196,833501951,0,0.0,0,557004257,0,0,-5708354644,0,0,0.0,-331336068,-288168345,-577969914
124,VTSS,2021-09-30,Q,N,651239591,0,0,0.0,0,0,0,0,-465604322,0,0,0.0,-3886310,0,0
126,VTSS,2020-12-31,Q,N,376838257,0,0,0.0,0,0,0,0,-567942583,0,0,0.0,-1942421,0,0
197,MASC,2021-06-30,Q,Y,-374118068755,-52478862790,0,0.0,0,-216068044049,0,-4206942222,-195677761311,0,0,0.0,-3154725237,0,0
209,VIG,2021-06-30,Q,Y,-2224427267,0,0,0.0,0,0,0,0,-1818573079,98192951,-208224523,0.0,-249109295,-1173484,-71247491
253,MASC,2020-12-31,Q,N,-229124089216,-27531818378,0,0.0,0,0,0,0,-114776585540,0,-2723500000,0.0,-2650187631,0,0
254,CTS,2020-12-31,Y,Y,-328501405900,-249972648734,0,NaN,0,-2700000000,0,-5434932796,-45885853847,-570000000,0,NaN,-14337602392,-9265708805,-334659326
404,BVS,2020-12-31,Y,Y,-318403600293,-143062996205,0,NaN,0,-7877940311,0,-3238105143,-122805377182,0,0,NaN,-15713712945,-16325549109,-9379919398
552,VCI,2020-12-31,Y,Y,-522004485232,-203461038032,0,NaN,0,38400000,0,-13197922818,-267851032315,0,0,NaN,-10978331489,-17519912924,-9034647654
1238,VIG,2021-03-31,Q,N,-936412297,0,0,0.0,0,0,0,0,-625105664,-98192951,0,0.0,-177266775,0,-10139253

In [12]:
sis.check_sis_50(df=df)

CHECK ITEM & SUB-ITEMS SIS_50

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_50, SIS_41, SIS_42, SIS_43, SIS_44]
Index: []

In [13]:
sis.check_sis_50_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_50_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_50_1,SIS_11_2,SIS_40
92,NSIC,2021-09-30,Q,N,9981357156,0.0,33103105898
93,NSIC,2021-06-30,Q,N,14010413214,0.0,57480592197
94,NSIC,2021-03-31,Q,N,2027171855,0.0,16180058275
118,VISC,2021-09-30,Q,N,5515322763,0.0,20738528196
124,VTSS,2021-09-30,Q,N,469490632,0.0,651239591
126,VTSS,2020-12-31,Q,N,569885004,NaN,376838257

In [14]:
sis.check_sis_60(df=df)

CHECK ITEM & SUB-ITEMS SIS_60

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_60, SIS_51, SIS_52, SIS_53, SIS_54, SIS_55]
Index: []

In [15]:
sis.check_sis_70(df=df)

CHECK ITEM & SUB-ITEMS SIS_70

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_70,SIS_50_1,SIS_50,SIS_60,SIS_56,SIS_61,SIS_62
92,NSIC,2021-09-30,Q,N,12697891122,9981357156,63869715,-4725937372,0,0,-5761789963
93,NSIC,2021-06-30,Q,N,35912227401,14010413214,26643425,-3083288247,0,0,-4501306760
94,NSIC,2021-03-31,Q,N,6672714557,2027171855,30474314,-2991936923,0,0,-4518709254
118,VISC,2021-09-30,Q,N,11580517014,5515322763,94671422,-680793388,0,0,-3056566453
124,VTSS,2021-09-30,Q,N,-218167310,469490632,360163,0,0,0,-400276432
126,VTSS,2020-12-31,Q,N,-506089893,569885004,184608,0,0,0,-313227754

In [16]:
sis.check_sis_80(df=df)

CHECK ITEM & SUB-ITEMS SIS_80

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_80, SIS_71, SIS_72]
Index: []

In [17]:
sis.check_sis_90(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_90, SIS_70, SIS_80]
Index: []

In [18]:
sis.check_sis_90_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

   SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED      SIS_90  SIS_91  SIS_92
94          NSIC  2021-03-31         Q       N  6672725381       0       0

In [19]:
sis.check_sis_200(df=df)

CHECK ITEM & SUB-ITEMS SIS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_200,SIS_201,SIS_202,SIS_203
92,NSIC,2021-09-30,Q,N,10158316148,0,0,0
93,NSIC,2021-06-30,Q,N,33453524669,0,0,0
94,NSIC,2021-03-31,Q,N,5810958254,0,0,0
118,VISC,2021-09-30,Q,N,9273206077,0,0,0
124,VTSS,2021-09-30,Q,N,-218167310,0,0,0
126,VTSS,2020-12-31,Q,N,-510898879,0,0,0

In [20]:
sis.check_sis_400(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_400,SIS_203_1,SIS_301,SIS_302,SIS_303,SIS_304,SIS_305,SIS_306,SIS_307
0,BSI,2022-09-30,Q,N,18797763653,0.0,0,0,0,0,0,0,0
1,EVS,2022-12-31,Y,Y,75935361139,0.0,0,0,0,0,0,0,0
2,CTS,2021-12-31,Y,Y,386503773570,0.0,0,0,0,0,0,0,0
3,CTS,2021-12-31,Q,N,189789710108,0.0,0,0,0,0,0,0,0
4,CSI,2021-12-31,Q,N,2746157213,0.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,SBBS,2021-03-31,Q,N,-1909209512,0.0,0,0,0,0,0,0,0
1245,VTSC,2020-12-31,Q,N,1597310172,0.0,0,0,0,0,0,0,0
1246,JBSV,2020-12-31,Y,N,-2709771182,0.0,0,0,0,0,0,0,0
1247,JBSV,2020-12-31,Q,N,-3293817473,0.0,0,0,0,0,0,0,0
1248,JBSV,2021-03-31,Q,N,2837568324,0.0,0,0,0,0,0,0,0

In [21]:
sis.check_sis_400_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_400, SIS_401, SIS_402]
Index: []