In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_insurance_is as iis

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

In [3]:
# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)

In [4]:
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

In [5]:
# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

In [6]:
df = pd.read_sql_query(
    """ SELECT * FROM INSURANCE_INCOME
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/insurance/algo_iis.xlsx")

In [8]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,IIS_01,IIS_011,IIS_012,...,IIS_521,IIS_60,IIS_61,IIS_62,IIS_70,IIS_191,IIS_201,IIS_211,CREATED_DATE,UPDATED_DATE
0,52579,2020-03-31,None,Q,ABI,N,3,4.122531e+11,4.730491e+11,2.195431e+08,...,-2.050923e+10,8.182075e+10,0.000000e+00,8.182075e+10,0.0,None,None,None,2021-06-27 04:45:45.983785,2021-06-27 04:45:45.983785
1,52579,2020-03-31,None,Q,AIC,N,3,2.956315e+11,3.448673e+11,6.877909e+09,...,0.000000e+00,-3.525043e+10,0.000000e+00,-3.525043e+10,0.0,None,None,None,2021-06-27 04:45:45.983785,2021-06-27 04:45:45.983785
2,52579,2020-03-31,None,Q,BIC,N,3,4.913017e+11,5.945646e+11,-6.492695e+10,...,-2.131919e+10,6.305597e+10,9.457797e+08,6.211019e+10,0.0,None,None,None,2021-06-27 04:45:45.983785,2021-06-27 04:45:45.983785
3,52579,2020-03-31,None,Q,BLI,N,3,3.091760e+11,2.870783e+11,2.692070e+10,...,-2.942568e+09,1.380285e+10,0.000000e+00,1.380285e+10,230.0,None,None,None,2021-06-27 04:45:45.983785,2021-06-27 04:45:45.983785
4,52579,2020-03-31,None,Q,BMI,N,3,1.205730e+12,1.037008e+12,1.292677e+11,...,-1.018263e+10,4.090572e+10,0.000000e+00,4.090572e+10,361.0,None,None,None,2021-06-27 04:45:45.983785,2021-06-27 04:45:45.983785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,43426243,2023-03-31,None,Q,PGI,N,3,1.040704e+12,1.045364e+12,5.621612e+10,...,-1.359023e+10,5.488280e+10,5.488280e+10,0.000000e+00,0.0,None,None,None,2023-04-26 14:45:54.428168,2023-04-26 14:45:54.428168
205,43417190,2023-03-31,None,Q,PRE,N,3,7.122182e+11,0.000000e+00,6.890880e+11,...,-9.628745e+09,3.651632e+10,3.651632e+10,0.000000e+00,484.0,None,None,None,2023-04-21 17:48:05.334870,2023-04-21 17:48:05.334870
206,43416706,2023-03-31,None,Q,PVI,N,3,3.732076e+12,3.230914e+12,5.011615e+11,...,-4.903684e+10,2.687918e+11,2.554551e+11,1.333678e+10,1077.0,None,None,None,2023-04-21 15:42:53.068230,2023-04-21 15:42:53.068230
207,43439143,2023-03-31,None,Q,VNR,N,3,7.329904e+11,8.621934e+11,0.000000e+00,...,-2.819096e+10,2.091005e+11,2.097518e+11,-6.513754e+08,1351.0,None,None,None,2023-05-05 18:33:20.651044,2023-05-05 18:33:20.651044
208,43438123,2023-03-31,None,Q,PTI,N,3,1.756021e+12,1.545135e+12,2.316017e+10,...,-1.525506e+10,4.116933e+10,4.110111e+10,6.821578e+07,0.0,None,None,None,2023-05-05 13:20:02.688318,2023-05-05 13:20:02.688318

In [9]:
iis.check_iis_01(df=df)

CHECK ITEM & SUB-ITEMS IIS_01

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_01,IIS_011,IIS_012,IIS_013
118,HVB,2021-12-31,Y,Y,1.035821e+11,0.0,0.0,0.0

In [10]:
iis.check_iis_02(df=df)

CHECK ITEM & SUB-ITEMS IIS_02

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_02, IIS_021, IIS_022, IIS_023, IIS_024, IIS_025]
Index: []

In [11]:
iis.check_iis_03(df=df)

CHECK ITEM & SUB-ITEMS IIS_03

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_03, IIS_02, IIS_01]
Index: []

In [12]:
iis.check_iis_04(df=df)

CHECK ITEM & SUB-ITEMS IIS_04

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_04, IIS_041, IIS_042]
Index: []

In [13]:
iis.check_iis_042(df=df)

CHECK ITEM & SUB-ITEMS IIS_042

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_042, IIS_043, IIS_044, IIS_045]
Index: []

In [14]:
iis.check_iis_10(df=df)

CHECK ITEM & SUB-ITEMS IIS_10

    SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED        IIS_10  IIS_03  IIS_04
131           IFA  2022-09-30         Q       N  1.311965e+11     0.0     0.0
199           IFA  2022-12-31         Q       N  1.221583e+11     0.0     0.0

In [15]:
iis.check_iis_112(df=df)

CHECK ITEM & SUB-ITEMS IIS_112

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_112, IIS_121, IIS_122, IIS_123]
Index: []

In [16]:
iis.check_iis_126(df=df)

CHECK ITEM & SUB-ITEMS IIS_126

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_126, IIS_13, IIS_14]
Index: []

In [17]:
iis.check_iis_15(df=df)

CHECK ITEM & SUB-ITEMS IIS_15

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_15,IIS_124,IIS_125,IIS_126
39,VASS,2020-06-30,Q,Y,0.000000e+00,3.383483e+11,0.0,0.0
118,HVB,2021-12-31,Y,Y,-9.582752e+10,0.000000e+00,0.0,0.0

In [18]:
iis.check_iis_17(df=df)

CHECK ITEM & SUB-ITEMS IIS_17

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_17, IIS_171, IIS_179, IIS_1710, IIS_1711]
Index: []

In [19]:
iis.check_iis_171(df=df)

CHECK ITEM & SUB-ITEMS IIS_171

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_171, IIS_172, IIS_173, IIS_174, IIS_175, IIS_176, IIS_177, IIS_178]
Index: []

In [20]:
iis.check_iis_18(df=df)

CHECK ITEM & SUB-ITEMS IIS_18

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_18,IIS_15,IIS_161,IIS_162,IIS_17
39,VASS,2020-06-30,Q,Y,-2.632285e+11,0.0,0.0,0.0,0.0
131,IFA,2022-09-30,Q,N,-1.073846e+11,0.0,0.0,0.0,0.0
199,IFA,2022-12-31,Q,N,-9.398526e+10,0.0,0.0,0.0,0.0

In [21]:
iis.check_iis_19(df=df)

CHECK ITEM & SUB-ITEMS IIS_19

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_19,IIS_10,IIS_18
39,VASS,2020-06-30,Q,Y,1.655411e+11,4.031425e+11,-2.632285e+11

In [23]:
iis.check_iis_212(df=df)

CHECK ITEM & SUB-ITEMS IIS_212

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_212, IIS_202, IIS_192]
Index: []

In [24]:
iis.check_iis_213(df=df)

CHECK ITEM & SUB-ITEMS IIS_213

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_213,IIS_203,IIS_193
71,VNR,2021-12-31,Q,N,0.0,-2.464345e+10,2.685535e+10
77,PGI,2021-12-31,Y,Y,0.0,-5.011558e+09,8.548317e+09
81,VNR,2021-12-31,Y,Y,0.0,-3.325064e+10,3.942960e+10
87,PGI,2022-12-31,Q,N,0.0,-1.474326e+09,2.660868e+09
89,PTI,2022-12-31,Q,N,0.0,-9.263368e+08,1.745766e+09
90,VNR,2022-12-31,Q,N,0.0,-8.444445e+08,1.622684e+09
95,PGI,2022-12-31,Y,Y,0.0,-5.721577e+09,1.015276e+10
97,PTI,2022-12-31,Y,Y,0.0,-7.768035e+09,1.364340e+10
102,PGI,2022-03-31,Q,N,0.0,-1.531543e+09,2.101542e+09
109,BMI,2022-06-30,Q,Y,0.0,-1.422584e+09,3.044739e+09
115,PTI,2021-12-31,Q,N,0.0,-2.259798e+09,6.886168e+09
116,PTI,2021-12-31,Y,Y,0.0,-2.049611e+10,3.966406e+10
124,PTI,2022-06-30,Q,Y,0.0,-1.839572e+09,4.737831e+09
125,VNR,2022-06-30,Q,Y,0.0,-4.138512e+09,5.199682e+09
130,BMI,2022-09-30,Q,N,0.0,-1.415930e+09,3.293484e+09
133,PGI,2022-09-30,Q,N,0.0,-1.365648e+09,2.667421e+09
135,PTI,2022-09-30,Q,N,0.0,-1.254431e+09,1.622399e+09
136,VNR,2022-09-30,Q,N,0.0,-4.053572e+09,5.566475e+09
177,BMI,2021-12-31,Q,N,0.0,-1.384590e+09,3.670218e+09
183,VNR,2022-12-31,Y,Y,0.0,-9.492836e+09,1.382295e+10
187,BMI,2023-03-31,Q,N,0.0,-1.313640e+09,3.278906e+09
190,PGI,2022-06-30,Q,Y,0.0,-1.350060e+09,2.722933e+09
197,BMI,2022-12-31,Q,N,0.0,-1.471961e+09,3.376450e+09
198,BMI,2022-12-31,Y,Y,0.0,-5.705391e+09,1.282948e+10
207,VNR,2023-03-31,Q,N,0.0,-4.653201e+08,1.661691e+09
208,PTI,2023-03-31,Q,N,0.0,-7.037513e+08,1.099996e+09

In [25]:
iis.check_iis_24(df=df)

CHECK ITEM & SUB-ITEMS IIS_24

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_24,IIS_22,IIS_23,IIS_306
104,PTI,2022-03-31,Q,N,7.143361e+10,7.635383e+10,-4.920216e+09,3.083014e+09
117,VNR,2022-03-31,Q,N,4.356516e+10,5.127736e+10,-7.712202e+09,1.204165e+10

In [26]:
iis.check_iis_26(df=df)

CHECK ITEM & SUB-ITEMS IIS_26

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_26, IIS_261, IIS_262, IIS_263]
Index: []

In [27]:
iis.check_iis_301(df=df)

CHECK ITEM & SUB-ITEMS IIS_301

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_301, IIS_302, IIS_303]
Index: []

In [28]:
iis.check_iis_40(df=df)

CHECK ITEM & SUB-ITEMS IIS_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_40,IIS_31,IIS_32
71,VNR,2021-12-31,Q,N,-1.153506e+08,3.147293e+07,1.468235e+08
75,BVH,2021-12-31,Y,Y,-2.079859e+09,2.864412e+10,3.072398e+10
77,PGI,2021-12-31,Y,Y,-2.816525e+08,2.670755e+09,2.952407e+09
79,PVI,2021-12-31,Y,Y,-1.597363e+10,-1.170177e+10,4.271856e+09
81,VNR,2021-12-31,Y,Y,-4.160163e+08,2.117582e+08,6.277745e+08
...,...,...,...,...,...,...,...
203,MIG,2023-03-31,Q,N,-8.755946e+07,6.103843e+07,1.485979e+08
204,PGI,2023-03-31,Q,N,-1.484989e+09,2.121942e+09,3.606931e+09
206,PVI,2023-03-31,Q,N,-1.781241e+10,3.948373e+09,2.176078e+10
207,VNR,2023-03-31,Q,N,-2.095657e+08,-2.786296e+07,1.817027e+08
208,PTI,2023-03-31,Q,N,-1.154493e+09,3.248556e+08,1.479349e+09

In [29]:
iis.check_iis_50(df=df)

CHECK ITEM & SUB-ITEMS IIS_50

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_50,IIS_19,IIS_212,IIS_213,IIS_26,IIS_301,IIS_304,IIS_305,IIS_24,IIS_40,IIS_401
0,ABI,2020-03-31,Q,N,1.023300e+11,1.918256e+11,0.0,0.000000e+00,-1.232809e+11,6.854468e+10,0.0,0.000000e+00,3.336907e+10,4.162346e+08,0.000000e+00
1,AIC,2020-03-31,Q,N,-3.525043e+10,7.566037e+08,0.0,0.000000e+00,-3.162721e+10,-3.087061e+10,0.0,0.000000e+00,-4.574725e+09,1.948983e+08,0.000000e+00
2,BIC,2020-03-31,Q,N,8.437516e+10,1.370864e+11,0.0,0.000000e+00,-9.635995e+10,4.072646e+10,0.0,0.000000e+00,4.361257e+10,3.612826e+07,0.000000e+00
3,BLI,2020-03-31,Q,N,1.674542e+10,6.207842e+10,0.0,0.000000e+00,-3.385996e+10,2.821846e+10,0.0,0.000000e+00,-1.143419e+10,-3.885171e+07,0.000000e+00
4,BMI,2020-03-31,Q,N,5.108836e+10,7.144869e+10,0.0,9.965986e+08,-3.101953e+10,4.042917e+10,0.0,9.965986e+08,9.590358e+09,7.223278e+07,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,PGI,2023-03-31,Q,N,6.847302e+10,1.864837e+11,0.0,0.000000e+00,-1.388883e+11,4.759542e+10,0.0,0.000000e+00,1.875566e+10,-1.484989e+09,0.000000e+00
205,PRE,2023-03-31,Q,N,4.614506e+10,2.431726e+10,0.0,0.000000e+00,-8.762532e+09,1.555472e+10,0.0,0.000000e+00,3.059034e+10,0.000000e+00,0.000000e+00
206,PVI,2023-03-31,Q,N,3.178287e+11,2.421678e+11,0.0,2.226305e+10,-1.609674e+11,8.120042e+10,0.0,2.226305e+10,2.104168e+11,-1.781241e+10,0.000000e+00
207,VNR,2023-03-31,Q,N,2.372914e+11,1.051914e+11,0.0,0.000000e+00,-4.707998e+10,5.811143e+10,0.0,1.196371e+09,1.675153e+11,-2.095657e+08,1.049622e+10
208,PTI,2023-03-31,Q,N,5.642438e+10,1.445424e+10,0.0,0.000000e+00,-4.631471e+10,-3.186047e+10,0.0,3.962450e+08,8.617703e+10,-1.154493e+09,1.386724e+09

In [30]:
iis.check_iis_521(df=df)

CHECK ITEM & SUB-ITEMS IIS_521

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_521, IIS_51, IIS_52]
Index: []

In [31]:
iis.check_iis_60(df=df)

CHECK ITEM & SUB-ITEMS IIS_60

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_60, IIS_50, IIS_501, IIS_521]
Index: []

In [32]:
iis.check_iis_60_subitems(df=df)

CHECK ITEM & SUB-ITEMS IIS_60

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_60, IIS_61, IIS_62]
Index: []