In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_insurance_cf as icf

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)
    
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

Check INSURANCE_CF_DIRECT

In [3]:
dfd = pd.read_sql_query(
    """ SELECT * FROM INSURANCE_CF_DIRECT
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
dfd

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,ICFD_1,ICFD_7,ICFD_8,...,ICFD_2,ICFD_3,ICFD_4,ICFD_5,ICFD_6,ICFD_10,ICFD_11,ICFD_33,CREATED_DATE,UPDATED_DATE
0,41497172,2021-06-30,None,Q,PGI,Y,3,7.894970e+11,-6.002309e+11,-1.241959e+11,...,None,None,None,None,None,None,None,None,2021-08-10 09:46:06.531774,2021-09-22 23:25:29.867993
1,42084370,2021-12-31,None,Y,PGI,Y,12,3.111085e+12,-2.750216e+12,-5.065723e+11,...,None,None,None,None,None,None,None,None,2022-02-08 17:20:41.362491,2022-03-28 09:21:02.556869
2,41948920,2021-12-31,None,Q,PGI,N,3,8.899346e+11,-8.074327e+11,-1.485364e+11,...,None,None,None,None,None,None,None,None,2022-02-08 17:20:41.362491,2022-02-08 17:20:41.362491
3,42126432,2021-12-31,None,Y,VNR,Y,12,6.915983e+11,-5.881123e+11,-5.455701e+10,...,None,None,None,None,None,None,None,None,2022-02-08 18:22:39.270984,2022-04-12 10:20:31.138678
4,41949137,2021-12-31,None,Q,VNR,N,3,2.602353e+11,-2.379325e+11,-1.743805e+10,...,None,None,None,None,None,None,None,None,2022-02-08 18:22:39.270984,2022-02-08 18:22:39.270984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,43303162,2022-12-31,None,Y,PRE,Y,12,8.157368e+11,-5.584555e+10,-4.384837e+10,...,None,None,None,None,None,None,None,None,2023-01-30 11:37:15.042990,2023-03-06 12:37:29.821155
113,43201202,2022-12-31,None,Q,PRE,N,3,2.558663e+11,-2.106404e+10,-1.225893e+10,...,None,None,None,None,None,None,None,None,2023-01-30 11:37:15.042990,2023-01-30 11:37:15.042990
114,43358849,2022-12-31,None,Y,BLI,Y,12,1.683343e+12,-1.206669e+12,-1.972209e+11,...,None,None,None,None,None,None,None,None,2023-01-30 11:37:15.042990,2023-03-27 10:36:24.434340
115,43201202,2022-12-31,None,Q,BLI,N,3,4.754634e+11,-3.384305e+11,-5.029755e+10,...,None,None,None,None,None,None,None,None,2023-01-30 11:37:15.042990,2023-01-30 11:37:15.042990
116,43376456,2022-12-31,None,Y,AIC,Y,12,3.542501e+12,-2.985431e+12,-3.152277e+11,...,None,None,None,None,None,None,None,None,2023-01-20 18:22:59.031423,2023-04-03 16:54:13.567684

In [5]:
icf.check_icfd_20(df=dfd)

CHECK ITEM & SUB-ITEMS ICFD_20

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,ICFD_20,ICFD_1,ICFD_7,ICFD_801,ICFD_9,ICFD_901,ICFD_902
0,PGI,2021-06-30,Q,Y,5.046460e+10,7.894970e+11,-6.002309e+11,0.000000e+00,-1.362409e+10,1.154497e+11,-1.164312e+11
1,PGI,2021-12-31,Y,Y,3.342275e+10,3.111085e+12,-2.750216e+12,0.000000e+00,-7.376959e+10,7.549204e+11,-5.020251e+11
2,PGI,2021-12-31,Q,N,-2.000760e+11,8.899346e+11,-8.074327e+11,0.000000e+00,-2.516485e+10,5.681742e+11,-6.770507e+11
3,VNR,2021-12-31,Y,Y,-4.005377e+10,6.915983e+11,-5.881123e+11,0.000000e+00,-7.626065e+10,4.875202e+10,-6.147408e+10
4,VNR,2021-12-31,Q,N,-2.012144e+10,2.602353e+11,-2.379325e+11,0.000000e+00,-2.013748e+10,2.257363e+10,-2.742237e+10
...,...,...,...,...,...,...,...,...,...,...,...
112,PRE,2022-12-31,Y,Y,5.826989e+10,8.157368e+11,-5.584555e+10,-2.755127e+09,-4.995040e+10,2.661592e+09,-6.077290e+11
113,PRE,2022-12-31,Q,N,2.315131e+10,2.558663e+11,-2.106404e+10,-3.597941e+08,-3.750307e+09,1.867133e+09,-1.971490e+11
114,BLI,2022-12-31,Y,Y,6.427429e+10,1.683343e+12,-1.206669e+12,0.000000e+00,-7.574732e+09,2.229526e+11,-4.305571e+11
115,BLI,2022-12-31,Q,N,8.178462e+09,4.754634e+11,-3.384305e+11,0.000000e+00,0.000000e+00,4.592341e+10,-1.244803e+11
116,AIC,2022-12-31,Y,Y,1.275876e+10,3.542501e+12,-2.985431e+12,0.000000e+00,-8.317775e+09,4.370911e+09,-2.251362e+11

In [6]:
icf.check_icfd_30(df=dfd)

CHECK ITEM & SUB-ITEMS ICFD_30

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,ICFD_30,ICFD_25,ICFD_23,ICFD_231,ICFD_232,ICFD_24,ICFD_21,ICFD_22,ICFD_221,ICFD_222
12,BIC,2021-09-30,Q,N,-1.411193e+10,5.811758e+07,4.671852e+08,4.478375e+11,-6.142401e+11,0.000000e+00,0.0,1.517653e+11,NaN,NaN
30,BVH,2020-12-31,Y,Y,-7.759980e+12,-2.314335e+11,1.026440e+09,-8.790674e+13,7.168897e+13,-2.953590e+10,0.0,8.717738e+12,NaN,NaN
54,BMI,2021-06-30,Q,Y,1.783046e+11,-1.009301e+10,1.665364e+07,-1.762043e+12,1.916333e+12,0.000000e+00,0.0,3.409180e+10,NaN,NaN
55,BMI,2021-09-30,Q,N,-1.076488e+11,-3.331137e+08,3.500000e+05,-7.020550e+11,5.310000e+11,0.000000e+00,0.0,6.373897e+10,NaN,NaN
106,BVH,2021-09-30,Q,N,-5.458728e+11,-7.204892e+10,2.179677e+08,-4.995898e+13,4.719033e+13,3.234574e+11,0.0,1.971142e+12,NaN,NaN
107,PVI,2021-09-30,Q,N,-5.626601e+11,-2.808763e+09,0.000000e+00,-3.132321e+12,2.365792e+12,0.000000e+00,0.0,2.066774e+11,NaN,NaN
108,PTI,2021-09-30,Q,N,-1.135304e+11,-1.634213e+11,-1.153787e+10,9.863700e+11,-9.506877e+11,0.000000e+00,-598779114.0,2.634528e+10,NaN,NaN

In [7]:
icf.check_icfd_40(df=dfd)

CHECK ITEM & SUB-ITEMS ICFD_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,ICFD_40,ICFD_32,ICFD_36,ICFD_31,ICFD_34,ICFD_341,ICFD_342,ICFD_35
12,BIC,2021-09-30,Q,N,-1.406761e+11,0.0,0.0,0.000000e+00,1.232000e+07,0.0,-1.406884e+11,NaN
30,BVH,2020-12-31,Y,Y,-1.998801e+12,0.0,0.0,1.745180e+13,-1.882909e+13,0.0,-6.215100e+11,NaN
54,BMI,2021-06-30,Q,Y,-1.827081e+11,0.0,0.0,0.000000e+00,0.000000e+00,0.0,-1.827081e+11,NaN
55,BMI,2021-09-30,Q,N,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,NaN
106,BVH,2021-09-30,Q,N,9.190630e+12,0.0,0.0,1.824916e+13,-9.058531e+12,0.0,0.000000e+00,NaN
107,PVI,2021-09-30,Q,N,-1.550331e+10,0.0,0.0,2.246780e+11,-2.271210e+11,0.0,-1.306031e+10,NaN
108,PTI,2021-09-30,Q,N,-9.437522e+10,0.0,0.0,-1.500000e+10,0.000000e+00,0.0,-7.937522e+10,NaN

In [8]:
icf.check_icfd_50(df=dfd)

CHECK ITEM & SUB-ITEMS ICFD_50

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFD_50, ICFD_20, ICFD_30, ICFD_40]
Index: []

In [9]:
icf.check_icfd_70(df=dfd)

CHECK ITEM & SUB-ITEMS ICFD_70

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFD_70, ICFD_50, ICFD_60, ICFD_601]
Index: []

Check INSURANCE_CF_INDIRECT

In [10]:
dfi = pd.read_sql_query(
    """ SELECT * FROM INSURANCE_CF_INDIRECT
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
icf.check_icfi_11(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_11

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_11, ICFI_111, ICFI_112, ICFI_113, ICFI_114, ICFI_115]
Index: []

In [12]:
icf.check_icfi_20(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_20

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_20, ICFI_8, ICFI_9, ICFI_10, ICFI_11, ICFI_12, ICFI_13, ICFI_14, ICFI_15, ICFI_16, ICFI_17]
Index: []

In [13]:
icf.check_icfi_30(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_30

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_30, ICFI_21, ICFI_22, ICFI_23, ICFI_24, ICFI_25, ICFI_26, ICFI_27]
Index: []

In [14]:
icf.check_icfi_40(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_40

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_40, ICFI_31, ICFI_32, ICFI_33, ICFI_34, ICFI_35, ICFI_36]
Index: []

In [15]:
icf.check_icfi_50(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_50

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_50, ICFI_20, ICFI_30, ICFI_40]
Index: []

In [16]:
icf.check_icfi_70(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_70

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_70, ICFI_50, ICFI_60, ICFI_61]
Index: []

In [17]:
icf.check_icfi_8(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_8

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_8, ICFI_1, ICFI_2, ICFI_3, ICFI_4, ICFI_5, ICFI_6, ICFI_7]
Index: []

In [19]:
icf.check_icfi_9(df=dfi)

CHECK ITEM & SUB-ITEMS ICFI_9

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, ICFI_9, ICFI_901, ICFI_902, ICFI_903, ICFI_904, ICFI_905]
Index: []