In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_security_is as sis

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)
    
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

In [3]:
df = pd.read_sql_query(
    """ SELECT * FROM SECURITY_INCOME
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sis.xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SCN              1249 non-null   int64
 1   REPORT_DATE      1249 non-null   datetime64[ns]
 2   REPORTED_DATE    0 non-null      object
 3   FREQ_CODE        1249 non-null   object
 4   SECURITY_CODE    1249 non-null   object
 5   AUDITED          1249 non-null   object
 6   MONTH_IN_PERIOD  1249 non-null   int64
 7   SIS_20           1115 non-null   float64
 8   SIS_1            1249 non-null   float64
 9   SIS_1_1          1249 non-null   float64
 10  SIS_1_2          1249 non-null   float64
 11  SIS_1_3          1249 non-null   float64
 12  SIS_2            1249 non-null   float64
 13  SIS_3            1249 non-null   float64
 14  SIS_4            1249 non-null   float64
 15  SIS_5            1249 non-null   float64
 16  SIS_6            1249 non-null   float64
 17  SIS_7_1          1249 non-null   float64
 18  SIS_7_2          1246 non-null   float64
 19  SIS_8            1249 non-null   float64
 20  SIS_8_1          1246 non-null   float64
 21  SIS_9            1249 non-null   float64
 22  SIS_9_1          1246 non-null   float64
 23  SIS_9_2          1246 non-null   float64
 24  SIS_10           1249 non-null   float64
 25  SIS_11           1249 non-null   float64
 26  SIS_11_1         1086 non-null   float64
 27  SIS_11_2         1248 non-null   float64
 28  SIS_40           1249 non-null   float64
 29  SIS_21           1249 non-null   float64
 30  SIS_21_1         1249 non-null   float64
 31  SIS_21_2         1249 non-null   float64
 32  SIS_21_3         1249 non-null   float64
 33  SIS_22           1249 non-null   float64
 34  SIS_22_1         1246 non-null   float64
 35  SIS_23           1249 non-null   float64
 36  SIS_24           1249 non-null   float64
 37  SIS_25           1249 non-null   float64
 38  SIS_26           1249 non-null   float64
 39  SIS_27           1249 non-null   float64
 40  SIS_28           1249 non-null   float64
 41  SIS_29           1249 non-null   float64
 42  SIS_29_1         1246 non-null   float64
 43  SIS_30           1249 non-null   float64
 44  SIS_31           1249 non-null   float64
 45  SIS_32           1249 non-null   float64
 46  SIS_32_1         1246 non-null   float64
 47  SIS_50_1         1249 non-null   float64
 48  SIS_50           1249 non-null   float64
 49  SIS_41           1249 non-null   float64
 50  SIS_42           1249 non-null   float64
 51  SIS_43           1249 non-null   float64
 52  SIS_44           1249 non-null   float64
 53  SIS_60           1249 non-null   float64
 54  SIS_51           1249 non-null   float64
 55  SIS_52           1249 non-null   float64
 56  SIS_53           1249 non-null   float64
 57  SIS_54           1249 non-null   float64
 58  SIS_55           1249 non-null   float64
 59  SIS_56           1249 non-null   float64
 60  SIS_61           1249 non-null   float64
 61  SIS_62           1249 non-null   float64
 62  SIS_70           1249 non-null   float64
 63  SIS_71           1249 non-null   float64
 64  SIS_72           1249 non-null   float64
 65  SIS_80           1249 non-null   float64
 66  SIS_80_1         1249 non-null   float64
 67  SIS_90           1249 non-null   float64
 68  SIS_91           1249 non-null   float64
 69  SIS_92           1249 non-null   float64
 70  SIS_100          1249 non-null   float64
 71  SIS_100_1        1249 non-null   float64
 72  SIS_100_2        1249 non-null   float64
 73  SIS_200          1249 non-null   float64
 74  SIS_201          1249 non-null   float64
 75  SIS_202          1249 non-null   float64
 76  SIS_203          1249 non-null   float64
 77  SIS_203_1        1246 non-null   float64
 78  SIS_301          1249 non-null   float64
 79  SIS_302          1249 non-null   float64
 80  SIS_303          1249 non-null   float64
 81  SIS_304          1249 non-null   float64
 82  SIS_305          1249 non-null   float64
 83  SIS_306          1249 non-null   float64
 84  SIS_307          1249 non-null   float64
 85  SIS_400          1249 non-null   float64
 86  SIS_401          1249 non-null   float64
 87  SIS_402          1249 non-null   float64
 88  SIS_500          1249 non-null   float64
 89  SIS_501          1249 non-null   float64
 90  SIS_502          1249 non-null   float64
 91  SIS_1_4          0 non-null      object
 92  SIS_21_4         0 non-null      object
 93  SIS_300          0 non-null      object
 94  CREATED_DATE     1249 non-null   datetime64[ns]
 95  UPDATED_DATE     1249 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(84), int64(2), object(7)
memory usage: 936.9+ KB

In [6]:
sis.check_sis_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_1, SIS_1_1, SIS_1_2, SIS_1_3]
Index: []

In [8]:
sis.check_sis_11(df=df)

CHECK ITEM & SUB-ITEMS SIS_11

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_11,SIS_11_1,SIS_11_2
0,BSI,2022-09-30,Q,N,0.000000e+00,0.0,2.539539e+11
1,EVS,2022-12-31,Y,Y,9.114948e+09,0.0,9.055508e+11
2,CTS,2021-12-31,Y,Y,1.139217e+09,0.0,1.064553e+12
3,CTS,2021-12-31,Q,N,2.988841e+08,0.0,4.501579e+11
4,CSI,2021-12-31,Q,N,8.698176e+07,0.0,8.489127e+09
...,...,...,...,...,...,...,...
1244,SBBS,2021-03-31,Q,N,0.000000e+00,0.0,4.690776e+09
1245,VTSC,2020-12-31,Q,N,3.043080e+06,0.0,6.732610e+09
1246,JBSV,2020-12-31,Y,N,4.545454e+07,0.0,2.403858e+10
1247,JBSV,2020-12-31,Q,N,4.545454e+07,NaN,9.236673e+09
1248,JBSV,2021-03-31,Q,N,0.000000e+00,NaN,1.170916e+10

In [9]:
sis.check_sis_20(df=df)

CHECK ITEM & SUB-ITEMS SIS_20

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_20,SIS_1,SIS_2,SIS_4,SIS_5,SIS_6,SIS_7_1,SIS_7_2,SIS_8,SIS_9,SIS_10,SIS_11
0,BSI,2022-09-30,Q,N,2.539539e+11,1.017258e+11,6.705001e+09,0.000000e+00,0.0,7.221789e+10,0.000000e+00,0.0,5.215137e+07,3.696283e+09,1.840909e+08,0.000000e+00
1,EVS,2022-12-31,Y,Y,9.055508e+11,5.148419e+11,2.633308e+09,0.000000e+00,0.0,7.669123e+10,1.687591e+11,0.0,0.000000e+00,2.524918e+09,5.496364e+09,9.114948e+09
2,CTS,2021-12-31,Y,Y,1.064553e+12,6.350394e+11,7.383238e+10,1.565753e+10,0.0,1.488573e+11,3.018000e+09,0.0,0.000000e+00,3.655823e+10,5.166591e+09,1.139217e+09
3,CTS,2021-12-31,Q,N,4.501579e+11,3.173530e+11,2.772435e+10,3.083836e+09,0.0,5.155746e+10,4.880000e+08,0.0,0.000000e+00,6.597629e+09,1.110909e+09,2.988841e+08
4,CSI,2021-12-31,Q,N,8.489127e+09,1.382805e+09,2.795464e+08,0.000000e+00,0.0,1.168234e+09,0.000000e+00,0.0,3.509657e+09,3.997993e+07,0.000000e+00,8.698176e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,VTSC,2020-12-31,Y,Y,2.123842e+10,8.165908e+08,0.000000e+00,0.000000e+00,0.0,8.816582e+09,0.000000e+00,0.0,0.000000e+00,6.417440e+08,0.000000e+00,1.291767e+07
1244,SBBS,2021-03-31,Q,N,4.690776e+09,1.099421e+08,0.000000e+00,0.000000e+00,0.0,2.471123e+09,0.000000e+00,0.0,0.000000e+00,6.594197e+06,1.770000e+08,0.000000e+00
1245,VTSC,2020-12-31,Q,N,6.732610e+09,7.850908e+08,0.000000e+00,0.000000e+00,0.0,3.225688e+09,0.000000e+00,0.0,0.000000e+00,1.645506e+08,0.000000e+00,3.043080e+06
1247,JBSV,2020-12-31,Q,N,NaN,2.866560e+07,9.162464e+09,0.000000e+00,0.0,8.890000e+04,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,4.545454e+07
1248,JBSV,2021-03-31,Q,N,NaN,5.980810e+06,1.170262e+10,0.000000e+00,0.0,5.563950e+05,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [10]:
sis.check_sis_21(df=df)

CHECK ITEM & SUB-ITEMS SIS_21

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_21, SIS_21_1, SIS_21_2, SIS_21_3]
Index: []

In [11]:
sis.check_sis_40(df=df)

CHECK ITEM & SUB-ITEMS SIS_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_40,SIS_21,SIS_22,SIS_23,SIS_24,SIS_25,SIS_26,SIS_27,SIS_28,SIS_29,SIS_30,SIS_31,SIS_32
92,NSIC,2021-09-30,Q,N,3.310311e+10,-7.476045e+08,-5.386323e+09,0.0,0.000000e+00,0.0,0.000000e+00,-3.609539e+09,-1000000.0,-5.900000e+07,-1.769537e+08,0.000000e+00,-9.364000e+05
93,NSIC,2021-06-30,Q,N,5.748059e+10,-6.274941e+09,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-2.547380e+09,0.0,-1.798864e+09,-1.769537e+08,0.000000e+00,-3.212276e+09
94,NSIC,2021-03-31,Q,N,1.618006e+10,0.000000e+00,-2.200000e+08,0.0,0.000000e+00,0.0,0.000000e+00,-1.630218e+09,0.0,0.000000e+00,-1.769537e+08,0.000000e+00,0.000000e+00
111,VIG,2020-06-30,Q,Y,6.347787e+08,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-7.835680e+08,0.0,-2.005000e+07,-1.887137e+08,1.611971e+09,-1.268839e+07
118,VISC,2021-09-30,Q,N,2.073853e+10,8.335020e+08,0.000000e+00,0.0,5.570043e+08,0.0,0.000000e+00,-5.708355e+09,0.0,0.000000e+00,-3.313361e+08,-2.881683e+08,-5.779699e+08
124,VTSS,2021-09-30,Q,N,6.512396e+08,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-4.656043e+08,0.0,0.000000e+00,-3.886310e+06,0.000000e+00,0.000000e+00
126,VTSS,2020-12-31,Q,N,3.768383e+08,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-5.679426e+08,0.0,0.000000e+00,-1.942421e+06,0.000000e+00,0.000000e+00
197,MASC,2021-06-30,Q,Y,-3.741181e+11,-5.247886e+10,0.000000e+00,0.0,-2.160680e+11,0.0,-4.206942e+09,-1.956778e+11,0.0,0.000000e+00,-3.154725e+09,0.000000e+00,0.000000e+00
209,VIG,2021-06-30,Q,Y,-2.224427e+09,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-1.818573e+09,98192951.0,-2.082245e+08,-2.491093e+08,-1.173484e+06,-7.124749e+07
222,ACBS,2020-09-30,Q,N,-6.964987e+10,-6.038984e+09,0.000000e+00,0.0,-4.078379e+10,0.0,-1.128248e+09,-3.815835e+10,0.0,0.000000e+00,-2.345678e+09,-1.023324e+09,0.000000e+00
241,VIG,2020-12-31,Q,N,-1.461170e+09,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-8.441151e+08,0.0,0.000000e+00,-1.831117e+08,-1.031144e+08,-3.192726e+08
253,MASC,2020-12-31,Q,N,-2.291241e+11,-2.753182e+10,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-1.147766e+11,0.0,-2.723500e+09,-2.650188e+09,0.000000e+00,0.000000e+00
340,ACBS,2020-06-30,Q,Y,-4.389397e+10,1.431069e+09,0.000000e+00,0.0,1.374264e+10,0.0,-3.435090e+08,-3.665155e+10,0.0,0.000000e+00,-2.341651e+09,-5.455040e+08,6.430493e+08
416,MASC,2020-09-30,Q,N,-1.802926e+11,-2.189360e+10,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-8.047864e+10,0.0,0.000000e+00,-2.910901e+09,0.000000e+00,0.000000e+00
431,VIG,2020-09-30,Q,N,-9.045941e+08,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-5.525427e+08,0.0,0.000000e+00,-1.829090e+08,-8.707523e+07,-3.427496e+07
498,VIG,2020-12-31,Y,N,-4.129282e+09,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-2.744030e+09,0.0,0.000000e+00,-7.373747e+08,-2.102396e+08,-3.782893e+08
519,MASC,2021-03-31,Q,N,-2.934684e+11,-5.698352e+10,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-1.357592e+11,0.0,0.000000e+00,-3.247255e+09,0.000000e+00,-1.011039e+07
532,VIG,2020-03-31,Q,N,-2.398297e+09,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-5.638042e+08,0.0,0.000000e+00,-1.826403e+08,-1.611971e+09,-1.205338e+07
680,MASC,2020-06-30,Q,Y,-1.096346e+11,4.116436e+10,0.000000e+00,0.0,0.000000e+00,0.0,-2.125033e+09,-6.801295e+10,0.0,0.000000e+00,-2.661683e+09,0.000000e+00,0.000000e+00
689,MASC,2020-03-31,Q,N,-1.834303e+11,-6.272364e+10,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-5.920074e+10,0.0,0.000000e+00,-1.770678e+09,0.000000e+00,0.000000e+00
1106,ACBS,2021-06-30,Q,N,-2.987703e+11,-6.395431e+10,0.000000e+00,0.0,-4.491498e+10,0.0,-2.095028e+09,-7.996794e+10,0.0,0.000000e+00,-2.571501e+09,-6.228938e+08,-3.671385e+07
1238,VIG,2021-03-31,Q,N,-9.364123e+08,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,-6.251057e+08,-98192951.0,0.000000e+00,-1.772668e+08,0.000000e+00,-1.013925e+07

In [12]:
sis.check_sis_50(df=df)

CHECK ITEM & SUB-ITEMS SIS_50

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_50, SIS_41, SIS_42, SIS_43, SIS_44]
Index: []

In [13]:
sis.check_sis_50_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_50_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_50_1,SIS_20,SIS_40
7,APS,2021-12-31,Y,Y,7.157850e+11,NaN,-3.166503e+10
10,VSEC,2020-12-31,Q,N,1.826297e+09,NaN,-8.358922e+08
12,ASIAS,2021-06-30,Q,N,-2.967042e+08,NaN,-3.421588e+08
22,NVSC,2021-12-31,Y,Y,4.757170e+10,NaN,-2.505598e+11
25,ART,2021-12-31,Y,Y,4.905730e+10,NaN,-4.445069e+10
...,...,...,...,...,...,...,...
1189,CASC,2021-06-30,Q,Y,3.496044e+09,NaN,-4.533730e+10
1201,ASIAS,2020-12-31,Q,N,3.825176e+07,NaN,-7.137482e+08
1239,SBBS,2020-12-31,Y,Y,9.173970e+08,NaN,-1.049625e+10
1247,JBSV,2020-12-31,Q,N,9.039701e+09,NaN,-1.969718e+08
1248,JBSV,2021-03-31,Q,N,1.146290e+10,NaN,-2.462552e+08

In [14]:
sis.check_sis_60(df=df)

CHECK ITEM & SUB-ITEMS SIS_60

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_60, SIS_51, SIS_52, SIS_53, SIS_54, SIS_55, SIS_56]
Index: []

In [15]:
sis.check_sis_70(df=df)

CHECK ITEM & SUB-ITEMS SIS_70

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_70,SIS_50_1,SIS_50,SIS_60,SIS_61,SIS_62
92,NSIC,2021-09-30,Q,N,1.269789e+10,9.981357e+09,63869715.0,-4.725937e+09,0.0,-5.761790e+09
93,NSIC,2021-06-30,Q,N,3.591223e+10,1.401041e+10,26643425.0,-3.083288e+09,0.0,-4.501307e+09
94,NSIC,2021-03-31,Q,N,6.672715e+09,2.027172e+09,30474314.0,-2.991937e+09,0.0,-4.518709e+09
118,VISC,2021-09-30,Q,N,1.158052e+10,5.515323e+09,94671422.0,-6.807934e+08,0.0,-3.056566e+09
124,VTSS,2021-09-30,Q,N,-2.181673e+08,4.694906e+08,360163.0,0.000000e+00,0.0,-4.002764e+08
126,VTSS,2020-12-31,Q,N,-5.060899e+08,5.698850e+08,184608.0,0.000000e+00,0.0,-3.132278e+08

In [16]:
sis.check_sis_80(df=df)

CHECK ITEM & SUB-ITEMS SIS_80

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_80, SIS_71, SIS_72]
Index: []

In [17]:
sis.check_sis_90(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_90, SIS_70, SIS_80]
Index: []

In [18]:
sis.check_sis_90_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

   SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED        SIS_90  SIS_91  SIS_92
94          NSIC  2021-03-31         Q       N  6.672725e+09     0.0     0.0

In [19]:
sis.check_sis_200(df=df)

CHECK ITEM & SUB-ITEMS SIS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_200,SIS_90,SIS_100
742,HBS,2023-03-31,Q,N,4.044139e+09,5.738664e+09,-1.147725e+09

In [20]:
sis.check_sis_400(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_400,SIS_203_1,SIS_301,SIS_302,SIS_303,SIS_304,SIS_305,SIS_306,SIS_307
0,BSI,2022-09-30,Q,N,1.879776e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,EVS,2022-12-31,Y,Y,7.593536e+10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,CTS,2021-12-31,Y,Y,3.865038e+11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CTS,2021-12-31,Q,N,1.897897e+11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CSI,2021-12-31,Q,N,2.746157e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,SBBS,2021-03-31,Q,N,-1.909210e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1245,VTSC,2020-12-31,Q,N,1.597310e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246,JBSV,2020-12-31,Y,N,-2.709771e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1247,JBSV,2020-12-31,Q,N,-3.293817e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1248,JBSV,2021-03-31,Q,N,2.837568e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
sis.check_sis_400_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_400, SIS_401, SIS_402]
Index: []