In [1]:
import pandas as pd
import numpy as np
from check_py import check_bank_bs as bbs

In [2]:
df = pd.read_excel(r"OneDrive_1_5-29-2023/bank/algo_bbs.xlsx")

In [3]:
df

,Unnamed: 0,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,BBS_100,BBS_110,...,BBS_213,BBS_300,BBS_371,BBS_372,BBS_373,BBS_379,BBS_910,BBS_920,CREATED_DATE,UPDATED_DATE
0,0,52573,2020-03-31,NaT,Q,ABB,N,3.0,95371467185404,582821249055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.860,2021-06-27 04:43:39.860
1,1,52573,2020-03-31,NaT,Q,ACB,N,3.0,387396053000000,5466150000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.860,2021-06-27 04:43:39.860
2,2,52573,2020-03-31,NaT,Q,BAB,N,3.0,109828721000000,555459000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.860,2021-06-27 04:43:39.860
3,3,52573,2020-03-31,NaT,Q,BAOVIETBANK,N,3.0,47690209106424,129123967815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.860,2021-06-27 04:43:39.860
4,4,52573,2020-03-31,NaT,Q,BID,N,3.0,1446044081000000,9097015000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-27 04:43:39.860,2021-06-27 04:43:39.860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,497,43431121,2023-03-31,NaT,Q,VAB,N,3.0,94791523177439,336463275760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-28 09:28:16.813,2023-04-28 09:28:16.813
498,498,43372908,2022-12-31,NaT,Y,STB,Y,12.0,591907695000000,7849898000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-30 15:49:03.242,2023-03-31 16:39:59.317
499,499,43434290,2023-03-31,NaT,Q,CTG,N,3.0,1823962183000000,10509894000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-03 00:55:17.547,2023-05-03 00:55:17.547
500,500,43433379,2023-03-31,NaT,Q,HDB,N,3.0,458802678000000,2691430000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-29 17:49:17.445,2023-04-29 17:49:17.445
501,501,43433554,2023-03-31,NaT,Q,MSB,N,3.0,235473188000000,1217649000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-30 15:53:44.659,2023-04-30 15:53:44.659

In [4]:
bbs.check_bbs_100(df=df)

CHECK ITEM & SUB-ITEMS BBS_100

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_100,BBS_120,BBS_130,BBS_140,BBS_150,BBS_160,BBS_180,BBS_170,BBS_210,BBS_220,BBS_240,BBS_250
0,ABB,2020-03-31,Q,N,95371467185404,1199687594591,17422095334665,0,0,55253579812184,152085117188,16560935356144,268791040000,935079823381,70914193497,2925477664699
1,ACB,2020-03-31,Q,N,387396053000000,12671154000000,30650377000000,2035207000000,0,272135299000000,0,54187498000000,97884000000,3772593000000,359950000000,6019941000000
2,BAB,2020-03-31,Q,N,109828721000000,282826000000,10673116000000,5912867000000,0,72740303000000,0,14984242000000,268660000000,675935000000,7804000000,3727509000000
3,BAOVIETBANK,2020-03-31,Q,N,47690209106424,619507379936,10056255164112,720980400000,0,22496369714871,189530040308,10897646132093,0,105375390596,0,2475420916693
4,BID,2020-03-31,Q,N,1446044081000000,26782623000000,121290315000000,5721025000000,210196000000,1088942409000000,0,152666141000000,2833666000000,10397552000000,0,28103139000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,VAB,2023-03-31,Q,N,94791523177439,1211673008101,6585713121660,0,10385340865,65907040904535,0,10086296190985,134973630000,218674218206,0,10300303487327
498,STB,2022-12-31,Y,Y,591907695000000,12286117000000,25293585000000,0,109858000000,432997593000000,102642000000,68800687000000,88812000000,7547677000000,0,36830826000000
499,CTG,2023-03-31,Q,N,1823962183000000,22479729000000,207791425000000,1145892000000,2157082000000,1303638965000000,0,200464866000000,3547286000000,10057208000000,0,62169836000000
500,HDB,2023-03-31,Q,N,458802678000000,12162272000000,56768627000000,3867579000000,0,285239105000000,0,55793600000000,144023000000,1292178000000,0,40843864000000
501,MSB,2023-03-31,Q,N,235473188000000,2243322000000,43429230000000,21675000000,315113000000,135001914000000,0,35292575000000,10036000000,365003000000,0,17576671000000

In [5]:
bbs.check_bbs_130(df=df)

CHECK ITEM & SUB-ITEMS BBS_130

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_130, BBS_131, BBS_132, BBS_139]
Index: []

In [6]:
bbs.check_bbs_140(df=df)

CHECK ITEM & SUB-ITEMS BBS_140

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_140, BBS_141, BBS_149]
Index: []

In [7]:
bbs.check_bbs_160(df=df)

CHECK ITEM & SUB-ITEMS BBS_160

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_160, BBS_161, BBS_169]
Index: []

In [8]:
bbs.check_bbs_170(df=df)

CHECK ITEM & SUB-ITEMS BBS_170

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_170, BBS_171, BBS_172, BBS_179]
Index: []

In [9]:
bbs.check_bbs_210(df=df)

CHECK ITEM & SUB-ITEMS BBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_210, BBS_211, BBS_212, BBS_214, BBS_219]
Index: []

In [10]:
bbs.check_bbs_221(df=df)

CHECK ITEM & SUB-ITEMS BBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_221, BBS_222, BBS_223]
Index: []

In [11]:
bbs.check_bbs_224(df=df)

CHECK ITEM & SUB-ITEMS BBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_224, BBS_225, BBS_226]
Index: []

In [12]:
bbs.check_bbs_227(df=df)

CHECK ITEM & SUB-ITEMS BBS_227

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_227, BBS_228, BBS_229]
Index: []

In [13]:
bbs.check_bbs_240(df=df)

CHECK ITEM & SUB-ITEMS BBS_240

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_240, BBS_241, BBS_242]
Index: []

In [14]:
bbs.check_bbs_250(df=df)

CHECK ITEM & SUB-ITEMS BBS_250

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_250, BBS_251, BBS_252, BBS_253, BBS_254, BBS_259]
Index: []

In [15]:
bbs.check_bbs_320(df=df)

CHECK ITEM & SUB-ITEMS BBS_320

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_320, BBS_321, BBS_322]
Index: []

In [16]:
bbs.check_bbs_400(df=df)

CHECK ITEM & SUB-ITEMS BBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_400, BBS_310, BBS_320, BBS_330, BBS_340, BBS_350, BBS_360, BBS_370]
Index: []

In [17]:
bbs.check_bbs_410(df=df)

CHECK ITEM & SUB-ITEMS BBS_410

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BBS_410, BBS_411, BBS_412, BBS_413, BBS_414, BBS_415, BBS_416]
Index: []

In [18]:
bbs.check_bbs_500(df=df)

CHECK ITEM & SUB-ITEMS BBS_500

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_500,BBS_410,BBS_420,BBS_430,BBS_440,BBS_450
4,BID,2020-03-31,Q,N,79269318000000,54780413000000,7005898000000,298263000000,0,14015338000000
6,CTG,2020-03-31,Q,N,78811234000000,46724637000000,9605683000000,641684000000,0,21287557000000
10,HDB,2020-03-31,Q,N,21387809000000,11381661000000,1246161000000,19370000000,0,7019397000000
13,MBB,2020-03-31,Q,N,43984050000000,25108540000000,4927170000000,0,0,11973445000000
16,VCB,2020-06-30,Q,Y,89578460000000,42428820000000,12183712000000,27265000000,0,34845164000000
...,...,...,...,...,...,...,...,...,...,...
489,TCB,2023-03-31,Q,N,117965416000000,36204797000000,11606679000000,4648000000,0,68979321000000
493,VCB,2023-03-31,Q,N,144658358000000,53130392000000,22556829000000,-842553000000,0,69719946000000
495,VPB,2023-03-31,Q,N,105097639000000,66550770000000,13535084000000,0,0,19260758000000
499,CTG,2023-03-31,Q,N,112945173000000,57868215000000,16075417000000,75353000000,0,38167405000000
500,HDB,2023-03-31,Q,N,40827791000000,25426026000000,3522956000000,18963000000,0,10087795000000

In [19]:
bbs.check_bbs_800(df=df)

CHECK ITEM & SUB-ITEMS BBS_800

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BBS_800,BBS_400,BBS_500,BBS_700
4,BID,2020-03-31,Q,N,1446044081000000,1366774763000000,79269318000000,3169406000000
6,CTG,2020-03-31,Q,N,1222651543000000,1143840309000000,78811234000000,551673000000
10,HDB,2020-03-31,Q,N,231773724000000,210385915000000,21387809000000,1721220000000
13,MBB,2020-03-31,Q,N,406802682000000,362818632000000,43984050000000,1974895000000
16,VCB,2020-06-30,Q,Y,1185871662000000,1096293202000000,89578460000000,93499000000
...,...,...,...,...,...,...,...,...
489,TCB,2023-03-31,Q,N,723517800000000,605552384000000,117965416000000,1169971000000
493,VCB,2023-03-31,Q,N,1846431290000000,1701772932000000,144658358000000,93744000000
495,VPB,2023-03-31,Q,N,677623733000000,572526094000000,105097639000000,5751027000000
499,CTG,2023-03-31,Q,N,1823962183000000,1711017010000000,112945173000000,758783000000
500,HDB,2023-03-31,Q,N,458802678000000,417974887000000,40827791000000,1772051000000