In [1]:
import pandas as pd
import numpy as np
from check_py import check_security_bs as sbs

In [2]:
df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sbs.xlsx")

In [3]:
df

,Unnamed: 0,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,SBS_100,SBS_110,...,SBS_420_1,SBS_420_2,SBS_420_3,SBS_418_1,SBS_440,SBS_440_1,SBS_440_2,SBS_119,CREATED_DATE,UPDATED_DATE
0,0,42910628,2020-03-31,NaN,Q,AAS,N,3,366356284852,365863712642,...,0,0.0,0.0,0,410272838374,0.0,NaN,NaN,2021-06-27 04:54:38.681,2022-11-01 22:17:36.983
1,1,52603,2020-03-31,NaN,Q,ABSC,N,3,482815421078,478361263282,...,0,0.0,0.0,0,646382925120,0.0,0.0,NaN,2021-06-27 04:54:38.681,2021-06-27 04:54:38.681
2,2,52603,2020-03-31,NaN,Q,ACBS,N,3,2227743037608,2204145308944,...,0,0.0,0.0,0,2318304821946,0.0,0.0,NaN,2021-06-27 04:54:38.681,2021-06-27 04:54:38.681
3,3,52603,2020-03-31,NaN,Q,AGR,N,3,1722891810174,1692911454415,...,0,0.0,0.0,0,2052948749757,0.0,0.0,NaN,2021-06-27 04:54:38.681,2021-06-27 04:54:38.681
4,4,52603,2020-03-31,NaN,Q,APG,N,3,152782202668,152015186147,...,0,0.0,0.0,0,392523481736,0.0,0.0,NaN,2021-06-27 04:54:38.681,2021-06-27 04:54:38.681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,1247,43422517,2023-03-31,NaN,Q,VSEC,N,3,171235294022,170343556983,...,0,0.0,0.0,0,184502005389,0.0,NaN,NaN,2023-04-25 10:37:51.680,2023-04-25 10:37:51.680
1248,1248,43433622,2023-03-31,NaN,Q,SSI,N,3,49184621082401,49047177677037,...,0,0.0,0.0,0,52708904888210,0.0,NaN,NaN,2023-04-30 20:38:17.891,2023-04-30 20:38:17.891
1249,1249,43420211,2023-03-31,NaN,Q,VCBS,N,3,7850634180494,7839344951641,...,0,0.0,0.0,0,7956438521770,0.0,NaN,NaN,2023-04-24 14:50:20.136,2023-04-24 14:50:20.136
1250,1250,43420363,2023-03-31,NaN,Q,VCI,N,3,14917464338668,14766756734486,...,0,0.0,0.0,0,14998472092947,0.0,NaN,NaN,2023-04-24 14:50:20.136,2023-04-24 15:52:45.016
1251,1251,43445393,2023-03-31,NaN,Q,VFS,N,3,1008669061667,1004639526834,...,0,0.0,0.0,0,1021749892536,0.0,NaN,NaN,2023-05-09 18:57:09.483,2023-05-09 18:57:09.483

In [4]:
sbs.check_sbs_110(df=df)

CHECK ITEM & SUB-ITEMS SBS_110

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_110,SBS_111,SBS_111_4,SBS_117,SBS_129_3,SBS_130
0,AAS,2020-03-31,Q,N,365863712642,31333663618,299558574910,36154446353,0.0,492572210
1,ABSC,2020-03-31,Q,N,478361263282,77626438749,343732639084,57002185449,0.0,4454157796
2,ACBS,2020-03-31,Q,N,2204145308944,127168656594,2051613537725,25363114625,0.0,23597728664
3,AGR,2020-03-31,Q,N,1692911454415,22106796654,1625122592525,45682065236,0.0,29980355759
4,APG,2020-03-31,Q,N,152015186147,546938418,72559832512,78908415217,0.0,767016521
...,...,...,...,...,...,...,...,...,...,...
1247,VSEC,2023-03-31,Q,N,170343556983,1197316407,168101520532,1044720044,0.0,891737039
1248,SSI,2023-03-31,Q,N,49047177677037,142513532064,47295337115482,1609327029491,0.0,137443405364
1249,VCBS,2023-03-31,Q,N,7839344951641,32125390417,7630485104154,176734457070,0.0,11289228853
1250,VCI,2023-03-31,Q,N,14766756734486,3029413854383,11576229470071,161113410032,0.0,150707604182
1251,VFS,2023-03-31,Q,N,1004639526834,674743053204,321409152013,8487321617,0.0,4029534833

In [5]:
sbs.check_sbs_111(df=df)

CHECK ITEM & SUB-ITEMS SBS_111

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_111,SBS_111_1,SBS_111_3
1,ABSC,2020-03-31,Q,N,77626438749,77294417749,0.0
2,ACBS,2020-03-31,Q,N,127168656594,46168656594,0.0
6,APSC,2020-03-31,Q,N,29871358951,14871358951,0.0
11,MASC,2020-03-31,Q,N,1363479842517,23479842517,0.0
12,MBS,2020-03-31,Q,N,398631499963,271331499963,0.0
...,...,...,...,...,...,...,...
1238,LVSC,2023-03-31,Q,N,105277501880,628826697,0.0
1243,KBSV,2023-03-31,Q,N,237085492038,137085492038,0.0
1244,NVSC,2023-03-31,Q,N,114574779210,62574779210,0.0
1248,SSI,2023-03-31,Q,N,142513532064,138684051242,0.0
1250,VCI,2023-03-31,Q,N,3029413854383,1729413854383,0.0

In [6]:
sbs.check_sbs_111_4(df=df)

CHECK ITEM & SUB-ITEMS SBS_111_4

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_111_4,SBS_112,SBS_113,SBS_114,SBS_115,SBS_116
502,JSIC,2021-06-30,Q,Y,86032757776,0,85000000000,2289711584,0,0
557,MASC,2021-06-30,Q,Y,17018134167639,0,1545000000000,15111731616403,367260654150,0
571,KBSV,2021-06-30,Q,Y,4373702760513,0,664173000000,3709183350170,897376000,0
572,KEVS,2021-06-30,Q,Y,2603233760244,0,0,2605156555059,0,0
573,KISVN,2021-06-30,Q,Y,6793217820552,0,349180000000,6580693102802,0,0
576,FSC,2021-06-30,Q,Y,3407001141645,0,210000000000,3199488421699,0,0

In [7]:
sbs.check_sbs_117(df=df)

CHECK ITEM & SUB-ITEMS SBS_117

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_117,SBS_117_0,SBS_117_1,SBS_117_2,SBS_117_5,SBS_117_6,...,SBS_118,SBS_120,SBS_121,SBS_121_1,SBS_121_2,SBS_121_3,SBS_122,SBS_129,SBS_129_1,SBS_129_2
0,AAS,2020-03-31,Q,N,36154446353,3.497147e+10,0,33788501875,0.0,0,...,352572964,0,0,0.0,0.0,0.0,441510363,-222000000,0.0,0.0
1,ABSC,2020-03-31,Q,N,57002185449,5.572965e+10,55729652854,0,0.0,0,...,112793000,0,0,0.0,0.0,0.0,2014478254,-3517850220,0.0,0.0
2,ACBS,2020-03-31,Q,N,25363114625,2.003879e+10,0,20038786440,0.0,0,...,2769430800,0,0,0.0,0.0,0.0,823099279,-1299092980,0.0,0.0
3,AGR,2020-03-31,Q,N,45682065236,6.292644e+11,0,629264414226,0.0,0,...,346966000,305234,0,0.0,0.0,0.0,4145607836,-1167757787639,0.0,0.0
4,APG,2020-03-31,Q,N,78908415217,1.844274e+10,0,18442742125,0.0,0,...,60322600000,0,0,0.0,0.0,0.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,VSEC,2023-03-31,Q,N,1044720044,1.021790e+09,0,1021789604,0.0,0,...,3250000,0,0,0.0,0.0,0.0,0,0,0.0,0.0
1248,SSI,2023-03-31,Q,N,1609327029491,5.375531e+11,244026140192,293527002616,0.0,0,...,1105060666455,0,0,0.0,0.0,0.0,179008583443,-231871436808,0.0,0.0
1249,VCBS,2023-03-31,Q,N,176734457070,1.285872e+11,0,128587218191,0.0,0,...,5560073734,0,0,0.0,0.0,0.0,39865243872,-3732831960,0.0,0.0
1250,VCI,2023-03-31,Q,N,161113410032,1.257349e+11,36818796000,88916148298,0.0,0,...,3099660384,0,0,0.0,0.0,0.0,0,-1928450000,0.0,0.0
1251,VFS,2023-03-31,Q,N,8487321617,7.946178e+09,0,7946178451,0.0,0,...,363833000,0,0,0.0,0.0,0.0,0,0,0.0,0.0

In [8]:
sbs.check_sbs_117_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_117_2

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_117_2, SBS_117_3, SBS_117_4]
Index: []

In [9]:
sbs.check_sbs_129_3(df=df)

CHECK ITEM & SUB-ITEMS SBS_129_3

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_129_3,SBS_129_4,SBS_129_5
447,HRSC,2021-03-31,Q,N,NaN,NaN,NaN
488,DASC,2021-06-30,Q,Y,NaN,NaN,NaN
502,JSIC,2021-06-30,Q,Y,NaN,NaN,NaN
526,PNSC,2021-06-30,Q,Y,NaN,NaN,NaN
528,SASC,2021-06-30,Q,Y,NaN,NaN,NaN
556,HRSC,2021-06-30,Q,Y,NaN,NaN,NaN
557,MASC,2021-06-30,Q,Y,NaN,NaN,NaN
570,DVSC,2021-06-30,Q,Y,NaN,NaN,NaN
571,KBSV,2021-06-30,Q,Y,NaN,NaN,NaN
572,KEVS,2021-06-30,Q,Y,NaN,NaN,NaN
573,KISVN,2021-06-30,Q,Y,NaN,NaN,NaN
575,VGSC,2021-06-30,Q,Y,NaN,NaN,NaN
576,FSC,2021-06-30,Q,Y,NaN,NaN,NaN
577,GLSC,2021-06-30,Q,Y,NaN,NaN,NaN
632,VGSC,2021-09-30,Q,N,NaN,NaN,NaN

In [10]:
sbs.check_sbs_130(df=df)

CHECK ITEM & SUB-ITEMS SBS_130

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_130,SBS_131,SBS_132,SBS_133,SBS_134,SBS_135,SBS_136,SBS_137,SBS_138,SBS_139
0,AAS,2020-03-31,Q,N,492572210,0,0,326579471,106010100,0,0,0,0,0
108,SSV,2020-03-31,Q,N,2863931484,1079664543,253560000,1344268576,0,0,0,0,0,0
123,VNSC,2020-03-31,Q,N,1211802495,3262000,0,928983830,154500000,0,48135093,0,0,0
129,AAS,2020-06-30,Q,Y,459621318,4000000,0,227484179,106010100,0,0,0,0,0
170,VNSC,2020-06-30,Q,Y,550081711,3262000,0,448119121,94500000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,TVS,2023-03-31,Q,N,9953330416,2278500000,31678303,7539300672,0,0,0,0,0,0
1235,HBS,2023-03-31,Q,N,2034071933,20055371,0,1913431668,0,0,39868875,0,0,0
1247,VSEC,2023-03-31,Q,N,891737039,48414841,0,833878382,0,0,0,0,0,0
1248,SSI,2023-03-31,Q,N,137443405364,32259231762,3895730686,76025552008,388560700,0,12135574,23391785634,0,0
1251,VFS,2023-03-31,Q,N,4029534833,414979817,0,1867110538,1686527000,0,17044063,0,0,0

In [12]:
sbs.check_sbs_200(df=df)

CHECK ITEM & SUB-ITEMS SBS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_200,SBS_210,SBS_220,SBS_255_2,SBS_250,SBS_260
36,HBS,2020-03-31,Q,N,184938020241,55069581024,2624022596,0,89140630009,0
84,HBS,2020-06-30,Q,Y,183909853880,55080448388,2097457520,0,89116216384,0
107,SSI,2020-03-31,Q,N,5822064735193,5313695765116,138793729733,39502762622,122950635118,0
148,SSI,2020-06-30,Q,Y,5885184226567,5380287849147,144450825505,39400764046,119365086783,0
197,HBS,2020-09-30,Q,N,183048856867,55078519150,1570892444,0,89271768709,0
246,HBS,2020-12-31,Q,N,182609409923,55083704288,1044327368,0,89841756727,0
267,SSI,2020-09-30,Q,N,5882714519993,5390511381495,136379948388,41921858901,114573544768,0
287,HBS,2020-12-31,Y,Y,182519649923,55083704288,1044327368,0,89751996727,0
307,SSI,2020-12-31,Q,N,6729496508663,6249810538455,148288324557,43076046646,91553847991,0
363,HBS,2021-03-31,Q,N,181592860098,55085886685,521283412,0,89834123485,0
425,SSI,2020-12-31,Y,Y,6729496508663,6249810538455,148288324557,43076046646,91553847991,0
465,SSI,2021-03-31,Q,N,4761376207287,4288626389430,136208815831,45421708813,96816472857,0
513,HBS,2021-09-30,Q,N,180428860587,55081866393,330347222,0,89841190504,0
560,SSI,2021-06-30,Q,Y,4232303893691,3747217733856,158019328043,29673850943,105755974532,0
578,HBS,2021-06-30,Q,Y,180521750517,55084625032,0,0,89773613993,0
624,SSI,2021-09-30,Q,N,6286788099550,5791997848761,170604483371,34217283822,102556041107,0
678,SSI,2021-12-31,Q,N,4253461407737,3689345130340,188965446921,34927073550,107039438451,0
706,HBS,2021-12-31,Q,N,130575455145,5074663249,300763889,0,90512626563,0
744,HBS,2021-12-31,Y,Y,130068234545,5074663249,300763889,0,90005405963,0
776,SSI,2021-12-31,Y,Y,4253461407737,3689345130340,188965446921,34927073550,107039438451,0
814,SSI,2022-03-31,Q,N,4570260259388,3993130753290,171842706022,53648182032,119161472379,0
824,HBS,2022-03-31,Q,N,129603074513,5069773791,271180556,0,90062773746,0
907,HBS,2022-06-30,Q,Y,49807656948,5019005010,241597223,0,10835763319,0
946,SSI,2022-09-30,Q,N,3412090513519,2726337945838,206016104959,55631646988,152783165992,0
973,HBS,2022-09-30,Q,N,49323563959,5024786601,322013890,0,10753527096,0
991,SSI,2022-06-30,Q,Y,4429679041588,3778053703363,214799404251,33721768170,136811620052,0
1060,HBS,2022-12-31,Q,N,56527950469,7561903454,5029025489,0,11201840178,0
1089,HBS,2022-12-31,Y,Y,55054255615,5662566086,5029025489,0,11627482692,0
1125,SSI,2022-12-31,Y,Y,3494467781872,2773073277309,281930596475,25900319841,148450682515,0
1145,SSI,2022-12-31,Q,N,3494467781872,2773073277309,281930596475,25900319841,148450682515,0
1235,HBS,2023-03-31,Q,N,53956971018,5609180812,4571878688,0,11528785194,0
1248,SSI,2023-03-31,Q,N,3524283805809,2808787056746,260723920146,26535803424,167003826593,0

In [13]:
sbs.check_sbs_210(df=df)

CHECK ITEM & SUB-ITEMS SBS_210

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_210, SBS_211, SBS_212]
Index: []

In [14]:
sbs.check_sbs_211(df=df)

CHECK ITEM & SUB-ITEMS SBS_211

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_211,SBS_211_1,SBS_211_2,SBS_211_3,SBS_211_4,SBS_211_5,SBS_211_6,SBS_211_7
363,HBS,2021-03-31,Q,N,55085886685,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,HRSC,2021-03-31,Q,N,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,DASC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,JSIC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,PNSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,SASC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,HRSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,MASC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,DVSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
571,KBSV,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,KEVS,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,KISVN,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,VGSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,FSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,GLSC,2021-06-30,Q,Y,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,VGSC,2021-09-30,Q,N,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,VISC,2021-09-30,Q,N,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
735,VISC,2021-12-31,Y,Y,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
830,VDS,2022-03-31,Q,N,337273955,0.0,0.0,0.0,0.0,0.0,0.0,0.0
895,VISC,2022-03-31,Q,N,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
938,VISC,2022-06-30,Q,Y,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1041,VISC,2022-09-30,Q,N,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1151,VISC,2022-12-31,Q,N,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1183,VISC,2022-12-31,Y,Y,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1227,VISC,2023-03-31,Q,N,50700000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
sbs.check_sbs_212(df=df)

CHECK ITEM & SUB-ITEMS SBS_212

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_212,SBS_212_1,SBS_212_2,SBS_212_3,SBS_212_4,SBS_212_5,SBS_212_6
3,AGR,2020-03-31,Q,N,236325136900,236325136900,0,0,0.000000e+00,2.363251e+11,0
4,APG,2020-03-31,Q,N,234440000000,234440000000,0,0,0.000000e+00,2.344400e+11,0
9,BETA,2020-03-31,Q,N,70728310487,0,0,0,7.110950e+10,0.000000e+00,0
11,MASC,2020-03-31,Q,N,658172618000,657600000000,0,0,5.726180e+08,6.576000e+11,0
12,MBS,2020-03-31,Q,N,76750000000,76750000000,0,0,0.000000e+00,7.675000e+10,0
...,...,...,...,...,...,...,...,...,...,...,...
1233,VTSS,2023-03-31,Q,N,500000000,500000000,0,0,0.000000e+00,5.000000e+08,0
1235,HBS,2023-03-31,Q,N,5609180812,0,0,2940000000,5.436160e+09,0.000000e+00,0
1242,SSV,2023-03-31,Q,N,489660443113,444500000000,0,0,4.516044e+10,4.445000e+11,0
1244,NVSC,2023-03-31,Q,N,2241352628,3300000000,0,0,0.000000e+00,3.300000e+09,0
1248,SSI,2023-03-31,Q,N,2808787056746,2191511923762,0,617275132984,0.000000e+00,2.191512e+12,0

In [16]:
sbs.check_sbs_220(df=df)

CHECK ITEM & SUB-ITEMS SBS_220

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_220, SBS_221, SBS_224, SBS_227, SBS_240A]
Index: []

In [17]:
sbs.check_sbs_221(df=df)

CHECK ITEM & SUB-ITEMS SBS_221

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_221, SBS_222, SBS_223A, SBS_223B]
Index: []

In [18]:
sbs.check_sbs_224(df=df)

CHECK ITEM & SUB-ITEMS SBS_224

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_224, SBS_225, SBS_226A, SBS_226B]
Index: []

In [19]:
sbs.check_sbs_230(df=df)

CHECK ITEM & SUB-ITEMS SBS_230

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_230, SBS_231, SBS_232A, SBS_232B]
Index: []

In [20]:
sbs.check_sbs_250(df=df)

CHECK ITEM & SUB-ITEMS SBS_250

KeyError: 'SBS_253_1'

In [21]:
sbs.check_sbs_255_2(df=df)

CHECK ITEM & SUB-ITEMS SBS_255_2

    SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED  SBS_255_2  SBS_255_3  SBS_240
332          VTSS  2020-12-31         Q       N          0        NaN      NaN
445          NSIC  2021-03-31         Q       N  150000000        NaN      NaN
509          NSIC  2021-06-30         Q       N  150000000        NaN      NaN
613          NSIC  2021-09-30         Q       N  150000000        NaN      NaN
634          VISC  2021-09-30         Q       N          0        NaN      NaN
639          VTSS  2021-09-30         Q       N          0        NaN      NaN

In [22]:
sbs.check_sbs_300(df=df)

CHECK ITEM & SUB-ITEMS SBS_300

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_300, SBS_310, SBS_340]
Index: []

In [23]:
sbs.check_sbs_310(df=df)

CHECK ITEM & SUB-ITEMS SBS_310

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_310,SBS_311,SBS_314,SBS_315,SBS_316,SBS_317,...,SBS_327,SBS_328,SBS_329,SBS_329_1,SBS_329_2,SBS_329_3,SBS_330,SBS_331,SBS_331_1,SBS_332
332,VTSS,2020-12-31,Q,N,1360995676,0,0,0,0,0,...,0,0,602317310,NaN,0.0,0.0,0,0,0.0,0
445,NSIC,2021-03-31,Q,N,103627353700,0,0,0,99097918554,0,...,0,0,253893984,NaN,0.0,0.0,0,179577,0.0,0
447,HRSC,2021-03-31,Q,N,505906386,0,0,0,0,0,...,0,0,50184000,0.0,NaN,NaN,0,0,NaN,0
488,DASC,2021-06-30,Q,Y,7189324320,0,0,0,0,0,...,0,0,1475907397,0.0,NaN,NaN,0,992197,NaN,0
502,JSIC,2021-06-30,Q,Y,3621492961,0,0,0,0,0,...,0,0,1288043250,0.0,NaN,NaN,0,0,NaN,0
509,NSIC,2021-06-30,Q,N,166894663257,0,0,0,152432150323,0,...,0,0,322881488,NaN,0.0,0.0,0,179577,0.0,0
526,PNSC,2021-06-30,Q,Y,103837539203,70788250000,0,0,0,0,...,0,0,1714669581,0.0,NaN,NaN,0,194677557,NaN,0
528,SASC,2021-06-30,Q,Y,19175526673,0,0,0,0,0,...,87111103,0,1332031664,0.0,NaN,NaN,0,1328149570,NaN,0
556,HRSC,2021-06-30,Q,Y,32843244966,0,0,0,0,0,...,5781154363,0,11464141701,0.0,NaN,NaN,0,0,NaN,0
557,MASC,2021-06-30,Q,Y,11060929426711,10045914000000,0,0,595000000000,0,...,44818182,0,133303657885,0.0,NaN,NaN,0,0,NaN,0
570,DVSC,2021-06-30,Q,Y,1714020343,0,0,0,0,0,...,0,0,281030075,0.0,NaN,NaN,0,1189265,NaN,0
571,KBSV,2021-06-30,Q,Y,4512256652560,4044030209886,0,0,0,0,...,0,0,377467752275,0.0,NaN,NaN,0,3134000979,NaN,0
572,KEVS,2021-06-30,Q,Y,1313800787532,1245427810000,0,0,0,0,...,0,0,189032719,0.0,NaN,NaN,0,0,NaN,0
573,KISVN,2021-06-30,Q,Y,4588938725915,2760600000000,0,0,244000000000,0,...,0,0,17239299,0.0,NaN,NaN,0,0,NaN,0
575,VGSC,2021-06-30,Q,Y,20052181520,0,0,0,0,0,...,0,0,183807718,0.0,NaN,NaN,0,0,NaN,0
576,FSC,2021-06-30,Q,Y,1887154607851,1819307000000,0,0,0,0,...,0,0,45664161,0.0,NaN,NaN,0,1185122192,NaN,0
577,GLSC,2021-06-30,Q,Y,4443908128,2694306999,0,0,0,0,...,0,34941013,772568402,0.0,NaN,NaN,0,108934,NaN,0
613,NSIC,2021-09-30,Q,N,168891848385,0,0,0,153100000000,0,...,0,0,660842912,NaN,0.0,0.0,0,179577,0.0,0
632,VGSC,2021-09-30,Q,N,22807148683,0,0,0,0,0,...,0,0,7446487,0.0,NaN,NaN,0,0,NaN,0
634,VISC,2021-09-30,Q,N,70408302547,39600000000,0,0,0,0,...,358461396,0,6849867818,NaN,0.0,0.0,0,137185576,0.0,0
639,VTSS,2021-09-30,Q,N,807529893,0,0,0,0,0,...,0,0,561671485,NaN,0.0,0.0,0,0,0.0,0

In [24]:
sbs.check_sbs_311(df=df)

CHECK ITEM & SUB-ITEMS SBS_311

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_311, SBS_312, SBS_313]
Index: []

In [25]:
sbs.check_sbs_340(df=df)

CHECK ITEM & SUB-ITEMS SBS_340

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_340,SBS_341,SBS_344,SBS_345,SBS_346,SBS_347,...,SBS_350_1,SBS_351,SBS_352,SBS_353,SBS_353_1,SBS_353_2,SBS_354,SBS_355,SBS_356,SBS_357
447,HRSC,2021-03-31,Q,N,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
488,DASC,2021-06-30,Q,Y,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
502,JSIC,2021-06-30,Q,Y,77586446,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,77586446,0
526,PNSC,2021-06-30,Q,Y,147837820885,133300000000,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,14537820885,0
528,SASC,2021-06-30,Q,Y,47803682848,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,1072198914,46731483934,0
556,HRSC,2021-06-30,Q,Y,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
557,MASC,2021-06-30,Q,Y,29410507428,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,2066866616,0,27343640812,0
570,DVSC,2021-06-30,Q,Y,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
571,KBSV,2021-06-30,Q,Y,16929271,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,16929271,0
572,KEVS,2021-06-30,Q,Y,125789383,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,125789383,0
573,KISVN,2021-06-30,Q,Y,304939545025,0,0,0,300000000000,0,...,NaN,0,0,0,NaN,NaN,0,0,4939545025,0
575,VGSC,2021-06-30,Q,Y,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
576,FSC,2021-06-30,Q,Y,2000000000,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,2000000000,0,0
577,GLSC,2021-06-30,Q,Y,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0
632,VGSC,2021-09-30,Q,N,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,0,0,0,0

In [26]:
sbs.check_sbs_341(df=df)

CHECK ITEM & SUB-ITEMS SBS_341

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_341, SBS_342, SBS_343]
Index: []

In [27]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [28]:
sbs.check_sbs_400(df=df)

CHECK ITEM & SUB-ITEMS SBS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_400, SBS_410, SBS_420]
Index: []

In [29]:
sbs.check_sbs_410(df=df)

CHECK ITEM & SUB-ITEMS SBS_410

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_410,SBS_411,SBS_412,SBS_413,SBS_414,SBS_414_1,SBS_415,SBS_416,SBS_417,SBS_418
447,HRSC,2021-03-31,Q,N,25653457103,110538460000,0,0,0,NaN,0,0,-84885002897,0
488,DASC,2021-06-30,Q,Y,209194414595,500000000000,0,0,8902712767,NaN,8902712768,11770434156,-320381445096,0
502,JSIC,2021-06-30,Q,Y,305339175233,300000000000,0,0,0,NaN,325801831,344013296,4669360106,0
526,PNSC,2021-06-30,Q,Y,443368950339,340000000000,0,0,2713354907,NaN,2713354907,0,97942240525,0
528,SASC,2021-06-30,Q,Y,1276252505810,1000000000000,0,0,2229915949,NaN,5175910271,0,268846679590,0
556,HRSC,2021-06-30,Q,Y,947980780077,1000373030000,0,0,0,NaN,0,0,-52392249923,0
557,MASC,2021-06-30,Q,Y,7026731703114,5455500000000,102528977835,0,57634430899,NaN,57634430899,0,1353433863481,0
570,DVSC,2021-06-30,Q,Y,223639258882,250000000000,0,0,4237404755,NaN,3562404755,0,-34160550628,0
571,KBSV,2021-06-30,Q,Y,2285803149391,1675020900000,0,0,18275822797,NaN,33146243323,0,559360183271,0
572,KEVS,2021-06-30,Q,Y,2197585992885,1745000000000,0,0,23994290807,NaN,23994290809,0,404597411269,0
573,KISVN,2021-06-30,Q,Y,4393291823657,3761579550000,0,0,19702591126,NaN,19702591126,0,592307091405,0
575,VGSC,2021-06-30,Q,Y,379630288276,339000000000,10809990000,0,1903909023,NaN,1903909023,0,26012480230,0
576,FSC,2021-06-30,Q,Y,1684203245324,1500924317200,0,0,15743756591,NaN,14839550244,0,152695621289,0
577,GLSC,2021-06-30,Q,Y,36651058661,135000000000,0,0,0,NaN,0,0,-98348941339,0
632,VGSC,2021-09-30,Q,N,368536495390,339000000000,10710676800,0,1903909023,NaN,1903909023,0,15018000544,0

In [30]:
sbs.check_sbs_411_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_411_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_411_1, SBS_411_1A, SBS_411_1B]
Index: []

In [31]:
sbs.check_sbs_417(df=df)

CHECK ITEM & SUB-ITEMS SBS_417

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_417, SBS_417_1, SBS_417_2]
Index: []

In [32]:
sbs.check_sbs_417_1(df=df)

CHECK ITEM & SUB-ITEMS SBS_417_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_417_1,SBS_417_2_1,SBS_417_2_2
0,AAS,2020-03-31,Q,N,39280510551,0.0,NaN
46,KBSV,2020-03-31,Q,N,340245566317,0.0,NaN
50,ABSC,2020-06-30,Q,Y,63054304407,0.0,NaN
69,ABW,2020-06-30,Q,Y,63054304407,0.0,NaN
106,SJCS,2020-03-31,Q,N,-20316777234,0.0,NaN
...,...,...,...,...,...,...,...
1247,VSEC,2023-03-31,Q,N,25574971397,0.0,NaN
1248,SSI,2023-03-31,Q,N,4459779762275,0.0,NaN
1249,VCBS,2023-03-31,Q,N,1043947811031,0.0,NaN
1250,VCI,2023-03-31,Q,N,873877475305,0.0,NaN
1251,VFS,2023-03-31,Q,N,184861002242,0.0,NaN

In [33]:
sbs.check_sbs_420(df=df)

CHECK ITEM & SUB-ITEMS SBS_420

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SBS_420,SBS_420_1,SBS_420_2,SBS_420_3
447,HRSC,2021-03-31,Q,N,0,0,NaN,NaN
488,DASC,2021-06-30,Q,Y,0,0,NaN,NaN
502,JSIC,2021-06-30,Q,Y,0,0,NaN,NaN
526,PNSC,2021-06-30,Q,Y,0,0,NaN,NaN
528,SASC,2021-06-30,Q,Y,0,0,NaN,NaN
556,HRSC,2021-06-30,Q,Y,0,0,NaN,NaN
557,MASC,2021-06-30,Q,Y,0,0,NaN,NaN
570,DVSC,2021-06-30,Q,Y,0,0,NaN,NaN
571,KBSV,2021-06-30,Q,Y,0,0,NaN,NaN
572,KEVS,2021-06-30,Q,Y,0,0,NaN,NaN
573,KISVN,2021-06-30,Q,Y,0,0,NaN,NaN
575,VGSC,2021-06-30,Q,Y,0,0,NaN,NaN
576,FSC,2021-06-30,Q,Y,0,0,NaN,NaN
577,GLSC,2021-06-30,Q,Y,0,0,NaN,NaN
632,VGSC,2021-09-30,Q,N,0,0,NaN,NaN

In [34]:
sbs.check_sbs_440(df=df)

CHECK ITEM & SUB-ITEMS SBS_440

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SBS_440, SBS_300, SBS_400]
Index: []