Library

In [6]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

Symbol

In [7]:
# Save as a table
sql_symbol = pd.read_csv("symbol_id.csv")
sql_symbol.drop(['Unnamed: 0'], axis=1, inplace=True)

# Save as a dict
dict_sql_symbol = dict(zip(sql_symbol['SymbolID'], sql_symbol['Symbol']))

Pathlink

In [8]:
# Assign pathlink: Company Balance Sheet
algo_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/algo_cbs.xlsx"
sql_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/sql_cbs.xlsx"
same_field_data = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/cbs_datafield.xlsx"
result_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/result"

Algo Database

In [9]:
# Read data from algo database
df_algo = pd.read_excel(algo_pathlink)
df_algo.drop(['Unnamed: 0', 'SCN', 'REPORTED_DATE', 'AUDITED', 'MONTH_IN_PERIOD', 'CREATED_DATE', 'UPDATED_DATE'], axis=1, inplace=True)
df_algo = df_algo.loc[df_algo['FREQ_CODE'] != 'Y']
df_algo['YEAR'] = df_algo['REPORT_DATE'].dt.year
df_algo['QUARTER'] = df_algo['REPORT_DATE'].dt.quarter
df_algo.drop(['REPORT_DATE', 'FREQ_CODE'], axis=1, inplace=True)

# Sort Values
df_algo.sort_values(by=['YEAR', 'QUARTER', 'SECURITY_CODE'], ascending=[True, True, True], inplace=True)

# Print how many rows are used
print("ALGO DATABASE COMPANY: There are: " + str(len(df_algo)) + " rows")
print("ALGO DATABASE CMPANY: There are: " + str(len(df_algo.columns)) + " columns")

ALGO DATABASE COMPANY: There are: 15419 rows
ALGO DATABASE CMPANY: There are: 129 columns

In [10]:
# Get first rows of df_algo
df_algo.head(1)

,SECURITY_CODE,CBS_100,CBS_110,CBS_111,CBS_112,CBS_120,CBS_121,CBS_122,CBS_123,CBS_130,...,CBS_429,CBS_430,CBS_4301,CBS_431,CBS_432,CBS_4291,CBS_440,CBS_422,YEAR,QUARTER
2537,AAA,4.556886e+12,2.884499e+11,1.961244e+11,9.232548e+10,8.403360e+11,0.0,0.0,8.403360e+11,2.157057e+12,...,3.059199e+11,0.0,0.0,0.0,0.0,0.0,7.768232e+12,NaN,2020,1

In [11]:
# Check data type of df_alg
df_algo.dtypes

SECURITY_CODE     object
CBS_100          float64
CBS_110          float64
CBS_111          float64
CBS_112          float64
                  ...
CBS_4291         float64
CBS_440          float64
CBS_422          float64
YEAR               int32
QUARTER            int32
Length: 129, dtype: object

Stockbiz Database

In [12]:
# Read data from sql database
df_sql = pd.read_excel(sql_pathlink)
df_sql.drop(['Unnamed: 0', 'ReportID', 'LastUpdated', 'ApprovedBy', 'Currency', 'CreatedBy', 'LastUpdatedBy',
             'ReportStatus', 'AssignedTo', 'CreatedAt'], axis=1, inplace=True)
df_sql = df_sql.loc[(df_sql['Quarter'] != 0) & (df_sql['Year'] > 2019)]
df_sql.sort_values(by=['Year', 'Quarter'], ascending=[True, True], inplace=True)

# Change the name of tickers
df_sql['SymbolID'] = df_sql['SymbolID'].map(dict_sql_symbol)

# Change the name of column SymbolID
df_sql.rename(
    columns={"SymbolID": "SECURITY_CODE",
             "Year": "YEAR",
             "Quarter": "QUARTER"},
    inplace=True
)

# Print how many rows are used
print("STOCKBIZ DATABASE COMPANY: There are: " + str(len(df_sql)) + " rows")
print("STOCKBIZ DATABASE COMPANY: There are: " + str(len(df_sql.columns)) + " columns")

STOCKBIZ DATABASE COMPANY: There are: 15095 rows
STOCKBIZ DATABASE COMPANY: There are: 119 columns

In [13]:
# Get first row of df_sql
df_sql.head(1)

,SECURITY_CODE,QUARTER,YEAR,LiquidAssetsAndCurrentInvestment,CashAndCashEquivalents,Cash,CashEquivalents,ShortTermFinancialInvestment,ShortTermInvestment,ProvisionForShortTermFinancialInvestmentLoss,...,LongTermInvestmentsHeldToMaturity,ShortTermUnexecutedRevenues,PriceStabilizationFund,ShortTermTradedGovernmentBond,LongTermExpensesPayable,InterCompanyPayablesOnCapital,ConvertibleBonds,BondConversionOption,ProfitAfterTaxCumulativeUndistributedPriorToFinal,ProfitAfterTaxRetainedThisPeriod
3,AGF,1,2020,519196448427,8118214995,8118214995,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5.325153e+11,-2.090245e+09

In [14]:
# Check the data type of df_sql
df_sql.dtypes

SECURITY_CODE                                         object
QUARTER                                                int64
YEAR                                                   int64
LiquidAssetsAndCurrentInvestment                       int64
CashAndCashEquivalents                                 int64
                                                      ...
InterCompanyPayablesOnCapital                        float64
ConvertibleBonds                                     float64
BondConversionOption                                 float64
ProfitAfterTaxCumulativeUndistributedPriorToFinal    float64
ProfitAfterTaxRetainedThisPeriod                     float64
Length: 119, dtype: object

In [15]:
# Get Symbol in GENERAL SECTORS
general_symbol = df_sql['SECURITY_CODE'].unique()

print("STOCKBIZ DATABASE GENERAL There are: "+ str(len(general_symbol)) + " stocks")

STOCKBIZ DATABASE GENERAL There are: 1620 stocks

Process 2 tables

In [16]:
# Change the name of columns
same_column_name = pd.read_excel(same_field_data)
same_column_name.dropna(axis=0, inplace=True)

print("There are: "+ str(len(same_column_name)) + " same data fields")

# Create a dict with key from bbs_sql and value from bbs_algo
dict_column_name = dict(zip(same_column_name['sql_cbs'], same_column_name['algo_cbs']))

There are: 105 same data fields

In [17]:
same_column_name.isna().any()

algo_cbs    False
sql_cbs     False
dtype: bool

In [18]:
len(df_sql.columns)

119

In [19]:
len(df_algo.columns)

129

In [20]:
# Change the name of df_sql based on name of the similar data field in df_algo
df_sql.rename(
    columns=dict_column_name,
    inplace=True
)

In [21]:
# Fill NA values in df_sql
df_sql = df_sql.fillna(0)

In [22]:
df_sql.head(1)

,SECURITY_CODE,QUARTER,YEAR,CBS_100,CBS_110,CBS_111,CBS_112,CBS_120,CBS_121,CBS_122,...,LongTermInvestmentsHeldToMaturity,CBS_318,CBS_323,ShortTermTradedGovernmentBond,LongTermExpensesPayable,CBS_334,CBS_339,BondConversionOption,ProfitAfterTaxCumulativeUndistributedPriorToFinal,ProfitAfterTaxRetainedThisPeriod
3,AGF,1,2020,519196448427,8118214995,8118214995,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-5.325153e+11,-2.090245e+09

In [23]:
same_column_name = same_column_name.loc[(same_column_name['algo_cbs'] != 'CBS_123') & (same_column_name['algo_cbs'] != 'CBS_139')]

In [24]:
# Change the type of data which is same between two tables
df_sql[same_column_name['algo_cbs']] = df_sql[same_column_name['algo_cbs']].astype('Int64')

In [25]:
# Change the type of data in df_algo
# Just get the same data between two tables
df_algo[same_column_name['algo_cbs']] = df_algo[same_column_name['algo_cbs']].astype('Int64')

# Change the type of YEAR and QUARTER
df_algo =  df_algo.astype(
    {"YEAR": "Int64",
     "QUARTER": "Int64"},
)

# Get the data with same value in banking sector
df_algo = df_algo.loc[df_algo['SECURITY_CODE'].isin(general_symbol)]

In [26]:
# Get the final same columns
final_column = ["SECURITY_CODE", "YEAR", "QUARTER"]

for i in same_column_name['algo_cbs']:
    final_column.append(i)
    
print("There are: "+ str(len(final_column)) + " data fields")

There are: 106 data fields

In [27]:
df_sql = df_sql[final_column]
df_algo = df_algo[final_column]

In [28]:
df_sql.dtypes

SECURITY_CODE    object
YEAR              int64
QUARTER           int64
CBS_100           Int64
CBS_110           Int64
                  ...
CBS_430           Int64
CBS_4301          Int64
CBS_431           Int64
CBS_432           Int64
CBS_4291          Int64
Length: 106, dtype: object

In [29]:
df_algo.dtypes

SECURITY_CODE    object
YEAR              Int64
QUARTER           Int64
CBS_100           Int64
CBS_110           Int64
                  ...
CBS_430           Int64
CBS_4301          Int64
CBS_431           Int64
CBS_432           Int64
CBS_4291          Int64
Length: 106, dtype: object

In [30]:
def compare_table(df1, df2, columns) -> pd.DataFrame():
    
    return pd.merge(df1, df2, on=columns, how='outer', indicator=True).query("_merge != 'both'")

In [31]:
final_result = {"field": [], "value_not_same": []}
for i in range(3, len(final_column)):
    check_columns = ["SECURITY_CODE", 'YEAR', 'QUARTER', final_column[i]]
    result = compare_table(
        df1=df_sql[check_columns], 
        df2=df_algo[check_columns], 
        columns=check_columns)
    
    value_not_same = len(result)/(len(df_algo) + len(df_sql))*100
    
    final_result["field"].append(final_column[i])
    final_result["value_not_same"].append(value_not_same)

In [32]:
df = pd.DataFrame(final_result)

In [33]:
df.to_excel(result_pathlink+"/check_cbs.xlsx")