Library

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

Symbol

In [2]:
# Save as a table
sql_symbol = pd.read_csv("symbol_id.csv")
sql_symbol.drop(['Unnamed: 0'], axis=1, inplace=True)

# Save as a dict
dict_sql_symbol = dict(zip(sql_symbol['SymbolID'], sql_symbol['Symbol']))

Pathlink

In [3]:
# Assign pathlink: Income Statement Bank
algo_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/algo_cis.xlsx"
sql_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/sql_cis.xlsx"
same_field_data = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/company/cis_datafield.xlsx"
result_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/result"

Algo Database

In [4]:
# Read data from algo database
df_algo = pd.read_excel(algo_pathlink)
df_algo.drop(['Unnamed: 0', 'SCN', 'REPORTED_DATE', 'AUDITED', 'MONTH_IN_PERIOD', 'CREATED_DATE', 'UPDATED_DATE'], axis=1, inplace=True)
df_algo = df_algo.loc[df_algo['FREQ_CODE'] != 'Y']
df_algo['YEAR'] = df_algo['REPORT_DATE'].dt.year
df_algo['QUARTER'] = df_algo['REPORT_DATE'].dt.quarter
df_algo.drop(['REPORT_DATE', 'FREQ_CODE'], axis=1, inplace=True)

# Sort Values
df_algo.sort_values(by=['YEAR', 'QUARTER', 'SECURITY_CODE'], ascending=[True, True, True], inplace=True)

# Print how many rows are used
print("ALGO DATABASE COMPANY: There are: " + str(len(df_algo)) + " rows")
print("ALGO DATABASE COMPANY: There are: " + str(len(df_algo.columns)) + " columns")

ALGO DATABASE COMPANY: There are: 15397 rows
ALGO DATABASE COMPANY: There are: 28 columns

In [5]:
df_algo.head(1)

,SECURITY_CODE,CIS_1,CIS_2,CIS_10,CIS_11,CIS_20,CIS_21,CIS_22,CIS_23,CIS_24,...,CIS_51,CIS_52,CIS_521,CIS_60,CIS_62,CIS_61,CIS_70,CIS_71,YEAR,QUARTER
4072,AAA,1.573568e+12,-1.220192e+09,1.572347e+12,-1.393582e+12,1.787656e+11,3.604300e+10,-5.699372e+10,-5.052415e+10,191019839.0,...,-1.129647e+10,44342055.0,-1.125213e+10,6.265842e+10,4.173949e+09,5.848447e+10,0.0,0.0,2020,1

In [6]:
df_algo.columns

Index(['SECURITY_CODE', 'CIS_1', 'CIS_2', 'CIS_10', 'CIS_11', 'CIS_20',
       'CIS_21', 'CIS_22', 'CIS_23', 'CIS_24', 'CIS_25', 'CIS_26', 'CIS_30',
       'CIS_31', 'CIS_32', 'CIS_40', 'CIS_241', 'CIS_50', 'CIS_51', 'CIS_52',
       'CIS_521', 'CIS_60', 'CIS_62', 'CIS_61', 'CIS_70', 'CIS_71', 'YEAR',
       'QUARTER'],
      dtype='object')

Stockbiz Database

In [7]:
# Read data from sql database
df_sql = pd.read_excel(sql_pathlink)
df_sql.drop(['Unnamed: 0', 'ReportID', 'LastUpdated', 'ApprovedBy', 'Currency', 'CreatedBy', 'LastUpdatedBy',
             'ReportStatus', 'AssignedTo', 'CreatedAt'], axis=1, inplace=True)
df_sql = df_sql.loc[(df_sql['Quarter'] != 0) & (df_sql['Year'] > 2019)]
df_sql.sort_values(by=['Year', 'Quarter'], ascending=[True, True], inplace=True)

# Change the name of tickers
df_sql['SymbolID'] = df_sql['SymbolID'].map(dict_sql_symbol)

# Change the name of column SymbolID
df_sql.rename(
    columns={"SymbolID": "SECURITY_CODE",
             "Year": "YEAR",
             "Quarter": "QUARTER"},
    inplace=True
)

# Print how many rows are used
print("STOCKBIZ DATABASE COMPANY: There are: " + str(len(df_sql)) + " rows")
print("STOCKBIZ DATABASE COMPANY: There are: " + str(len(df_sql.columns)) + " columns")

STOCKBIZ DATABASE COMPANY: There are: 13876 rows
STOCKBIZ DATABASE COMPANY: There are: 29 columns

In [8]:
df_sql.head(1)

,SECURITY_CODE,QUARTER,YEAR,GrossSaleRevenues,DeductionRevenues,NetSales,CostOfGoodsSold,GrossProfit,FinancialActivitiesRevenues,FinancialExpenses,...,PresentCorporateIncomeTaxExpenses,DeferredIncomeTaxesExpenses,CorporateIncomeTaxExpenses,ProfitAfterIncomeTaxes,ProfitAttributableToMinorityInterestsAndFavourDevidends,ProfitAfterCorporateIncomeTaxes,Shares,EPS,DilutedEPS,Dividend
3,AGF,1,2020,1.733421e+11,1.052826e+09,1.722893e+11,1.510313e+11,2.125797e+10,325020739.0,1.055632e+10,...,0.0,0.0,0.0,-2090244699,0.0,-2090244699,NaN,NaN,NaN,NaN

In [9]:
df_sql.columns

Index(['SECURITY_CODE', 'QUARTER', 'YEAR', 'GrossSaleRevenues',
       'DeductionRevenues', 'NetSales', 'CostOfGoodsSold', 'GrossProfit',
       'FinancialActivitiesRevenues', 'FinancialExpenses',
       'OfWhichInterestExpenses', 'SellingExpenses', 'ManagingExpenses',
       'NetProfitFromOperatingActivities', 'OtherIncomes', 'OtherExpenses',
       'OtherProfits', 'ProfitOrLossInAssociates', 'TotalProfitBeforeTaxes',
       'PresentCorporateIncomeTaxExpenses', 'DeferredIncomeTaxesExpenses',
       'CorporateIncomeTaxExpenses', 'ProfitAfterIncomeTaxes',
       'ProfitAttributableToMinorityInterestsAndFavourDevidends',
       'ProfitAfterCorporateIncomeTaxes', 'Shares', 'EPS', 'DilutedEPS',
       'Dividend'],
      dtype='object')

In [10]:
# Get Symbol in banking sectors
general_symbol = df_sql['SECURITY_CODE'].unique()

print("There are: "+ str(len(general_symbol)) + " stocks")

There are: 1168 stocks

Process 2 tables

In [11]:
# Change the name of columns
same_column_name = pd.read_excel(same_field_data)
same_column_name.dropna(axis=0, inplace=True)

# Create a dict with key from bbs_sql and value from bbs_algo
dict_column_name = dict(zip(same_column_name['cis_sql'], same_column_name['cis_algo']))

In [12]:
same_column_name.head(1)

  cis_algo            cis_sql
0    CIS_1  GrossSaleRevenues

In [13]:
# Change the name of df_sql based on name of the similar data field in df_algo
df_sql.rename(
    columns=dict_column_name,
    inplace=True
)

In [14]:
df_sql.columns

Index(['SECURITY_CODE', 'QUARTER', 'YEAR', 'CIS_1', 'CIS_2', 'CIS_10',
       'CIS_11', 'CIS_20', 'CIS_21', 'CIS_22', 'CIS_23', 'CIS_25', 'CIS_26',
       'CIS_30', 'CIS_31', 'CIS_32', 'CIS_40', 'CIS_24', 'CIS_50', 'CIS_51',
       'CIS_52', 'CIS_521', 'CIS_61', 'CIS_62', 'CIS_60', 'Shares', 'CIS_70',
       'CIS_71', 'Dividend'],
      dtype='object')

In [15]:
# Fill NA values in df_sql
df_sql = df_sql.fillna(0)

# Change the type of data which is same between two tables
df_sql[same_column_name['cis_algo']] = df_sql[same_column_name['cis_algo']].astype('Int64')

In [16]:
df_algo.dtypes

SECURITY_CODE     object
CIS_1            float64
CIS_2            float64
CIS_10           float64
CIS_11           float64
CIS_20           float64
CIS_21           float64
CIS_22           float64
CIS_23           float64
CIS_24           float64
CIS_25           float64
CIS_26           float64
CIS_30           float64
CIS_31           float64
CIS_32           float64
CIS_40           float64
CIS_241            int64
CIS_50           float64
CIS_51           float64
CIS_52           float64
CIS_521          float64
CIS_60           float64
CIS_62           float64
CIS_61           float64
CIS_70           float64
CIS_71           float64
YEAR               int32
QUARTER            int32
dtype: object

In [17]:
for i in df_algo.columns:
    if df_algo[i].dtypes == "float64":
        df_algo[i] = np.floor(pd.to_numeric(df_algo[i], errors='coerce')).astype('Int64')
    else:
        pass

In [18]:
df_algo.dtypes

SECURITY_CODE    object
CIS_1             Int64
CIS_2             Int64
CIS_10            Int64
CIS_11            Int64
CIS_20            Int64
CIS_21            Int64
CIS_22            Int64
CIS_23            Int64
CIS_24            Int64
CIS_25            Int64
CIS_26            Int64
CIS_30            Int64
CIS_31            Int64
CIS_32            Int64
CIS_40            Int64
CIS_241           int64
CIS_50            Int64
CIS_51            Int64
CIS_52            Int64
CIS_521           Int64
CIS_60            Int64
CIS_62            Int64
CIS_61            Int64
CIS_70            Int64
CIS_71            Int64
YEAR              int32
QUARTER           int32
dtype: object

In [19]:
# Change the type of data in df_algo
# Just get the same data between two tables
# df_algo[same_column_name['cis_algo']] = df_algo[same_column_name['cis_algo']].apply(pd.to_numeric, errors='coerce').astype('Int64')

# Change the type of YEAR and QUARTER
df_algo =  df_algo.astype(
    {"YEAR": "Int64",
     "QUARTER": "Int64"},
)

# Get the data with same value in banking sector
df_algo = df_algo.loc[df_algo['SECURITY_CODE'].isin(general_symbol)]

In [20]:
df_algo

,SECURITY_CODE,CIS_1,CIS_2,CIS_10,CIS_11,CIS_20,CIS_21,CIS_22,CIS_23,CIS_24,...,CIS_51,CIS_52,CIS_521,CIS_60,CIS_62,CIS_61,CIS_70,CIS_71,YEAR,QUARTER
4072,AAA,1573567523917,-1220192091,1572347331826,-1393581779831,178765551995,36043002254,-56993723826,-50524146818,191019839,...,-11296469822,44342055,-11252127767,62658415975,4173949172,58484466803,0,0,2020,1
1881,AAM,41176954729,0,41176954729,-36136952828,5040001901,647222306,-9706573,-8899244,0,...,-89671229,0,-89671229,665805415,0,665805415,53,53,2020,1
7147,AAT,45982506053,0,45982506053,-38706873531,7275632522,34281976,-3036461139,-3013551586,0,...,-2053040107,0,-2053040107,8195431429,0,8195431429,236,236,2020,1
3941,AAV,91801696821,0,91801696821,-81492687679,10309009142,564761076,-1186605924,-1174714924,0,...,-1429428326,0,-1429428326,4366043385,585431998,3780611387,0,0,2020,1
1923,ABC,1032526888153,-642778419,1031884109734,-1007096427677,24787682057,5052100033,-893583481,-893583481,68502776,...,-2882482476,0,-2882482476,11136755943,2652758083,8483997860,416,0,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18053,XHC,139148487679,-2347488000,136800999679,-118615493905,18185505774,3023812,-4480574619,-4373577001,0,...,-60037256,0,-60037256,240013035,0,240013035,11,0,2023,1
13765,XMC,235020883034,-555907450,234464975584,-224724955544,9740020040,44068547850,-31977934921,-31965284921,0,...,-3673564558,0,-3673564558,-7823074046,-258158359,-7564915687,0,0,2023,1
17270,XMP,20266073240,0,20266073240,-7761028732,12505044508,2026089,-7054367263,-7054367263,0,...,0,0,0,4194400441,0,4194400441,0,0,2023,1
16087,XPH,8314766783,-568874378,7745892405,-5863686021,1882206384,266942623,0,0,0,...,0,0,0,-2282129853,0,-2282129853,0,0,2023,1
13654,YEG,61774689781,-1145993085,60628696696,-32503742032,28124954664,5697821375,-3903071132,-3903071132,1255948725,...,0,0,0,4009017312,-126814687,4135831999,132,132,2023,1

In [21]:
# Get the final same columns
final_column = ["SECURITY_CODE", "YEAR", "QUARTER"]

for i in same_column_name['cis_algo']:
    final_column.append(i)

In [22]:
df_sql = df_sql[final_column]
df_algo = df_algo[final_column]

In [23]:
def compare_table(df1, df2, columns) -> pd.DataFrame():
    
    return pd.merge(df1, df2, on=columns, how='outer', indicator=True).query("_merge != 'both'")

In [24]:
final_result = {"field": [], "value_not_same": []}
for i in range(3, len(final_column)):
    check_columns = ["SECURITY_CODE", 'YEAR', 'QUARTER', final_column[i]]
    result = compare_table(
        df1=df_sql[check_columns], 
        df2=df_algo[check_columns], 
        columns=check_columns)
    
    value_not_same = len(result)/(len(df_algo) + len(df_sql))*100
    
    final_result["field"].append(final_column[i])
    final_result["value_not_same"].append(value_not_same)

In [25]:
df = pd.DataFrame(final_result)

In [26]:
df.to_excel(result_pathlink+"/check_cis.xlsx")